# DB2-Salesforce connector: determine organization of each contact based on aggregated cluster and citation information.

In [6]:
# API settings
api_url = '/services/data/v43.0/sobjects'
external_id = 'Name'
object_id = 'contact_citation_asso__c'

# login parameters to be handled by Papermill
sql_login_params = {"username": "wang2506_ro", "password": "fnVnwcCS7iT45EsA"}
sf_login_params = {
    "grant_type": "password",
    "client_id": "3MVG95jctIhbyCppj0SNJ75IsZ1y8UPGZtSNF4j8FNVXz.De8Lu4jHm3rjRosAtsHy6qjHx3i4S_QbQzvBePG",
    "client_secret": "D1623C6D3607D4FC8004B92C761DFB6C1F70CCD129C5501E357028DFA00F5764",
    "username": "wang159-4j1v@force.com",
    "password": "napoleon0eZ3PQpQqE3C3z4wWqEqKGhQ8",
} #6Cel800D5w000001jiQu8885w0000003U7mRvSj2dp1TvmgHngvv195i9eJLpzFNuMZBHkjibu07pj7Mk18p7MQxBEO318UtbzlBv7BpFQU

In [7]:
import sys
#sys.path.append(lib_dir)
    
import pandas as pd
import time
import datetime

from DB2SalesforceAPI import DB2SalesforceAPI

## Obtain tool information from DB2

## Obtain Salesforce IDs

In [8]:
# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

Obtained Salesforce access token ...... True

In [9]:
# get Salesforce ID for contact-citation associations
sf_citation_asso_df = db_s.query_data('SELECT Id, Organization__c, Contact__c, Citation__c FROM contact_citation_asso__c')

[Success] Bulk job creation successful. Job ID = 7505w00000Mt5H7AAJ
{"id":"7505w00000Mt5H7AAJ","operation":"query","object":"contact_citation_asso__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:45:14.000+0000","systemModstamp":"2020-06-09T01:45:15.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000Mt5H7AAJ","operation":"query","object":"contact_citation_asso__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:45:14.000+0000","systemModstamp":"2020-06-09T01:45:17.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":4885,"retries":0,"totalProcessingTime":846}
[Success] Bulk job completed successfully.

In [10]:
# get Salesforce ID for contact-cluster associations
sf_cluster_asso_df = db_s.query_data('SELECT Id, Contact__c, Tool_Usage_Cluster__c FROM ContactToolClusterAssociation__c')

[Success] Bulk job creation successful. Job ID = 7505w00000Mt5HCAAZ
{"id":"7505w00000Mt5HCAAZ","operation":"query","object":"ContactToolClusterAssociation__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:45:27.000+0000","systemModstamp":"2020-06-09T01:45:27.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000Mt5HCAAZ","operation":"query","object":"ContactToolClusterAssociation__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:45:27.000+0000","systemModstamp":"2020-06-09T01:45:35.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":84869,"retries":0,"totalProcessingTime":7467}
[Success] Bulk job completed successfully.

In [11]:
# get Salesforce ID for contacts
sf_contact_df = db_s.query_data('SELECT Id, Organization_Overwrite__c, Organization_email_derived__c FROM Contact')

[Success] Bulk job creation successful. Job ID = 7505w00000Mt4fxAAB
{"id":"7505w00000Mt4fxAAB","operation":"query","object":"Contact","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:45:41.000+0000","systemModstamp":"2020-06-09T01:45:41.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000Mt4fxAAB","operation":"query","object":"Contact","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:45:41.000+0000","systemModstamp":"2020-06-09T01:45:41.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000Mt4fxAAB","operation":"query","object":"Contact","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:45:41.000+0000","systemModstamp":"2020-06-09T01:45:54.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":218085,"retries":0,"totalProcessingTime":11902}
[Success] Bulk job completed successfully.

In [12]:
# get Salesforce ID for citations
sf_citation_df = db_s.query_data('SELECT Id, Year__c FROM nanoHUB_citations__c')

[Success] Bulk job creation successful. Job ID = 7505w00000Mt5IpAAJ
{"id":"7505w00000Mt5IpAAJ","operation":"query","object":"nanoHUB_citations__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:46:08.000+0000","systemModstamp":"2020-06-09T01:46:08.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000Mt5IpAAJ","operation":"query","object":"nanoHUB_citations__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:46:08.000+0000","systemModstamp":"2020-06-09T01:46:09.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":2457,"retries":0,"totalProcessingTime":590}
[Success] Bulk job completed successfully.

In [13]:
# get Salesforce ID for clusters
sf_cluster_df = db_s.query_data('SELECT Id, Starting_Date__c FROM tool_usage_cluster__c')

[Success] Bulk job creation successful. Job ID = 7505w00000Mt5JNAAZ
{"id":"7505w00000Mt5JNAAZ","operation":"query","object":"tool_usage_cluster__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:46:20.000+0000","systemModstamp":"2020-06-09T01:46:20.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000Mt5JNAAZ","operation":"query","object":"tool_usage_cluster__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:46:20.000+0000","systemModstamp":"2020-06-09T01:46:21.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":3534,"retries":0,"totalProcessingTime":444}
[Success] Bulk job completed successfully.

## Determine domain by citation by latest citation

In [14]:
# display data used in this section
display(sf_citation_df.head(2))
display(sf_citation_asso_df.head(2))

                   Id  Year__c
0  a0t5w000008p7pSAAQ   2012.0
1  a0t5w000008p7pTAAQ   2013.0

,Citation__c,Contact__c,Id,Organization__c
0,a0t5w000008p7pSAAQ,0035w000034JLpOAAW,a0u5w00000RhVhTAAV,a0r5w00000V42cCAAR
1,a0t5w000008p7q1AAA,0035w000034JLpOAAW,a0u5w00000RhVhUAAV,a0r5w00000V42cCAAR

In [15]:
overall_df = pd.merge(sf_citation_df, sf_citation_asso_df, \
                      how='inner', left_on='Id', right_on='Citation__c', suffixes=['', '_citation_asso'])

# display
overall_df.head(2)

,Id,Year__c,Citation__c,Contact__c,Id_citation_asso,Organization__c
0,a0t5w000008p7pSAAQ,2012.0,a0t5w000008p7pSAAQ,0035w000034JLpOAAW,a0u5w00000RhVhTAAV,a0r5w00000V42cCAAR
1,a0t5w000008p7pSAAQ,2012.0,a0t5w000008p7pSAAQ,0035w000034JLfwAAG,a0u5w00000RhVi2AAF,a0r5w00000V42cCAAR

In [16]:
# infer contact's organziation by using latest citation organization
org_from_citation_df = overall_df.groupby('Contact__c').apply(lambda x: \
                                                   x.sort_values(by=['Year__c'], ascending=False).head(1).Organization__c.iloc[0])\
                                            .dropna().reset_index(name='Organization_citation_derived__c')

# display
org_from_citation_df.head(2)

           Contact__c Organization_citation_derived__c
0  0035w000031Vt92AAC               a0r5w00000V42pJAAR
1  0035w000031Vt9kAAC               a0r5w00000V42nyAAB

In [17]:
# Send data to Salesforce

df_sf = pd.DataFrame()

# Make sure NaN and NaT values are taken care of here
df_sf['Id']         = org_from_citation_df['Contact__c']
df_sf['Organization_citation_derived__c'] = org_from_citation_df['Organization_citation_derived__c']

sf_original_fields = df_sf.columns

# display
df_sf.head(2).T

                                                   0                   1
Id                                0035w000031Vt92AAC  0035w000031Vt9kAAC
Organization_citation_derived__c  a0r5w00000V42pJAAR  a0r5w00000V42nyAAB

In [18]:
# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

# specify Salesforce object ID and external ID
db_s.object_id = 'Contact'
db_s.external_id = 'Id'

Obtained Salesforce access token ...... True

In [19]:
# send data to Salesforce
db_s.send_data(df_sf)

[Success] Bulk job creation successful. Job ID = 7505w00000Mt5JhAAJ
hello
[Success] CSV upload successful. Job ID = 7505w00000Mt5JhAAJ
[Success] Closing job successful. Job ID = 7505w00000Mt5JhAAJ

In [20]:
# check status
from pprint import pprint

pprint(db_s.check_bulk_status())

{'apexProcessingTime': 0,
 'apiActiveProcessingTime': 0,
 'apiVersion': 47.0,
 'columnDelimiter': 'COMMA',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'createdById': '0055w00000ArpYvAAJ',
 'createdDate': '2020-06-09T01:46:35.000+0000',
 'externalIdFieldName': 'Id',
 'id': '7505w00000Mt5JhAAJ',
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'numberRecordsFailed': 0,
 'numberRecordsProcessed': 0,
 'object': 'Contact',
 'operation': 'upsert',
 'retries': 0,
 'state': 'InProgress',
 'systemModstamp': '2020-06-09T01:46:37.000+0000',
 'totalProcessingTime': 0}

## Determine cluster's domain by contact information

In [21]:
# display data used in this section
display(sf_cluster_asso_df.head(2))
display(sf_contact_df.head(2))

           Contact__c                  Id Tool_Usage_Cluster__c
0  0035w000034JtebAAC  a0x5w00000ZtjVpAAJ    a0w5w000009Q7DnAAK
1  0035w000034I5Y6AAK  a0x5w00000ZtjVqAAJ    a0w5w000009Q8G8AAK

                   Id Organization_Overwrite__c Organization_email_derived__c
0  0035w000031Vsp1AAC                       NaN                           NaN
1  0035w000031Vsp2AAC                       NaN            a0r5w00000V42cCAAR

In [22]:
# Convert time to datetime in Pandas
sf_cluster_df['Starting_Date__c'] = pd.to_datetime(sf_cluster_df.Starting_Date__c)

In [23]:
overall_df = pd.merge(sf_cluster_asso_df[['Contact__c', 'Tool_Usage_Cluster__c']], sf_contact_df, \
                                     how ='inner', left_on='Contact__c', right_on='Id' )

overall_df.drop(columns=['Id', 'Contact__c'], inplace=True)

# display
overall_df.head(2)

,Tool_Usage_Cluster__c,Organization_Overwrite__c,Organization_email_derived__c
0,a0w5w000009Q7DnAAK,NaN,a0r5w00000V42jBAAR
1,a0w5w000009Q8G8AAK,NaN,a0r5w00000V42jBAAR

In [24]:
# apply overwrite
overall_df['final_org'] = overall_df.fillna('').apply(lambda x: \
                                    x.Organization_Overwrite__c if x.Organization_Overwrite__c!='' \
                                    else x.Organization_email_derived__c, axis=1)

# display
overall_df.head(2)

,Tool_Usage_Cluster__c,Organization_Overwrite__c,Organization_email_derived__c,final_org
0,a0w5w000009Q7DnAAK,NaN,a0r5w00000V42jBAAR,a0r5w00000V42jBAAR
1,a0w5w000009Q8G8AAK,NaN,a0r5w00000V42jBAAR,a0r5w00000V42jBAAR

In [25]:
# infer the organization of this cluster through majority vote
org_from_cluster_df = overall_df.groupby('Tool_Usage_Cluster__c').final_org.apply(lambda x: \
                                                   x.mode().iloc[0])\
                                            .dropna().reset_index(name='Organization__c')

# display
org_from_cluster_df.head(2)

  Tool_Usage_Cluster__c     Organization__c
0    a0w5w000009Q7CqAAK  a0r5w00000V42cCAAR
1    a0w5w000009Q7CrAAK  a0r5w00000V42cCAAR

In [26]:
# Send data to Salesforce

df_sf = pd.DataFrame()

# Make sure NaN and NaT values are taken care of here
df_sf['Id']         = org_from_cluster_df['Tool_Usage_Cluster__c']
df_sf['Organization__c'] = org_from_cluster_df['Organization__c']

sf_original_fields = df_sf.columns

# display
df_sf.head(2).T

                                  0                   1
Id               a0w5w000009Q7CqAAK  a0w5w000009Q7CrAAK
Organization__c  a0r5w00000V42cCAAR  a0r5w00000V42cCAAR

In [27]:
# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

# specify Salesforce object ID and external ID
db_s.object_id = 'tool_usage_cluster__c'
db_s.external_id = 'Id'

Obtained Salesforce access token ...... True

In [28]:
# send data to Salesforce
db_s.send_data(df_sf)

[Success] Bulk job creation successful. Job ID = 7505w00000Mt5JmAAJ
hello
[Success] CSV upload successful. Job ID = 7505w00000Mt5JmAAJ
[Success] Closing job successful. Job ID = 7505w00000Mt5JmAAJ

In [29]:
# check status
from pprint import pprint

pprint(db_s.check_bulk_status())

{'apexProcessingTime': 0,
 'apiActiveProcessingTime': 0,
 'apiVersion': 47.0,
 'columnDelimiter': 'COMMA',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'createdById': '0055w00000ArpYvAAJ',
 'createdDate': '2020-06-09T01:46:44.000+0000',
 'externalIdFieldName': 'Id',
 'id': '7505w00000Mt5JmAAJ',
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'numberRecordsFailed': 0,
 'numberRecordsProcessed': 0,
 'object': 'tool_usage_cluster__c',
 'operation': 'upsert',
 'retries': 0,
 'state': 'UploadComplete',
 'systemModstamp': '2020-06-09T01:46:45.000+0000',
 'totalProcessingTime': 0}

## Determine domain by cluster by latest cluster

In [30]:
# display data used in this section
display(sf_cluster_df.head(2))
display(sf_cluster_asso_df.head(2))
display(org_from_cluster_df.head(2))
display(sf_contact_df.head(2))

                   Id Starting_Date__c
0  a0w5w000009Q7CqAAK       2013-09-13
1  a0w5w000009Q7CrAAK       2013-09-15

           Contact__c                  Id Tool_Usage_Cluster__c
0  0035w000034JtebAAC  a0x5w00000ZtjVpAAJ    a0w5w000009Q7DnAAK
1  0035w000034I5Y6AAK  a0x5w00000ZtjVqAAJ    a0w5w000009Q8G8AAK

  Tool_Usage_Cluster__c     Organization__c
0    a0w5w000009Q7CqAAK  a0r5w00000V42cCAAR
1    a0w5w000009Q7CrAAK  a0r5w00000V42cCAAR

                   Id Organization_Overwrite__c Organization_email_derived__c
0  0035w000031Vsp1AAC                       NaN                           NaN
1  0035w000031Vsp2AAC                       NaN            a0r5w00000V42cCAAR

In [31]:
overall_df = pd.merge(sf_cluster_asso_df, org_from_cluster_df,\
                      how='inner', left_on='Tool_Usage_Cluster__c', right_on='Tool_Usage_Cluster__c')
overall_df.drop(columns='Id', inplace=True)

# join cluster date
overall_df = pd.merge(overall_df, sf_cluster_df, \
                     how='inner', left_on='Tool_Usage_Cluster__c', right_on='Id')
overall_df.drop(columns='Id', inplace=True)

# display
overall_df.head(2)

,Contact__c,Tool_Usage_Cluster__c,Organization__c,Starting_Date__c
0,0035w000034JtebAAC,a0w5w000009Q7DnAAK,a0r5w00000V42jBAAR,2014-10-16
1,0035w000034JtpPAAS,a0w5w000009Q7DnAAK,a0r5w00000V42jBAAR,2014-10-16

In [32]:
# infer the organization of this cluster through majority vote
contact_org_from_cluster_df = overall_df.groupby('Contact__c').apply(lambda x: \
                                                   x.sort_values(by=['Starting_Date__c'], ascending=False).head(1).Organization__c.iloc[0])\
                                            .dropna().reset_index(name='Organization_cluster_derived__c')

# display
contact_org_from_cluster_df.head(2)

           Contact__c Organization_cluster_derived__c
0  0035w000031Vsp8AAC              a0r5w00000V42cCAAR
1  0035w000031VspAAAS              a0r5w00000V42cCAAR

In [33]:
contact_org_from_cluster_df = contact_org_from_cluster_df[contact_org_from_cluster_df.Organization_cluster_derived__c!='']

In [34]:
# Send data to Salesforce

df_sf = pd.DataFrame()

# Make sure NaN and NaT values are taken care of here
df_sf['Id']         = contact_org_from_cluster_df['Contact__c']
df_sf['Organization_cluster_derived__c'] = contact_org_from_cluster_df['Organization_cluster_derived__c']

sf_original_fields = df_sf.columns

# display
df_sf.head(2).T

                                                  0                   1
Id                               0035w000031Vsp8AAC  0035w000031VspAAAS
Organization_cluster_derived__c  a0r5w00000V42cCAAR  a0r5w00000V42cCAAR

In [35]:
# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

# specify Salesforce object ID and external ID
db_s.object_id = 'Contact'
db_s.external_id = 'Id'

Obtained Salesforce access token ...... True

In [36]:
# send data to Salesforce
db_s.send_data(df_sf)

[Success] Bulk job creation successful. Job ID = 7505w00000Mt5KVAAZ
hello
[Success] CSV upload successful. Job ID = 7505w00000Mt5KVAAZ
[Success] Closing job successful. Job ID = 7505w00000Mt5KVAAZ

In [37]:
# check status
from pprint import pprint

pprint(db_s.check_bulk_status())

{'apexProcessingTime': 0,
 'apiActiveProcessingTime': 0,
 'apiVersion': 47.0,
 'columnDelimiter': 'COMMA',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'createdById': '0055w00000ArpYvAAJ',
 'createdDate': '2020-06-09T01:47:48.000+0000',
 'externalIdFieldName': 'Id',
 'id': '7505w00000Mt5KVAAZ',
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'numberRecordsFailed': 0,
 'numberRecordsProcessed': 0,
 'object': 'Contact',
 'operation': 'upsert',
 'retries': 0,
 'state': 'InProgress',
 'systemModstamp': '2020-06-09T01:47:52.000+0000',
 'totalProcessingTime': 0}

## Determine domain by cluster by latest cluster

In [38]:
# get Salesforce ID for contact-cluster associations
sf_contact_domain_df = db_s.query_data('SELECT Id, Organization_citation_derived__c,\
Organization_cluster_derived__c, Organization_email_derived__c, Organization_Overwrite__c FROM Contact')

[Success] Bulk job creation successful. Job ID = 7505w00000Mt5KaAAJ
{"id":"7505w00000Mt5KaAAJ","operation":"query","object":"Contact","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:47:52.000+0000","systemModstamp":"2020-06-09T01:47:52.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000Mt5KaAAJ","operation":"query","object":"Contact","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:47:52.000+0000","systemModstamp":"2020-06-09T01:47:52.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000Mt5KaAAJ","operation":"query","object":"Contact","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-06-09T01:47:52.000+0000","systemModstamp":"2020-06-09T01:48:11.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":218085,"retries":0,"totalProcessingTime":15439}
[Success] Bulk job completed successfully.

In [39]:
# display
display(sf_contact_domain_df.head(2).T)

                                                   0                   1
Id                                0035w000031Vsp1AAC  0035w000031Vsp2AAC
Organization_Overwrite__c                        NaN                 NaN
Organization_citation_derived__c                 NaN                 NaN
Organization_cluster_derived__c                  NaN                 NaN
Organization_email_derived__c                    NaN  a0r5w00000V42cCAAR

In [40]:
def calc_final_domain(this_row):
    
    # if overwrite exists
    if this_row.Organization_Overwrite__c != '':
        return this_row.Organization_Overwrite__c
    
    # if citation exists
    if this_row.Organization_citation_derived__c != '':
        return this_row.Organization_citation_derived__c
    
    # if email exists
    if this_row.Organization_email_derived__c != '':
        return this_row.Organization_email_derived__c
    
    # if cluster exists
    if this_row.Organization_cluster_derived__c != '':
        return this_row.Organization_cluster_derived__c
    
    return None


sf_contact_domain_df['Organization_composite__c'] = sf_contact_domain_df.fillna('').apply(calc_final_domain, axis=1)

sf_contact_domain_df = sf_contact_domain_df[sf_contact_domain_df['Organization_composite__c'].notnull()]

# display
sf_contact_domain_df.head(4).T

,1,2,3,4
Id,0035w000031Vsp2AAC,0035w000031Vsp3AAC,0035w000031Vsp4AAC,0035w000031Vsp5AAC
Organization_Overwrite__c,NaN,NaN,NaN,NaN
Organization_citation_derived__c,NaN,NaN,NaN,NaN
Organization_cluster_derived__c,NaN,NaN,NaN,NaN
Organization_email_derived__c,a0r5w00000V42cCAAR,a0r5w00000V42cCAAR,a0r5w00000V42cCAAR,a0r5w00000V42cCAAR
Organization_composite__c,a0r5w00000V42cCAAR,a0r5w00000V42cCAAR,a0r5w00000V42cCAAR,a0r5w00000V42cCAAR

In [41]:
# Send data to Salesforce

df_sf = pd.DataFrame()

# Make sure NaN and NaT values are taken care of here
df_sf['Id']         = sf_contact_domain_df['Id']
df_sf['Organization_composite__c'] = sf_contact_domain_df['Organization_composite__c']

sf_original_fields = df_sf.columns

# display
df_sf.head(2).T

                                            1                   2
Id                         0035w000031Vsp2AAC  0035w000031Vsp3AAC
Organization_composite__c  a0r5w00000V42cCAAR  a0r5w00000V42cCAAR

In [42]:
# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

# specify Salesforce object ID and external ID
db_s.object_id = 'Contact'
db_s.external_id = 'Id'

Obtained Salesforce access token ...... True

In [43]:
# send data to Salesforce
db_s.send_data(df_sf)

[Success] Bulk job creation successful. Job ID = 7505w00000Mt5KkAAJ
hello
[Success] CSV upload successful. Job ID = 7505w00000Mt5KkAAJ
[Success] Closing job successful. Job ID = 7505w00000Mt5KkAAJ

In [44]:
# check status
from pprint import pprint

pprint(db_s.check_bulk_status())

{'apexProcessingTime': 0,
 'apiActiveProcessingTime': 0,
 'apiVersion': 47.0,
 'columnDelimiter': 'COMMA',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'createdById': '0055w00000ArpYvAAJ',
 'createdDate': '2020-06-09T01:48:37.000+0000',
 'externalIdFieldName': 'Id',
 'id': '7505w00000Mt5KkAAJ',
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'numberRecordsFailed': 0,
 'numberRecordsProcessed': 0,
 'object': 'Contact',
 'operation': 'upsert',
 'retries': 0,
 'state': 'InProgress',
 'systemModstamp': '2020-06-09T01:48:43.000+0000',
 'totalProcessingTime': 0}