# SF update contacted leads

In [1]:
# API settings
api_url = '/services/data/v43.0/sobjects'
c_ext_id = 'nanoHUB_user_ID__c'
c_obj_id = 'Contact'
l_ext_id = 'SF_indexer'
l_obj_id = 'Lead'


# login parameters to be handled by Papermill
sql_login_params = {"username": "wang2506_ro", "password": "fnVnwcCS7iT45EsA"}
sf_login_params = {
    "grant_type": "password",
    "client_id": "3MVG95jctIhbyCppj0SNJ75IsZ1y8UPGZtSNF4j8FNVXz.De8Lu4jHm3rjRosAtsHy6qjHx3i4S_QbQzvBePG",
    "client_secret": "D1623C6D3607D4FC8004B92C761DFB6C1F70CCD129C5501E357028DFA00F5764",
    "username":"wang2506@purdue.edu",
    "password":"sf2021shitOPmlIiFMLnrudgC6oSX0WV1T",  
}

In [2]:
import sys
#sys.path.append(lib_dir)

import pandas as pd
import datetime

## Obtain all contacts and leads from SF

In [4]:
from DB2SalesforceAPI import DB2SalesforceAPI

db_s = DB2SalesforceAPI(sf_login_params)
lead_df = db_s.query_data('SELECT Id, SF_indexer__c, Contact_Date__c, Email, NH_Registration_Date__c, \
Lead_Time__c, NH_ID__c, Contact_ID__c, Venue__c FROM Lead') #WHERE NH_ID__c = null')

Obtained Salesforce access token ...... True
[Success] Bulk job creation successful. Job ID = 7505w00000RGS2QAAX
{"id":"7505w00000RGS2QAAX","operation":"query","object":"Lead","createdById":"0055w00000DM5bOAAT","createdDate":"2020-10-31T04:41:15.000+0000","systemModstamp":"2020-10-31T04:41:15.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000RGS2QAAX","operation":"query","object":"Lead","createdById":"0055w00000DM5bOAAT","createdDate":"2020-10-31T04:41:15.000+0000","systemModstamp":"2020-10-31T04:41:15.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000RGS2QAAX","operation":"query","object":"Lead","createdById":"0055w00000DM5bOAAT","createdDate":"2020-10-31T04:41:15.000+0000","systemModstamp":"2020-10-31T04:41:15.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000RGS2QAAX","operation":"query","object":"Lead","createdById":"0055w00000DM5bOAAT","createdDate":"2020-10-31T04:41:15.000+0000","systemModstamp":"2020-10-31T04:41:15.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000RGS2QAAX","operation":"query","object":"Lead","createdById":"0055w00000DM5bOAAT","createdDate":"2020-10-31T04:41:15.000+0000","systemModstamp":"2020-10-31T04:41:55.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":6794,"retries":0,"totalProcessingTime":750}
[Success] Bulk job completed successfully.

In [5]:
lead_emails = lead_df['Email'].dropna().to_list()
print(lead_emails[:5])
test_email = '('+lead_emails[0]+','+lead_emails[1]+')'
print(lead_emails[0]+','+lead_emails[1])
print(','.join(lead_emails)[:50])

['alex@bco.com', 'info@test.com', 'sandra@nationalseashores.com', 'bsanders@trekinc.com', 'a.hennawy@hotmail.com']
alex@bco.com,info@test.com
alex@bco.com,info@test.com,sandra@nationalseashore

In [6]:
contact_df = db_s.query_data('SELECT Id, Email, Lead_Time__c, Lead_ID__c, Lead_Venue__c, Lead_Contact_Date__c, \
nanoHUB_user_ID__c, nanoHUB_registration_date__c FROM Contact')

[Success] Bulk job creation successful. Job ID = 7505w00000RGS3dAAH
{"id":"7505w00000RGS3dAAH","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-10-31T04:41:59.000+0000","systemModstamp":"2020-10-31T04:41:59.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000RGS3dAAH","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-10-31T04:41:59.000+0000","systemModstamp":"2020-10-31T04:41:59.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000RGS3dAAH","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-10-31T04:41:59.000+0000","systemModstamp":"2020-10-31T04:41:59.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000RGS3dAAH","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-10-31T04:41:59.000+0000","systemModstamp":"2020-10-31T04:42:29.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":229457,"retries":0,"totalProcessingTime":28165}
[Success] Bulk job completed successfully.

In [7]:
display(lead_df.head(5))
print(lead_df.shape)

,Contact_Date__c,Contact_ID__c,Email,Id,Lead_Time__c,NH_ID__c,NH_Registration_Date__c,SF_indexer__c,Venue__c
0,NaN,NaN,alex@bco.com,00Q5w00001otOM1EAM,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,info@test.com,00Q5w00001otOM2EAM,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,00Q5w00001otOM3EAM,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,00Q5w00001otOM4EAM,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,sandra@nationalseashores.com,00Q5w00001otOM5EAM,NaN,NaN,NaN,NaN,NaN

(6794, 9)

In [8]:
display(contact_df.head(5))
print(contact_df.shape)

,Email,Id,Lead_Contact_Date__c,Lead_ID__c,Lead_Time__c,Lead_Venue__c,nanoHUB_registration_date__c,nanoHUB_user_ID__c
0,nkissebe@gmail.com,0035w000031Vsp1AAC,NaN,NaN,NaN,NaN,2014-11-13,998.0
1,support@nanohub.org,0035w000031Vsp2AAC,NaN,NaN,NaN,NaN,2008-11-19,1683.0
2,gridstat@nanohub.org,0035w000031Vsp3AAC,NaN,NaN,NaN,NaN,2008-11-18,1684.0
3,ncn@nanohub.org,0035w000031Vsp4AAC,NaN,NaN,NaN,NaN,2008-11-11,1685.0
4,apps@nanohub.org,0035w000031Vsp5AAC,NaN,NaN,NaN,NaN,2014-06-26,1686.0

(229457, 8)

## Find email address matches

In [9]:
# find contacts and leads
matches = {} #key:value - l_email index:c_email index

c_emails = contact_df['Email'].to_list()
l_emails = lead_df['Email'].fillna(' ').to_list()

for i,j in enumerate(l_emails):
    if j != ' ' and j in c_emails:
        matches[i] = c_emails.index(j)

In [10]:
# extract separate lists for indexes for leads and contacts
l_inds = list(matches.keys())
c_inds = list(matches.values())

# ensure equal matches
print(len(l_inds))
print(len(c_inds))

308
308

In [15]:
# extract dfs of interest
c_df = contact_df.iloc[c_inds,:].reset_index(drop=True)
l_df = lead_df.iloc[l_inds,:].reset_index(drop=True)

display(c_df.head(5))
display(l_df.head(5))

,Email,Id,Lead_Contact_Date__c,Lead_ID__c,Lead_Time__c,Lead_Venue__c,nanoHUB_registration_date__c,nanoHUB_user_ID__c
0,a-avila@uniandes.edu.co,0035w000034I2xnAAC,NaN,NaN,NaN,NaN,2011-03-29,53714.0
1,cosceev@mbe.uni-hannover.de,0035w000034JH9CAAW,NaN,NaN,NaN,NaN,2009-04-20,35724.0
2,arungoud@purdue.edu,0035w000034JMMCAA4,NaN,NaN,NaN,NaN,2010-01-12,40615.0
3,antonioramon.lazaro@urv.net,0035w000034JJbuAAG,NaN,NaN,NaN,NaN,2005-03-10,8578.0
4,antonio.martinez@glasgow.ac.uk,0035w000031VyEiAAK,NaN,NaN,NaN,NaN,2010-12-23,50339.0

,Contact_Date__c,Contact_ID__c,Email,Id,Lead_Time__c,NH_ID__c,NH_Registration_Date__c,SF_indexer__c,Venue__c
0,NaN,NaN,a-avila@uniandes.edu.co,00Q5w00001pSIHzEAO,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,cosceev@mbe.uni-hannover.de,00Q5w00001pSII6EAO,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,arungoud@purdue.edu,00Q5w00001pSIIFEA4,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,antonioramon.lazaro@urv.net,00Q5w00001pSIIUEA4,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,antonio.martinez@glasgow.ac.uk,00Q5w00001pSIIXEA4,NaN,NaN,NaN,NaN,NaN

In [16]:
# swap IDs
c_df['Lead_ID__c'] = l_df['Id']
l_df['Contact_ID__c'] = c_df['Id']

# populate entries in c_df
c_df['Lead_Venue__c'] = l_df['Venue__c']
#c_df['Lead_Contact_Date__c'] = l_df['']

# populate entries in l_df
l_df['NH_Registration_Date__c'] = c_df['nanoHUB_registration_date__c']
l_df['NH_ID__c'] = c_df['nanoHUB_user_ID__c']

In [17]:
# calculate Lead_Time__c

In [18]:
# verify
display(l_df.head(5))
display(c_df.head(5))

,Contact_Date__c,Contact_ID__c,Email,Id,Lead_Time__c,NH_ID__c,NH_Registration_Date__c,SF_indexer__c,Venue__c
0,NaN,0035w000034I2xnAAC,a-avila@uniandes.edu.co,00Q5w00001pSIHzEAO,NaN,53714.0,2011-03-29,NaN,NaN
1,NaN,0035w000034JH9CAAW,cosceev@mbe.uni-hannover.de,00Q5w00001pSII6EAO,NaN,35724.0,2009-04-20,NaN,NaN
2,NaN,0035w000034JMMCAA4,arungoud@purdue.edu,00Q5w00001pSIIFEA4,NaN,40615.0,2010-01-12,NaN,NaN
3,NaN,0035w000034JJbuAAG,antonioramon.lazaro@urv.net,00Q5w00001pSIIUEA4,NaN,8578.0,2005-03-10,NaN,NaN
4,NaN,0035w000031VyEiAAK,antonio.martinez@glasgow.ac.uk,00Q5w00001pSIIXEA4,NaN,50339.0,2010-12-23,NaN,NaN

,Email,Id,Lead_Contact_Date__c,Lead_ID__c,Lead_Time__c,Lead_Venue__c,nanoHUB_registration_date__c,nanoHUB_user_ID__c
0,a-avila@uniandes.edu.co,0035w000034I2xnAAC,NaN,00Q5w00001pSIHzEAO,NaN,NaN,2011-03-29,53714.0
1,cosceev@mbe.uni-hannover.de,0035w000034JH9CAAW,NaN,00Q5w00001pSII6EAO,NaN,NaN,2009-04-20,35724.0
2,arungoud@purdue.edu,0035w000034JMMCAA4,NaN,00Q5w00001pSIIFEA4,NaN,NaN,2010-01-12,40615.0
3,antonioramon.lazaro@urv.net,0035w000034JJbuAAG,NaN,00Q5w00001pSIIUEA4,NaN,NaN,2005-03-10,8578.0
4,antonio.martinez@glasgow.ac.uk,0035w000031VyEiAAK,NaN,00Q5w00001pSIIXEA4,NaN,NaN,2010-12-23,50339.0

## Upsert to SF

In [20]:
from DB2SalesforceAPI import DB2SalesforceAPI

# create DB2 to Salesforce API object
db_s_c = DB2SalesforceAPI(sf_login_params)

db_s_c.object_id = 'Contact'
db_s_c.external_id = 'Id'

db_s_c.send_data(c_df)

Obtained Salesforce access token ...... True
[Success] Bulk job creation successful. Job ID = 7505w00000RGS4MAAX
hello
[Success] CSV upload successful. Job ID = 7505w00000RGS4MAAX
[Success] Closing job successful. Job ID = 7505w00000RGS4MAAX

In [27]:
# check status
db_s_c.check_bulk_status()

{'id': '7505w00000RGS4MAAX',
 'operation': 'upsert',
 'object': 'Contact',
 'createdById': '0055w00000DM5bOAAT',
 'createdDate': '2020-10-31T04:46:26.000+0000',
 'systemModstamp': '2020-10-31T04:46:31.000+0000',
 'state': 'InProgress',
 'externalIdFieldName': 'Id',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'apiVersion': 47.0,
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'columnDelimiter': 'COMMA',
 'numberRecordsProcessed': 200,
 'numberRecordsFailed': 6,
 'retries': 0,
 'totalProcessingTime': 0,
 'apiActiveProcessingTime': 5154,
 'apexProcessingTime': 2417}

In [28]:
db_s_c.check_bulk_failed_results()

'"sf__Id","sf__Error",Email,Id,Lead_Contact_Date__c,Lead_ID__c,Lead_Time__c,Lead_Venue__c,nanoHUB_registration_date__c,nanoHUB_user_ID__c\n"0035w000031Vz0BAAS","DUPLICATE_VALUE:Duplicate id specified:0035w000031Vz0BAAS:--","jnunez@imse-cnm.csic.es","0035w000031Vz0BAAS","","00Q5w00001pSJ6TEAW","","","2011-01-28","51117.0"\n"0035w000031Vz0BAAS","DUPLICATE_VALUE:Duplicate id specified:0035w000031Vz0BAAS:--","jnunez@imse-cnm.csic.es","0035w000031Vz0BAAS","","00Q5w00001pSJ6UEAW","","","2011-01-28","51117.0"\n"0035w000034JyX4AAK","DUPLICATE_VALUE:Duplicate id specified:0035w000034JyX4AAK:--","m-hersam@northwestern.edu","0035w000034JyX4AAK","","00Q5w00001pSJJ2EAO","","","2018-12-19","217252.0"\n"0035w000034JyX4AAK","DUPLICATE_VALUE:Duplicate id specified:0035w000034JyX4AAK:--","m-hersam@northwestern.edu","0035w000034JyX4AAK","","00Q5w00001pSJOWEA4","","","2018-12-19","217252.0"\n"0035w000034JqAeAAK","DUPLICATE_VALUE:Duplicate id specified:0035w000034JqAeAAK:--","sergio.catalan@uam.es","0035w000034JqAeAAK","","00Q5w00001pSJnOEAW","","","2016-08-30","150906.0"\n"0035w000034JqAeAAK","DUPLICATE_VALUE:Duplicate id specified:0035w000034JqAeAAK:--","sergio.catalan@uam.es","0035w000034JqAeAAK","","00Q5w00001qlpH9EAI","","","2016-08-30","150906.0"\n"0035w00003BRTwzAAH","DUPLICATE_VALUE:Duplicate id specified:0035w00003BRTwzAAH:--","ta@asu.edu","0035w00003BRTwzAAH","","00Q5w00001sJfR5EAK","","MSE Delivra Engagement","2020-07-30","295567.0"\n"0035w000034K5VBAA0","DUPLICATE_VALUE:Duplicate id specified:0035w000034K5VBAA0:--","i.mirasifali@gmail.com","0035w000034K5VBAA0","","00Q5w00001tJzwVEAS","","MSE SWS 2020 - A","2018-11-14","214226.0"\n"0035w00003BRTwzAAH","DUPLICATE_VALUE:Duplicate id specified:0035w00003BRTwzAAH:--","ta@asu.edu","0035w00003BRTwzAAH","","00Q5w00001tJzx2EAC","","MSE Delivra Engagement;MSE SWS 2020 - A","2020-07-30","295567.0"\n"0035w000034K5VBAA0","DUPLICATE_VALUE:Duplicate id specified:0035w000034K5VBAA0:--","i.mirasifali@gmail.com","0035w000034K5VBAA0","","00Q5w00001tLZcgEAG","","Citrine Material Science workshop - R","2018-11-14","214226.0"\n'

In [23]:
# create DB2 to Salesforce API object
db_s_l = DB2SalesforceAPI(sf_login_params)

db_s_l.object_id = 'Lead'
db_s_l.external_id = 'Id'

db_s_l.send_data(l_df)

Obtained Salesforce access token ...... True
[Success] Bulk job creation successful. Job ID = 7505w00000RGS4RAAX
hello
[Success] CSV upload successful. Job ID = 7505w00000RGS4RAAX
[Success] Closing job successful. Job ID = 7505w00000RGS4RAAX

In [29]:
# check status
db_s_l.check_bulk_status()

{'id': '7505w00000RGS4RAAX',
 'operation': 'upsert',
 'object': 'Lead',
 'createdById': '0055w00000DM5bOAAT',
 'createdDate': '2020-10-31T04:46:29.000+0000',
 'systemModstamp': '2020-10-31T04:46:32.000+0000',
 'state': 'JobComplete',
 'externalIdFieldName': 'Id',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'apiVersion': 47.0,
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'columnDelimiter': 'COMMA',
 'numberRecordsProcessed': 308,
 'numberRecordsFailed': 0,
 'retries': 0,
 'totalProcessingTime': 1253,
 'apiActiveProcessingTime': 1080,
 'apexProcessingTime': 239}

In [30]:
db_s_l.check_bulk_failed_results()

'"sf__Id","sf__Error",Contact_Date__c,Contact_ID__c,Email,Id,Lead_Time__c,NH_ID__c,NH_Registration_Date__c,SF_indexer__c,Venue__c\n'