# DB2-Salesforce connector: DELETE all records within an object

In [3]:
# API settings
bulk_api_threshold = 100 # if more records than this, use Bulk API instead
disallow_bulk_api = False # if Bulk API is allowed

api_url = '/services/data/v43.0/sobjects'
external_id = 'Record_ID__c'
object_id = 'nanoHUB_citations__c'

# login parameters to be handled by Papermill
sf_login_params = None 
sql_login_params = None

In [4]:
# Parameters
sql_login_params = {"username": "wang159_ro", "password": "napoleon0"}
sf_login_params = {
    "grant_type": "password",
    "client_id": "3MVG95jctIhbyCppj0SNJ75IsZ1y8UPGZtSNF4j8FNVXz.De8Lu4jHm3rjRosAtsHy6qjHx3i4S_QbQzvBePG",
    "client_secret": "D1623C6D3607D4FC8004B92C761DFB6C1F70CCD129C5501E357028DFA00F5764",
    "username":"wang2506@purdue.edu",
    "password":"sf2021shitOPmlIiFMLnrudgC6oSX0WV1T",    
} 
    #"username": "wang159-4j1v@force.com",
    #"password": "napoleon0eZ3PQpQqE3C3z4wWqEqKGhQ8",

In [5]:
import pandas as pd
import datetime
import sys
sys.path.append('/home/users/wang2506/nanohub_salesforce_integ/salesforce')

## Match data with Salesforce format

In [9]:
%load_ext autoreload
%autoreload 2

from DB2SalesforceAPI import DB2SalesforceAPI

# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

# get Salesforce ID for citations
sf_citationID_df = db_s.query_data('SELECT Id, Record_ID__c FROM nanoHUB_citations__c')

sf_citationID_df['Record_ID__c'] = sf_citationID_df['Record_ID__c'].astype('int')

Obtained Salesforce access token ...... True
[Success] Bulk job creation successful. Job ID = 7505w00000M1qoTAAR
{"id":"7505w00000M1qoTAAR","operation":"query","object":"nanoHUB_citations__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-05-15T00:19:04.000+0000","systemModstamp":"2020-05-15T00:19:04.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000M1qoTAAR","operation":"query","object":"nanoHUB_citations__c","createdById":"0055w00000ArpYvAAJ","createdDate":"2020-05-15T00:19:04.000+0000","systemModstamp":"2020-05-15T00:19:07.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":2187,"retries":0,"totalProcessingTime":265}
[Success] Bulk job completed successfully.

In [8]:
sf_citationID_df

                      Id  Record_ID__c
0     a0t5w000008oQ2hAAE      10000001
1     a0t5w000008oQ2iAAE      10000003
2     a0t5w000008oQ2jAAE      10000007
3     a0t5w000008oQ2kAAE      10000008
4     a0t5w000008oQ2lAAE      10000009
...                  ...           ...
2182  a0t5w000008oQbtAAE          1538
2183  a0t5w000008oQbuAAE          2049
2184  a0t5w000008oQbvAAE          2305
2185  a0t5w000008oQbwAAE          1793
2186  a0t5w000008oQbxAAE           256

[2187 rows x 2 columns]

## To Salesforce Sales Cloud CRM

In [31]:
%load_ext autoreload
%autoreload 2

from DB2SalesforceAPI import DB2SalesforceAPI

# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

# specify Salesforce object ID and external ID
db_s.object_id = 'nanoHUB_citations__c'
db_s.external_id = 'Record_ID__c'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Obtained Salesforce access token ...... True

In [32]:
# send data to Salesforce
db_s.delete_data(sf_citationID_df[['Id']])

[Success] Bulk job creation successful. Job ID = 7505w00000M1qtLAAR
[Success] CSV upload successful. Job ID = 7505w00000M1qtLAAR
[Success] Closing job successful. Job ID = 7505w00000M1qtLAAR

In [36]:
# check status
db_s.check_bulk_status()

{'id': '7505w00000M1qtLAAR',
 'operation': 'delete',
 'object': 'nanoHUB_citations__c',
 'createdById': '0055w00000ArpYvAAJ',
 'createdDate': '2020-05-15T00:24:52.000+0000',
 'systemModstamp': '2020-05-15T00:25:51.000+0000',
 'state': 'JobComplete',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'apiVersion': 47.0,
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'columnDelimiter': 'COMMA',
 'numberRecordsProcessed': 2187,
 'numberRecordsFailed': 0,
 'retries': 0,
 'totalProcessingTime': 58136,
 'apiActiveProcessingTime': 54615,
 'apexProcessingTime': 43246}