In [1]:
from pathlib import Path
import pandas as pd
import os 
import ast
from datetime import datetime
from nanoHUB.clustering.run_clustering import TwoSemesterTimeFrameGenerator

nanoHUB - Serving Students, Researchers & Instructors

/home/saxenap/venv/lib/python3.8/site-packages/requests/__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.0.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [2]:
algorithm = 'xufeng'

data_dir = Path(os.getenv('APP_DIR') + '/nanoHUB/clustering/output')
results_dir = data_dir / algorithm / 'by_semester' 
file_path = results_dir / '2022-01-01_2022-07-01' / 'intra_tool_cluster_df.csv'

In [3]:
intra_tool_cluster_df = pd.read_csv(file_path)
display(intra_tool_cluster_df.head(2))

,Unnamed: 0,tool,start,end,mean_lon,mean_lat,user_set,ip_set
0,0,0,2022-03-28,2022-04-01,-86.792,36.151501,"{'petersongcy', 'adamfortner', 'valentjg', 'er...","{'129.59.122.23', '129.59.122.110', '107.142.1..."
1,1,1,2022-04-02,2022-04-06,-86.792,36.151501,"{'cheysirota', 'petersongcy', 'derek.d.mulholl...","{'129.59.122.23', '129.59.122.21', '129.59.122..."

In [4]:
columns = ['user_set']
intra_tool_cluster_df[columns] = intra_tool_cluster_df[columns].applymap(lambda x: ast.literal_eval(x))

df = pd.DataFrame(intra_tool_cluster_df['user_set'].values.tolist()) \
            .rename(columns = lambda x: '{}'.format(x+1))
display(df.head(2))

,1,2,3,4,5,6,7,8,9,10,...,197,198,199,200,201,202,203,204,205,206
0,profcgdl,diana.florencio,matthew.j.mcgowan,alicemb00,andydu,valentjg,adamfortner,franked1,laurenc0621,lauren.m.grohowski,...,None,None,None,None,None,None,None,None,None,None
1,diana.florencio,adam.b.levin,eric.l.zhang,derek.d.mulholland,cheysirota,franked1,andrewjfish,paul.g.abdelmessih,kaelonmc,vinersj,...,None,None,None,None,None,None,None,None,None,None

In [5]:
df.to_csv(data_dir / 'reruns' / algorithm / '2022-01-01_2022-07-01.csv', header=None)

In [6]:
df2 = pd.DataFrame(df['1'].values.tolist()) \
        .rename(columns = lambda x: '{}'.format(x+1)) 
display(df2.head())

                 1
0         profcgdl
1  diana.florencio
2          aelajne
3      tinycutewxy
4       fouadamr60

In [7]:
df3 = df.join(pd.DataFrame(df.pop('1').values.tolist()))
display(df3.head())

,2,3,4,5,6,7,8,9,10,11,...,198,199,200,201,202,203,204,205,206,0
0,diana.florencio,matthew.j.mcgowan,alicemb00,andydu,valentjg,adamfortner,franked1,laurenc0621,lauren.m.grohowski,eric475,...,None,None,None,None,None,None,None,None,None,profcgdl
1,adam.b.levin,eric.l.zhang,derek.d.mulholland,cheysirota,franked1,andrewjfish,paul.g.abdelmessih,kaelonmc,vinersj,gdirienz,...,None,None,None,None,None,None,None,None,None,diana.florencio
2,tinycutewxy,ensoshin21,denizacil,stdy3c8,bzhang09,thivya.sivarajah,megon98,seb.will44,montanalee2018,roadrunner07.patrick,...,None,None,None,None,None,None,None,None,None,aelajne
3,nickyramos99,montanalee2018,pballentine,rhbarnette,simg48,stdy3c8,tw266,priyarathin123,None,None,...,None,None,None,None,None,None,None,None,None,tinycutewxy
4,karim25401,ahm_kam,noureldinseddik,mariammhaanyy,ahmed_khaled_samir,muhammadshaheen,fatma.hazem19,dinaatefff92,shehab2040,ibrahimshawky419,...,None,None,None,None,None,None,None,None,None,fouadamr60