In [2]:
import csv
import sys
import os
import pandas as pd

from nanoHUB.application import Application

application = Application.get_instance()
nanohub_db = application.new_db_engine('nanohub') 
nanohubmetrics_db = application.new_db_engine('nanohub_metrics')

In [3]:
sql= '''
SELECT id
FROM nanohub.jos_users
LIMIT 1
;
'''

In [4]:
df = pd.read_sql_query(sql,nanohubmetrics_db)
df.head()

    id
0  998