In [1]:
import csv
import sys
import os
import pandas as pd

from nanoHUB.application import Application

application = Application.get_instance()
nanohub_db = application.new_db_engine('nanohub') 
nanohubmet_db = application.new_db_engine('nanohub_metrics') 
#uses .env to connect to sql database/get librarys

sql1 = '''
SELECT id
FROM nanohub.jos_users
LIMIT 5
;
'''

sql2 = '''
SELECT user
FROM nanohub_metrics.toolstart
LIMIT 5
;
'''

df2 = pd.read_sql(sql1, nanohub_db)
df2

nanoHUB - Serving Students, Researchers & Instructors

     id
0   998
1  1000
2  1683
3  1684
4  1685

In [10]:
from nanoHUB.configuration import ClusteringConfiguration
from nanoHUB.clustering.infra import create_mike_xufeng_overlap_repo, get_overlap_by_semester
from nanoHUB.pandas_helper import remove_display_restrictions
from nanoHUB.application import Application

repo = create_mike_xufeng_overlap_repo(
        Application.get_instance(), ClusteringConfiguration().bucket_name_processed
    )

data = get_overlap_by_semester(repo, 2019, 'fall')
display(data.head())
display(data.tail())

,MClusterID,XClusterID,MClusterSize,XClusterSize,OverlapSize,OverlapMembers,MOnlySize,MOnlyMembers,XOnlySize,XOnlyMembers,CombinedSize,CombinedMembers
0,1,274,272,70,62,"['recepkaratoprak19', 'emreelma757', 'sencerka...",210,"['guilherme.faveri', 'mertyamanoglu', 'creutzf...",7,"['tevfikdingecoglu', 'hobeto1000', 'esranurcen...",279,"['mertyamanoglu', 'duendo', 'kartiknairvariar6..."
1,1,285,272,68,57,"['dm932051', 'aforanurag99', 'kartiknairvariar...",215,"['mertyamanoglu', 'duendo', 'xerato', 'ricardo...",10,"['supreeth9', 'pranavpage33', 'poco20102018', ...",282,"['mertyamanoglu', 'duendo', 'kartiknairvariar6..."
2,1,273,272,52,1,['mattykleis'],271,"['mertyamanoglu', 'duendo', 'kartiknairvariar6...",50,"['emppalms', 'lae26', 'samuelli.pk', 's4rahlim...",322,"['mertyamanoglu', 'duendo', 'kartiknairvariar6..."
3,1,276,272,46,40,"['duendo', 'tuafbogey', 'wolnypokoj', 'meltems...",232,"['mertyamanoglu', 'kartiknairvariar6', 'xerato...",5,"['kelkulanzero', 'tevfikdingecoglu', 'esranurc...",277,"['mertyamanoglu', 'duendo', 'kartiknairvariar6..."
4,1,284,272,33,31,"['pwmichalak', 'jcho1895', 'darrelly', 'john_s...",241,"['mertyamanoglu', 'duendo', 'kartiknairvariar6...",1,['evelynlhu'],273,"['mertyamanoglu', 'duendo', 'kartiknairvariar6..."

,MClusterID,XClusterID,MClusterSize,XClusterSize,OverlapSize,OverlapMembers,MOnlySize,MOnlyMembers,XOnlySize,XOnlyMembers,CombinedSize,CombinedMembers
371,158,367,6,21,5,"['sinjan1994', 'kwabena442', 'yuxuan', 'joy_ro...",0,[],15,"['muztobarabbani', 'timalsinabikash', 'sakidja...",20,"['sinjan1994', 'sakidja', 'tauhid93', 'alinbab..."
372,158,368,6,20,4,"['joy_roy', 'kwabena442', 'sinjan1994', 'yuxuan']",1,['sudhanano'],15,"['muztobarabbani', 'timalsinabikash', 'sakidja...",20,"['sinjan1994', 'sakidja', 'tauhid93', 'alinbab..."
373,158,369,6,18,5,"['sinjan1994', 'kwabena442', 'yuxuan', 'joy_ro...",0,[],12,"['timalsinabikash', 'sakidja', 'nadib', 'alinb...",17,"['sinjan1994', 'sakidja', 'alinbabu', 'maldito..."
374,158,376,6,18,1,['sudhanano'],4,"['joy_roy', 'kwabena442', 'sinjan1994', 'yuxuan']",16,"['muztobarabbani', 'timalsinabikash', 'sakidja...",21,"['sinjan1994', 'sakidja', 'tauhid93', 'alinbab..."
375,158,110,6,17,5,"['sinjan1994', 'kwabena442', 'yuxuan', 'joy_ro...",0,[],11,"['timalsinabikash', 'sakidja', 'tauhid93', 'na...",16,"['sinjan1994', 'sakidja', 'tauhid93', 'alinbab..."