In [15]:
import csv
import sys
import os
import pandas as pd

from nanoHUB.application import Application

application = Application.get_instance()
nanohub_db = application.new_db_engine('nanohub') 
nanohubmet_db = application.new_db_engine('nanohub_metrics') 
#uses .env to connect to sql database/get librarys

sql1 = '''
SELECT username 
FROM nanohub.jos_users
LIMIT 5
;
'''

sql2 = '''
SELECT user
FROM nanohub_metrics.toolstart
LIMIT 5
;
'''

df2 = pd.read_sql(sql2, nanohubmet_db)
df2

      user
0    herre
1  donovan
2  donovan
3  donovan
4  donovan