In [1]:
import sys

import pandas as pd
import time
import datetime

In [2]:
import warnings
warnings.filterwarnings('ignore')
# warnings.filterwarnings(action='once')
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
from IPython.display import HTML
HTML('''<script>
var code_show_err = false; 
var code_toggle_err = function() {
 var stderrNodes = document.querySelectorAll('[data-mime-type="application/vnd.jupyter.stderr"]')
 var stderr = Array.from(stderrNodes)
 if (code_show_err){
     stderr.forEach(ele => ele.style.display = 'block');
 } else {
     stderr.forEach(ele => ele.style.display = 'none');
 }
 code_show_err = !code_show_err
} 
document.addEventListener('DOMContentLoaded', code_toggle_err);
</script>
To toggle on/off output_stderr, click <a onclick="javascript:code_toggle_err()">here</a>.''')

In [4]:
from nanoHUB.application import Application

application = Application.get_instance()
nanohub_db = application.new_db_engine('nanohub')
nanohub_metrics_db = application.new_db_engine('nanohub_metrics')
wang159_myrmekes_db = application.new_db_engine('wang159_myrmekes')

salesforce = application.new_salesforce_engine()
db_s = salesforce

``````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
```````````````````````````````$$$$$``````````````````````````````````````````````````````````````````````````````````````````````````````````````````
`````````````````````````````$$$$`$$$$````````````````````````````````````````````````````````````````````````````````````````````````````````````````
`````````````````$$$$$```````$$`````$$$```````````````````````````````````````````````````````````````````````````````````````````````````````````````
````````````````$$```$$``````$$$$``$$$````````````````````````````````````````````````````````````````````````````````````````````````````````````````
````````````````$$$$$$$```````$$$$$$``````````````````````````````````````````````````````````````````````````````````````````````````````````````````
``````$$$$````````$$$$$```````$$$``````$$$$$$`````````````````````````````````````````````````````````````````````````````````````````````````````````
````$$$$`$$$$```````$$$$$$$$$$$$$``````$$``$$$````````````````````````````````````````````````````````````````````````````````````````````````````````
````$$`````$$$```$$$$$$$$$`$$$$$$$$``$$$$$$$$$````````````````````````````````````````````````````````$$$```````$$$$``$$$```````$$$```$$$$$$$$$$$`````
````$$````$$$$``$$$$$``````````$$$$$$$$$$$$$$````````````````````````````````````````````````````````$$$$```````$$$$`$$$$```````$$$$`$$$$$$$$$$$$$$```
`````$$$$$$$`$$$$$$```````````````$$$$```````````$$$$$$$``````$$$$$$$$`````$$$$$$$```````$$$$$$$`````$$$$```````$$$$`$$$$```````$$$$`$$$$``````$$$$```
``````````````$$$`````$$$$$$$$`````$$$$````````$$$$$$$$$$$``$$$$$$$$$$$``$$$$$$$$$$$```$$$$$$$$$$$```$$$$``````$$$$$`$$$$```````$$$$`$$$$`````$$$$$```
``````````````$$$`````$$````$$`````$$$$````````$$$`````$$$$````````$$$$$`$$$$````$$$$`$$$$`````$$$$``$$$$$$$$$$$$$$$`$$$$```````$$$$`$$$$$$$$$$$$$$```
`````$$$$$```$$$$`````$$````$$`````$$$$````````$$$`````$$$$``$$$$$$$$$$$`$$$$````$$$$`$$$$`````$$$$``$$$$```````$$$$`$$$$```````$$$$`$$$$``````$$$$$``
```$$$``$$$$$$$$$`````$$````$$`````$$$$````````$$$`````$$$$`$$$$````$$$$`$$$$````$$$$`$$$$`````$$$$``$$$$```````$$$$`$$$$$``````$$$``$$$$```````$$$$``
````$$$`$$$````$$$````````````````$$$$`````````$$$`````$$$$`$$$$$$$$$$$``$$$$````$$$$``$$$$$$$$$$$```$$$$```````$$$$``$$$$$$$$$$$$$``$$$$$$$$$$$$$$```
``````$$$```````$$$$$``````````$$$$$$``````````$$$`````$$$$``$$$$$$$$$```$$$$````$$$$````$$$$$$$`````$$$$```````$$$$````$$$$$$$$$````$$$$$$$$$$$$$````
````````````````$$$$$$$$$```$$$$$$$$``````````````````````````````````````````````````````````````````````````````````````````````````````````````````
```````````$$$$$$$``$$$$$$$$$$$$```$$$$$$$$```````````````````````````````````````````````````````````````````````````````````````````````````````````
````````$$$$$$$$$````````$$$````````$$$``$$$$`````````````````````````````````````````````````````````````````````````````````````````````````````````
```````$$$````$$$````````$$$```````$$$````$$$`````````````````````````````````````````````````````````````````````````````````````````````````````````
````````$$````$$$``````$$$$$$$``````$$$``$$$$`````````````````````````````````````````````````````````````````````````````````````````````````````````
`````````$$$$$$````````$$$``$$````````$$$$````````````````````````````````````````````````````````````````````````````````````````````````````````````
````````````````````````$$$$$`````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
``````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

Serving Students, Researchers & Instructors

2021-07-11 18:57:26,134| WARNING | Could not read SSH configuration file: ~/.ssh/config

2021-07-11 18:57:26,134 - [WARNING] sshtunnel.SSHTunnelForwarder [sshtunnel._read_ssh_config:1032]: Could not read SSH configuration file: ~/.ssh/config
2021-07-11 18:57:26,134 - [WARNING] sshtunnel.SSHTunnelForwarder [sshtunnel._read_ssh_config:1032]: Could not read SSH configuration file: ~/.ssh/config

2021-07-11 18:57:26,140| INFO    | 0 keys loaded from agent

2021-07-11 18:57:26,140 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_agent_keys:1060]: 0 keys loaded from agent
2021-07-11 18:57:26,140 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_agent_keys:1060]: 0 keys loaded from agent

2021-07-11 18:57:26,147| INFO    | 0 key(s) loaded

2021-07-11 18:57:26,147 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_keys:1117]: 0 key(s) loaded
2021-07-11 18:57:26,147 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_keys:1117]: 0 key(s) loaded

2021-07-11 18:57:26,154| INFO    | Connecting to gateway: db2.nanohub.org:22 as user 'wang2506'

2021-07-11 18:57:26,154 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.__init__:978]: Connecting to gateway: db2.nanohub.org:22 as user 'wang2506'
2021-07-11 18:57:26,154 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.__init__:978]: Connecting to gateway: db2.nanohub.org:22 as user 'wang2506'
2021-07-11 18:57:26,160 - [INFO] nanoHUB.containers.dataaccess [connection.get_connection_for:78]: Started SSH Tunnel with db2.nanohub.org

2021-07-11 18:57:26,559| INFO    | Opening tunnel: 0.0.0.0:40755 <> 127.0.0.1:3306

2021-07-11 18:57:26,559 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel._serve_forever_wrapper:1433]: Opening tunnel: 0.0.0.0:40755 <> 127.0.0.1:3306
2021-07-11 18:57:26,559 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel._serve_forever_wrapper:1433]: Opening tunnel: 0.0.0.0:40755 <> 127.0.0.1:3306

2021-07-11 18:57:26,722| WARNING | Could not read SSH configuration file: ~/.ssh/config

2021-07-11 18:57:26,722 - [WARNING] sshtunnel.SSHTunnelForwarder [sshtunnel._read_ssh_config:1032]: Could not read SSH configuration file: ~/.ssh/config
2021-07-11 18:57:26,722 - [WARNING] sshtunnel.SSHTunnelForwarder [sshtunnel._read_ssh_config:1032]: Could not read SSH configuration file: ~/.ssh/config

2021-07-11 18:57:26,729| INFO    | 0 keys loaded from agent

2021-07-11 18:57:26,729 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_agent_keys:1060]: 0 keys loaded from agent
2021-07-11 18:57:26,729 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_agent_keys:1060]: 0 keys loaded from agent

2021-07-11 18:57:26,735| INFO    | 0 key(s) loaded

2021-07-11 18:57:26,735 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_keys:1117]: 0 key(s) loaded
2021-07-11 18:57:26,735 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_keys:1117]: 0 key(s) loaded

2021-07-11 18:57:26,741| INFO    | Connecting to gateway: db2.nanohub.org:22 as user 'wang2506'

2021-07-11 18:57:26,741 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.__init__:978]: Connecting to gateway: db2.nanohub.org:22 as user 'wang2506'
2021-07-11 18:57:26,741 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.__init__:978]: Connecting to gateway: db2.nanohub.org:22 as user 'wang2506'
2021-07-11 18:57:26,747 - [INFO] nanoHUB.containers.dataaccess [connection.get_connection_for:78]: Started SSH Tunnel with db2.nanohub.org

2021-07-11 18:57:27,009| INFO    | Opening tunnel: 0.0.0.0:33469 <> 127.0.0.1:3306

2021-07-11 18:57:27,009 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel._serve_forever_wrapper:1433]: Opening tunnel: 0.0.0.0:33469 <> 127.0.0.1:3306
2021-07-11 18:57:27,009 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel._serve_forever_wrapper:1433]: Opening tunnel: 0.0.0.0:33469 <> 127.0.0.1:3306

2021-07-11 18:57:27,171| WARNING | Could not read SSH configuration file: ~/.ssh/config

2021-07-11 18:57:27,171 - [WARNING] sshtunnel.SSHTunnelForwarder [sshtunnel._read_ssh_config:1032]: Could not read SSH configuration file: ~/.ssh/config
2021-07-11 18:57:27,171 - [WARNING] sshtunnel.SSHTunnelForwarder [sshtunnel._read_ssh_config:1032]: Could not read SSH configuration file: ~/.ssh/config

2021-07-11 18:57:27,177| INFO    | 0 keys loaded from agent

2021-07-11 18:57:27,177 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_agent_keys:1060]: 0 keys loaded from agent
2021-07-11 18:57:27,177 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_agent_keys:1060]: 0 keys loaded from agent

2021-07-11 18:57:27,183| INFO    | 0 key(s) loaded

2021-07-11 18:57:27,183 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_keys:1117]: 0 key(s) loaded
2021-07-11 18:57:27,183 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_keys:1117]: 0 key(s) loaded

2021-07-11 18:57:27,189| INFO    | Connecting to gateway: db2.nanohub.org:22 as user 'wang2506'

2021-07-11 18:57:27,189 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.__init__:978]: Connecting to gateway: db2.nanohub.org:22 as user 'wang2506'
2021-07-11 18:57:27,189 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.__init__:978]: Connecting to gateway: db2.nanohub.org:22 as user 'wang2506'
2021-07-11 18:57:27,196 - [INFO] nanoHUB.containers.dataaccess [connection.get_connection_for:78]: Started SSH Tunnel with db2.nanohub.org

2021-07-11 18:57:27,425| INFO    | Opening tunnel: 0.0.0.0:46859 <> 127.0.0.1:3306

2021-07-11 18:57:27,425 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel._serve_forever_wrapper:1433]: Opening tunnel: 0.0.0.0:46859 <> 127.0.0.1:3306
2021-07-11 18:57:27,425 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel._serve_forever_wrapper:1433]: Opening tunnel: 0.0.0.0:46859 <> 127.0.0.1:3306
Obtained Salesforce access token ...... True

## Nanohub user growth

In [5]:
## need 
# 1) jos_users from nanohub with id,name,username,email,registerDate,lastvisitDate -> registered users
# 2) toolstart df filtered by username -> simulation users

# x-axis: each month from 2000 to current_year

# y-axis: 12 month trailing sum

# simulation users: unique users who have run at least 1 simulation

# registered users: new user registeration

# visitor count: unique IP address

In [6]:
## build jos_users_full
sql_query = "select id,name,username,email,registerDate,lastvisitDate from jos_users order by registerDate desc"
jos_users_full = pd.read_sql_query(sql_query, nanohub_db)
display(jos_users_full.head(2))
print(jos_users_full.shape)

,id,name,username,email,registerDate,lastvisitDate
0,332274,harsh gaonkar,hgaonkar,hgaonkar@gmail.com,2021-07-11 18:15:12,2021-07-11 18:15:13
1,332273,Anya Kamali,anyakamali,anyakamalii@gmail.com,2021-07-11 17:14:31,2021-07-11 17:19:09

(253118, 6)

In [7]:
## build all users list
sql_query = "select datetime,ip,countryip,user,tool from toolstart where user != 'instanton' "\
+"and user != 'gridstat' and datetime <= '2002-01-01' and datetime >= '0000-01-01' order by datetime desc"
toolstart_df = pd.read_sql_query(sql_query, nanohub_metrics_db)
display(toolstart_df.head(2))
print(toolstart_df.shape)

             datetime           ip countryip   user    tool
0 2001-12-31 23:23:51  68.32.42.69        US  jjeon  Adeptf
1 2001-12-31 23:23:23  68.32.42.69        US  jjeon  Adeptf

(138857, 5)

In [8]:
## convert the dataframes to datetime
jos_users_full['registerDate'] = pd.to_datetime(jos_users_full.registerDate)
jos_users_full['lastvisitDate'] = pd.to_datetime(jos_users_full.lastvisitDate)

toolstart_df['datetime'] = pd.to_datetime(toolstart_df.datetime)

In [9]:
import datetime
today = datetime.datetime.now()
print(today)

2021-07-11 18:57:40.344495

In [10]:
all_months_list = list()
for this_year in range(2000,today.year+1):
    for this_month in range(1,12+1):
        all_months_list.append(datetime.datetime(this_year, this_month, 1))
        
for this_year in range(today.year,today.year+1):
    for this_month in range(1,today.month+1):
        all_months_list.append(datetime.datetime(this_year, this_month, 1))
        
months_bin = pd.DataFrame(all_months_list, columns=['year_month'])

# display
months_bin.head(2)

  year_month
0 2000-01-01
1 2000-02-01

In [11]:
## jos_users_full registration cumulative monthly
months_bin['registered_12_trail'] = months_bin.year_month.apply(lambda x:  \
                                jos_users_full.username[(jos_users_full.registerDate < x)\
                            &(jos_users_full.registerDate > (x-datetime.timedelta(days=365)))].nunique() )

In [12]:
##the all users must be done in a bi-yearly basis
months_bin['sim_12_trail'] = months_bin.year_month.apply(lambda x: toolstart_df.user[(toolstart_df.datetime < x) \
                                        &(toolstart_df.datetime > (x-datetime.timedelta(days=365)))].nunique() )

In [13]:
print(months_bin['year_month'].to_list().index(pd.to_datetime('2002-01-01')) )
temp = months_bin['sim_12_trail']#[:25]

24

In [14]:
## check if cached data is available locally
import os
cwd = os.getcwd()

In [16]:
# try:
#     months_bin2 = pd.read_csv(cwd+'/cached_data/nh_user_growth.csv')
#     months_bin2['year_month'] = pd.to_datetime(months_bin2['year_month'],format='%Y-%m-%d')
#     data_flag = True
# except:
#     data_flag = False
data_flag = False
print(data_flag)

False

In [17]:
if data_flag == False: # need to gather all data
    start_year = 2002 # 2000 and 2001 done above 
else:
    start_year = months_bin2['year_month'].to_list()[-1].year
    # join months_bin and months_bin2
    from copy import deepcopy
    months_bin2['year_month'] = deepcopy(months_bin['year_month'])
    months_bin = deepcopy(months_bin2)

In [18]:
while start_year < today.year:
    prev_temp_ind = months_bin['year_month'].to_list().index(pd.to_datetime(str(start_year)+'-01-01')) 

    start_year += 1
    end_date = r"'"+str(start_year)+r"-01-01'"
    start_date = r"'"+str(start_year-2)+r"-01-01'"

    sql_query = "select datetime,ip,countryip,user,tool from toolstart where user != 'instanton' "\
        +"and user != 'gridstat' and datetime <= "+end_date+" and datetime >= "+start_date+" order by datetime desc"
    toolstart_df = pd.read_sql_query(sql_query, nanohub_metrics_db)
    toolstart_df['datetime'] = pd.to_datetime(toolstart_df.datetime)
    print(toolstart_df.shape)

    temp2 = months_bin.year_month.apply(lambda x: toolstart_df.user[(toolstart_df.datetime < x) \
                                        &(toolstart_df.datetime > (x-datetime.timedelta(days=365)))].nunique() )

    max_temp_ind = months_bin['year_month'].to_list().index(pd.to_datetime(str(start_year)+'-01-01')) 

    temp[prev_temp_ind:max_temp_ind] = temp2[prev_temp_ind:max_temp_ind] #updates months_bin as pointer effect

(122148, 5)
(136210, 5)
(147533, 5)
(114575, 5)
(195951, 5)
(389282, 5)
(631227, 5)
(755597, 5)
(757271, 5)
(786048, 5)
(812523, 5)
(914351, 5)
(1326836, 5)
(1573469, 5)
(1594198, 5)
(2022813, 5)
(1932530, 5)
(1353033, 5)
(1642209, 5)

In [19]:
months_bin.tail(5)

    year_month  registered_12_trail  sim_12_trail
266 2021-03-01                31523             0
267 2021-04-01                31906             0
268 2021-05-01                31622             0
269 2021-06-01                31799             0
270 2021-07-01                30809             0

In [20]:
# calculating total number of visitors
import json
with open(cwd+'/visitors.json') as f: # obtain visitors.json from https://nanohub.org/usage and viewing page source at lines 273-278
    visitor_dict = f.read()
    visitor_dict = visitor_dict.replace("\'",'\"')
    visitor_dict = json.loads(visitor_dict)

In [21]:
import re
pattern = re.compile('\d+]')
step1 = re.findall(pattern,visitor_dict['data'])
res_visitors = [i[:-1] for i in step1]

In [22]:
import numpy as np
res_visitors2 = list(np.zeros(12*6+14)) + res_visitors

In [23]:
print(len(res_visitors2))
print(res_visitors2[-5:])

268
['1872976', '1947336', '1923533', '2040179', '2059461']

In [24]:
months_bin.shape[0]

271

In [25]:
while months_bin.shape[0] > len(res_visitors2):
    res_visitors2.append(0)
display(months_bin.iloc[-20:-10,:])

    year_month  registered_12_trail  sim_12_trail
251 2020-12-01                29000         21684
252 2021-01-01                29932             0
253 2021-02-01                30460             0
254 2021-03-01                31523             0
255 2021-04-01                31906             0
256 2021-05-01                31622             0
257 2021-06-01                31799             0
258 2021-07-01                30809             0
259 2021-08-01                29652             0
260 2021-09-01                27279             0

In [34]:
months_bin.to_csv(cwd+'/cached_data/nh_user_growth.csv')
print('latest data cached')

latest data cached

In [1]:
from matplotlib import pyplot as plt
import seaborn as sns
import os
sns.set()
sns.set_style("white")
#plt.figure(figsize=(9,6))
fig, ax1 = plt.subplots()
ax1.clear()
ax1.plot(months_bin.year_month[:-11], months_bin.registered_12_trail[:-11], color='red', label='New Registered Users');
ax1.plot(months_bin.year_month[:-11], months_bin.sim_12_trail[:-11], color='blue', label='Simulation Users');
#plt.plot(months_bin.year_month,res_visitors2)

ax1.set_title('nanoHUB user growth');

ax1.set_xlim([datetime.datetime(2000,1,1), datetime.datetime(2021,3,1)]);
ax1.set_ylim([0, 35000])
ax1.set_yticks(np.arange(0,35000,5000))
ax1.tick_params(axis='y',labelcolor='red')
# ax1.set_ylabel('Unique Users/Month')

ax2 = ax1.twinx()
# ax2.set_ylabel('Unique Visitors/Month')
ax2.plot(months_bin.year_month[:-11],months_bin.visitors_12_trail[11:],color='green',label='Unique Monthly Visitors')
ax2.tick_params(axis='y',labelcolor='green')
ax2.set_yticks(np.arange(0,2000000+250000,250000))
ax2.set_ylim([0,2000000+250000])
# ax2.legend(loc='center left')
# plt.ylabel('Annualized nanoHUB Visitors');
# ax1.legend(loc='upper left');
cwd = os.getcwd()
ax1.legend()
# plt.savefig(cwd+'/appendixF_plots/overall_user_growth_legend.eps', dpi=500, bbox_inches='tight')
# plt.savefig(cwd+'/appendixF_plots/overall_user_growth_no_legend.png', dpi=500, bbox_inches='tight')
# users_registrered_visitors_12_months - new name

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
months_bin.to_csv(cwd+'/cached_data/nh_user_growth.csv')
print('latest data cached')

In [ ]:
print(months_bin.registered_12_trail[-13:-12])
print(months_bin.sim_12_trail[-13:-12])
print(months_bin.visitors_12_trail[-2:-1])

In [ ]:
months_bin.year_month[:-12]