In [1]:
## build researcher events, student events, and self-study events
## researcher are simply those with NH citations

In [2]:
import sys

import pandas as pd
import numpy as np
import time
import datetime
import os
from nanoHUB.application import Application
from nanoHUB.configuration import ClusteringConfiguration
from nanoHUB.pipeline.geddes.data import get_default_s3_client
from nanoHUB.dataaccess.lake import S3FileMapper

from nanoHUB.clustering.infra import get_mike_only_clustered_users, get_xufeng_only_clustered_users, get_mike_xufeng_clustered_users
from nanoHUB.clustering.infra import create_clusters_repository, add_cluster_info, get_all_clustered_users, get_all_self_study_users, get_all_self_identified_users
from nanoHUB.dataaccess.lake import new_session_lifetime_calculator

application = Application.get_instance('DEBUG')

nanoHUB - Serving Students, Researchers & Instructors

In [3]:
pd.set_option('display.max_columns', None)
cwd = os.getcwd()

In [4]:
## determine starting year
#if cache_flag == False:
start_year_base = 1999 #2000
start_year_base = 1999 #2000
pathsave=cwd+'/cached_data/'
pathsave=cwd+'/test_data/'
pathsave=cwd+'/SiteVisit2022_data/'


#else:
#     print('check the saved file')
#    start_year_base = int(user_breakdown_df['year_month'].to_list()[-1][:4])

In [5]:
date_difference = new_session_lifetime_calculator(application)

In [6]:
day_1_users_df = date_difference.get_24_hour_users()

print("Total one day users: %d" % len(day_1_users_df))
#display(day_1_users_df.head())
#display(day_1_users_df.tail())
day_1_users = day_1_users_df['user'].tolist()
#display(day_1_users[399:420])

Total one day users: 73143

In [7]:
day_7_users_df = date_difference.get_7_day_users()

print("Total 7 day users: %d" % len(day_7_users_df))
#display(day_7_users_df.head())
#display(day_7_users_df.tail())
day_7_users = day_7_users_df['user'].tolist()

print("calculate a subset of users that excludes the previous subset")
print('day_1_users length = ',len(day_1_users))
print("day_7_users length = ",len(day_7_users))
day_2_7_users = [x for x in day_7_users if x  not in day_1_users]
print('day_2_7_users length = ',len(day_2_7_users))

Total 7 day users: 88739
calculate a subset of users that excludes the previous subset
day_1_users length =  73143
day_7_users length =  88739
day_2_7_users length =  15596

In [8]:
day_30_users_df = date_difference.get_30_day_users()

print("Total 30 day users: %d" % len(day_30_users_df))
display(day_30_users_df.head())
display(day_30_users_df.tail())
day_30_users = day_30_users_df['user'].tolist()
print("calculate a subset of users that excludes the previous subset")
print('day_7_users length = ',len(day_7_users))
print("day_30_users length = ",len(day_30_users))
day_8_30_users = [x for x in day_30_users if x  not in day_7_users]
print('day_8_30_users length = ',len(day_8_30_users))

Total 30 day users: 109322

         user               first                last  _difference
1  0.yao.yuan 2017-03-08 10:15:23 2017-03-09 05:09:22      68039.0
2  007sribabu 2021-11-06 20:46:21 2021-11-06 20:46:21          0.0
3    008dilip 2016-09-28 20:27:13 2016-10-12 23:50:56    1221823.0
4        00ff 2013-11-19 00:53:23 2013-11-19 00:58:56        333.0
5  00mhking00 2022-02-01 07:14:03 2022-02-01 07:14:03          0.0

             user               first                last  _difference
163369   zzz.xin0 2015-08-05 06:33:14 2015-08-05 06:36:00        166.0
163370  zzz121243 2021-05-04 19:04:27 2021-05-04 19:21:22       1015.0
163372     zzz777 2016-08-08 15:35:26 2016-08-08 16:05:25       1799.0
163373    zzzstas 2016-07-13 00:40:03 2016-07-13 06:33:44      21221.0
163374    zzzwmhq 2021-07-05 13:19:19 2021-07-05 13:27:28        489.0

calculate a subset of users that excludes the previous subset
day_7_users length =  88739
day_30_users length =  109322
day_30_users length =  109322

In [9]:
day_90_users_df = date_difference.get_90_day_users()

print("Total 90 day users: %d" % len(day_90_users_df))
display(day_90_users_df.head())
display(day_90_users_df.tail())
day_90_users = day_90_users_df['user'].tolist()
print("calculate a subset of users that excludes the previous subset")
print('day_30_users length = ',len(day_30_users))
print("day_90_users length = ",len(day_90_users))
day_31_90_users = [x for x in day_90_users if x  not in day_30_users]
print('day_31_90_users length = ',len(day_31_90_users))

Total 90 day users: 128943

         user               first                last  _difference
1  0.yao.yuan 2017-03-08 10:15:23 2017-03-09 05:09:22      68039.0
2  007sribabu 2021-11-06 20:46:21 2021-11-06 20:46:21          0.0
3    008dilip 2016-09-28 20:27:13 2016-10-12 23:50:56    1221823.0
4        00ff 2013-11-19 00:53:23 2013-11-19 00:58:56        333.0
5  00mhking00 2022-02-01 07:14:03 2022-02-01 07:14:03          0.0

             user               first                last  _difference
163370  zzz121243 2021-05-04 19:04:27 2021-05-04 19:21:22       1015.0
163371    zzz1ttt 2015-10-21 21:42:30 2015-12-17 06:47:37    4871107.0
163372     zzz777 2016-08-08 15:35:26 2016-08-08 16:05:25       1799.0
163373    zzzstas 2016-07-13 00:40:03 2016-07-13 06:33:44      21221.0
163374    zzzwmhq 2021-07-05 13:19:19 2021-07-05 13:27:28        489.0

calculate a subset of users that excludes the previous subset
day_30_users length =  109322
day_90_users length =  128943
day_31_90_users length =  19621

In [10]:
day_180_users_df = date_difference.get_180_day_users()

print("Total 180 day users: %d" % len(day_180_users_df))
display(day_180_users_df.head())
display(day_180_users_df.tail())
day_180_users = day_180_users_df['user'].tolist()
print("calculate a subset of users that excludes the previous subset")
print('day_90_users length = ',len(day_90_users))
print("day_180_users length = ",len(day_180_users))
day_91_180_users = [x for x in day_180_users if x  not in day_90_users]
print('day_91_180_users length = ',len(day_91_180_users))

Total 180 day users: 137535

         user               first                last  _difference
1  0.yao.yuan 2017-03-08 10:15:23 2017-03-09 05:09:22      68039.0
2  007sribabu 2021-11-06 20:46:21 2021-11-06 20:46:21          0.0
3    008dilip 2016-09-28 20:27:13 2016-10-12 23:50:56    1221823.0
4        00ff 2013-11-19 00:53:23 2013-11-19 00:58:56        333.0
5  00mhking00 2022-02-01 07:14:03 2022-02-01 07:14:03          0.0

             user               first                last  _difference
163370  zzz121243 2021-05-04 19:04:27 2021-05-04 19:21:22       1015.0
163371    zzz1ttt 2015-10-21 21:42:30 2015-12-17 06:47:37    4871107.0
163372     zzz777 2016-08-08 15:35:26 2016-08-08 16:05:25       1799.0
163373    zzzstas 2016-07-13 00:40:03 2016-07-13 06:33:44      21221.0
163374    zzzwmhq 2021-07-05 13:19:19 2021-07-05 13:27:28        489.0

calculate a subset of users that excludes the previous subset
day_90_users length =  128943
day_180_users length =  137535
day_91_180_users length =  8592

In [11]:
day_365_users_df = date_difference.get_365_day_users()

print("Total one year users: %d" % len(day_365_users_df))
display(day_365_users_df.head())
display(day_365_users_df.tail())

day_365_users = day_365_users_df['user'].tolist()
print("calculate a subset of users that excludes the previous subset")
print('day_180_users length = ',len(day_180_users))
print("day_365_users length = ",len(day_365_users))
day_181_365_users = [x for x in day_365_users if x  not in day_180_users]
print('day_181_365_users length = ',len(day_181_365_users))

Total one year users: 144786

         user               first                last  _difference
1  0.yao.yuan 2017-03-08 10:15:23 2017-03-09 05:09:22      68039.0
2  007sribabu 2021-11-06 20:46:21 2021-11-06 20:46:21          0.0
3    008dilip 2016-09-28 20:27:13 2016-10-12 23:50:56    1221823.0
4        00ff 2013-11-19 00:53:23 2013-11-19 00:58:56        333.0
5  00mhking00 2022-02-01 07:14:03 2022-02-01 07:14:03          0.0

             user               first                last  _difference
163370  zzz121243 2021-05-04 19:04:27 2021-05-04 19:21:22       1015.0
163371    zzz1ttt 2015-10-21 21:42:30 2015-12-17 06:47:37    4871107.0
163372     zzz777 2016-08-08 15:35:26 2016-08-08 16:05:25       1799.0
163373    zzzstas 2016-07-13 00:40:03 2016-07-13 06:33:44      21221.0
163374    zzzwmhq 2021-07-05 13:19:19 2021-07-05 13:27:28        489.0

calculate a subset of users that excludes the previous subset
day_180_users length =  137535
day_365_users length =  144786
day_181_365_users length =  7251

In [12]:
years_users_df = date_difference.get_more_than_1_year_users()

print("Total more than 1 year users: %d" % len(years_users_df))
display(years_users_df.head())
display(years_users_df.tail())
years_users = years_users_df['user'].tolist()

Total more than 1 year users: 18589

            user               first                last  _difference
0                2011-11-22 09:44:56 2013-05-28 15:46:14   47800878.0
15       02junho 2016-05-04 04:22:01 2018-09-03 10:02:11   73633210.0
16       02paiks 2005-10-18 12:44:11 2009-03-22 18:22:34  108106703.0
29   0809014ccna 2012-03-11 12:59:42 2018-09-05 14:16:56  204686234.0
30  082080112abk 2011-02-22 13:30:53 2013-08-13 02:11:08   77978415.0

                  user               first                last  _difference
163321        zzhan151 2017-04-07 01:45:55 2018-11-25 20:05:10   51646755.0
163338            zzhu 2007-03-04 01:27:41 2017-06-16 16:23:31  324658550.0
163342          zzl244 2020-05-01 06:13:30 2021-05-26 10:38:22   33711892.0
163364        zzxhuang 2013-05-29 01:18:56 2016-01-18 22:31:47   83365971.0
163367  zzyang19891221 2011-11-22 11:18:10 2013-09-23 22:33:59   58014949.0

In [13]:
application = Application.get_instance()
nanohub_db = application.new_db_engine('nanohub')
nanohub_metrics_db = application.new_db_engine('nanohub_metrics')
wang159_myrmekes_db = application.new_db_engine('rfm_data')

s3_client = get_default_s3_client(application)
derived_data_file_path = 'derived_data_for_users.csv'
processed_mapper = S3FileMapper(s3_client, ClusteringConfiguration().bucket_name_processed)

In [14]:
def Annualized_Usage(nanohub_metrics_db,start_year,list_usernames,list_title,pathsave):
    today = datetime.datetime.today()
    print(today)    
    #cache_r_track = pd.DataFrame()
    #cache_si_track = pd.DataFrame()
    #cache_si_track['user'] = self_identified_track
    active_track = []
    active_date = []
    
    ## computer has memory limits, so split toolstart into branches
    # this filters and finds the research usage in nanohub
    while start_year < today.year+1:
        start_year += 1
        end_date = r"'"+str(start_year)+r"-01-01'"
        start_date = r"'"+str(start_year-2)+r"-01-01'"

        print('end date: '+ str(end_date))
        for i in range(1,13):
            if i < 10:
                start_date = r"'"+str(start_year-1)+r"-0"+str(i)+r"-01'"
                end_date = r"'"+str(start_year)+r"-0"+str(i)+r"-01'"
            else:
                start_date = r"'"+str(start_year-1)+r"-"+str(i)+r"-01'"
                end_date = r"'"+str(start_year)+r"-"+str(i)+r"-01'"

            sql_query = "select user from toolstart where user in " + str(tuple(list_usernames))\
                +" and datetime <= "+end_date+" and datetime >= "+start_date
            active_users = pd.read_sql_query(sql_query, nanohub_metrics_db)
            #print('date '+str(end_date)+' '+list_title+' partial',active_users.drop_duplicates()[0:10])
            print('date '+str(end_date)+' '+list_title+' length',len(active_users.drop_duplicates()))

            #count the number of active users and append into an array
            active_track.append(active_users.drop_duplicates().shape[0])
            active_date.append(end_date)


        print('end date: '+ str(end_date))
        #display(researcher_track)
        #display(researcher_track)

        cache_track = pd.DataFrame()
        cache_track['track'] = active_track
        cache_track.to_csv(pathsave+list_title+'_track.csv')
        cache_track.to_csv(pathsave+ str(start_year)+'_'+list_title+'_track.csv')
        cache_track = []
        
        cache_datetrack = pd.DataFrame()
        cache_datetrack['date'] = active_date
        cache_datetrack['track'] = active_track
        cache_datetrack.to_csv(pathsave+list_title+'_date_track.csv')
        cache_datetrack.to_csv(pathsave+ str(start_year)+'_'+list_title+'_date_track.csv')
        cache_datetrack = []
        

    return active_track

## Cumulative classroom/research/self-study

In [15]:
clustered_df = get_all_clustered_users(processed_mapper, derived_data_file_path)
clustered_df['nanoHUB_user_ID__c'] = clustered_df['id']
clustered_NH_ids = clustered_df['nanoHUB_user_ID__c']
display(len(clustered_NH_ids))

79465

In [16]:
mike_clustered_users_df = get_mike_only_clustered_users(processed_mapper, derived_data_file_path)
mike_clustered_users_df['nanoHUB_user_ID__c'] = mike_clustered_users_df['id']
mike_clustered_NH_ids = mike_clustered_users_df['nanoHUB_user_ID__c']
display(len(mike_clustered_users_df))

[WARNING] [warnings - py.warnings]: /home/gekco/nanoHUB/nanoHUB/clustering/infra.py:389: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return df[df[column_name].str.contains(search_for)]
 [warnings._showwarnmsg:109]

17004

In [17]:
xufeng_clustered_users_df = get_xufeng_only_clustered_users(processed_mapper, derived_data_file_path)
xufeng_clustered_users_df['nanoHUB_user_ID__c'] = xufeng_clustered_users_df['id']
xufeng_clustered_NH_ids = xufeng_clustered_users_df['nanoHUB_user_ID__c']
display(len(xufeng_clustered_users_df))

15270

In [18]:
mike_xufeng_clustered_users_df = get_mike_xufeng_clustered_users(processed_mapper, derived_data_file_path)
mike_xufeng_clustered_users_df['nanoHUB_user_ID__c'] = mike_xufeng_clustered_users_df['id']
mike_xufeng_clustered_NH_ids = mike_xufeng_clustered_users_df['nanoHUB_user_ID__c']
display(len(mike_xufeng_clustered_users_df))

47191

In [ ]:
# raise

In [20]:
self_study_df = get_all_self_study_users(processed_mapper, derived_data_file_path)
self_study_df['nanoHUB_user_ID__c'] = self_study_df['id']
self_study_NH_ids = self_study_df['nanoHUB_user_ID__c']
self_study_usernames = self_study_df['username'].tolist()

print('self_study_NH_ids length = ',len(self_study_NH_ids))
print('self_study_usernames length = ',len(self_study_usernames))
print('self_study_usernames samples = ',self_study_usernames[0:10])

self_study_NH_ids length =  193226
self_study_usernames length =  193226
self_study_usernames samples =  ['hubrepo', 'admin', 'support', 'gridstat', 'ncn', 'nanohub', 'repo', 'violin', 'mireles', 'k_dadesh']

In [21]:
# self_identified users, are individuals that have a researcherID, google scholar etc in their profile
self_identified_df = get_all_self_identified_users(processed_mapper, derived_data_file_path)
self_identified_df['nanoHUB_user_ID__c'] = self_identified_df['id']
self_identified_NH_ids = self_identified_df['nanoHUB_user_ID__c']
self_identified_usernames = self_identified_df['username'].tolist()
print('length of self_identified_NH_ids',len(self_identified_NH_ids))
display(self_identified_df.head())

length of self_identified_NH_ids 4037

,id,name,username,email,registerDate,lastvisitDate,number_simulations,uid,profile_key,has_researcher_profile,clusters,mike_fall_2008,xufeng_fall_2008,mike_spring_2008,xufeng_spring_2008,mike_fall_2009,xufeng_fall_2009,mike_spring_2009,xufeng_spring_2009,mike_fall_2010,xufeng_fall_2010,mike_spring_2010,xufeng_spring_2010,mike_fall_2011,xufeng_fall_2011,mike_spring_2011,xufeng_spring_2011,mike_fall_2012,xufeng_fall_2012,mike_spring_2012,xufeng_spring_2012,mike_fall_2013,xufeng_fall_2013,mike_spring_2013,xufeng_spring_2013,mike_fall_2014,xufeng_fall_2014,mike_spring_2014,xufeng_spring_2014,mike_fall_2015,xufeng_fall_2015,mike_spring_2015,xufeng_spring_2015,mike_fall_2016,xufeng_fall_2016,mike_spring_2016,xufeng_spring_2016,mike_fall_2017,xufeng_fall_2017,mike_spring_2017,xufeng_spring_2017,mike_fall_2018,xufeng_fall_2018,mike_spring_2018,xufeng_spring_2018,mike_fall_2019,xufeng_fall_2019,mike_spring_2019,xufeng_spring_2019,mike_fall_2020,xufeng_fall_2020,mike_spring_2020,xufeng_spring_2020,mike_fall_2021,xufeng_fall_2021,mike_spring_2021,xufeng_spring_2021,nanoHUB_user_ID__c
895,2579,Stefan Birner,birner,stefan.birner@nextnano.com,2006-05-05 07:36:09,2020-01-13 15:58:33,52.0,2579.0,[orcid],True,['mike_spring_2011'],False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,2579
1176,2862,Mark Lundstrom,lundstro,lundstro@purdue.edu,2004-12-06 22:01:25,2022-02-08 16:28:36,2345.0,2862.0,"[googlescholar, researchgateid]",True,"['xufeng_fall_2008', 'xufeng_spring_2009', 'xu...",False,True,False,False,False,False,False,True,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,2862
1473,3159,Tamara J. Moore,tmoore,tmoore@purdue.edu,2003-09-03 21:18:50,2021-10-07 19:58:59,38.0,3159.0,[orcid],True,['xufeng_fall_2020'],False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,3159
1796,3482,Gerhard Klimeck,gekco,gekco@purdue.edu,2004-04-10 17:58:53,2022-02-10 14:45:37,18677.0,3482.0,"[orcid, googlescholar, researcherid, researchg...",True,"['xufeng_fall_2009', 'xufeng_fall_2010', 'xufe...",False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,True,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,3482
1897,3583,Eric Pop,epop,epop@stanford.edu,2006-02-09 20:57:14,2021-09-04 07:19:40,90.0,3583.0,"[orcid, googlescholar]",True,['xufeng_fall_2012'],False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,3583

In [22]:
allusers_df = processed_mapper.read(derived_data_file_path)
display(allusers_df.head(5))
#display(allusers_usernames)
# we know there are some users who have a NULL user name - they need to be taken out
display(allusers_df.loc[allusers_df['username'].isnull()])
#display(allusers_df.loc[allusers_df['username'].notna()])

# take out the users with a NULL user name
allusers_df = allusers_df.loc[allusers_df['username'].notna()]
display(allusers_df.loc[allusers_df['username'].isnull()])

# create a list of all user names
allusers_usernames = allusers_df['username'].tolist()

,id,name,username,email,registerDate,lastvisitDate,number_simulations,uid,profile_key,has_researcher_profile,clusters,mike_fall_2008,xufeng_fall_2008,mike_spring_2008,xufeng_spring_2008,mike_fall_2009,xufeng_fall_2009,mike_spring_2009,xufeng_spring_2009,mike_fall_2010,xufeng_fall_2010,mike_spring_2010,xufeng_spring_2010,mike_fall_2011,xufeng_fall_2011,mike_spring_2011,xufeng_spring_2011,mike_fall_2012,xufeng_fall_2012,mike_spring_2012,xufeng_spring_2012,mike_fall_2013,xufeng_fall_2013,mike_spring_2013,xufeng_spring_2013,mike_fall_2014,xufeng_fall_2014,mike_spring_2014,xufeng_spring_2014,mike_fall_2015,xufeng_fall_2015,mike_spring_2015,xufeng_spring_2015,mike_fall_2016,xufeng_fall_2016,mike_spring_2016,xufeng_spring_2016,mike_fall_2017,xufeng_fall_2017,mike_spring_2017,xufeng_spring_2017,mike_fall_2018,xufeng_fall_2018,mike_spring_2018,xufeng_spring_2018,mike_fall_2019,xufeng_fall_2019,mike_spring_2019,xufeng_spring_2019,mike_fall_2020,xufeng_fall_2020,mike_spring_2020,xufeng_spring_2020,mike_fall_2021,xufeng_fall_2021,mike_spring_2021,xufeng_spring_2021
0,998,hubrepo hubrepo,hubrepo,nkissebe@gmail.com,2014-11-13 21:09:09,NaN,0.0,NaN,[],False,[],False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,1000,CMS Admin Manager,admin,support@nanohub.org,NaN,NaN,0.0,NaN,[],False,[],False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,1683,nanoHUB support,support,support@nanohub.org,2008-11-19 22:51:04,2008-11-19 23:55:30,2.0,1683.0,[],False,[],False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,1684,Grid Statistics,gridstat,gridstat@nanohub.org,2008-11-18 17:29:56,2020-02-14 18:50:14,0.0,NaN,[],False,[],False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,1685,NCN NCN,ncn,ncn@nanohub.org,2008-11-11 19:17:04,NaN,0.0,NaN,[],False,[],False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

,id,name,username,email,registerDate,lastvisitDate,number_simulations,uid,profile_key,has_researcher_profile,clusters,mike_fall_2008,xufeng_fall_2008,mike_spring_2008,xufeng_spring_2008,mike_fall_2009,xufeng_fall_2009,mike_spring_2009,xufeng_spring_2009,mike_fall_2010,xufeng_fall_2010,mike_spring_2010,xufeng_spring_2010,mike_fall_2011,xufeng_fall_2011,mike_spring_2011,xufeng_spring_2011,mike_fall_2012,xufeng_fall_2012,mike_spring_2012,xufeng_spring_2012,mike_fall_2013,xufeng_fall_2013,mike_spring_2013,xufeng_spring_2013,mike_fall_2014,xufeng_fall_2014,mike_spring_2014,xufeng_spring_2014,mike_fall_2015,xufeng_fall_2015,mike_spring_2015,xufeng_spring_2015,mike_fall_2016,xufeng_fall_2016,mike_spring_2016,xufeng_spring_2016,mike_fall_2017,xufeng_fall_2017,mike_spring_2017,xufeng_spring_2017,mike_fall_2018,xufeng_fall_2018,mike_spring_2018,xufeng_spring_2018,mike_fall_2019,xufeng_fall_2019,mike_spring_2019,xufeng_spring_2019,mike_fall_2020,xufeng_fall_2020,mike_spring_2020,xufeng_spring_2020,mike_fall_2021,xufeng_fall_2021,mike_spring_2021,xufeng_spring_2021
77305,82487,Geraldine Young,NaN,f948941@rmqkr.net,2013-05-22 20:04:55,2013-06-14 20:51:07,39.0,82487.0,[],False,"['mike_fall_2008', 'xufeng_fall_2008', 'mike_s...",True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
211599,281303,Nataly Cárdenas,NaN,njcardenasvasquez@gmail.com,2020-03-20 17:26:07,2020-03-20 17:26:07,4.0,281303.0,[],False,"['mike_fall_2008', 'xufeng_fall_2008', 'mike_s...",True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

Empty DataFrame
Columns: [id, name, username, email, registerDate, lastvisitDate, number_simulations, uid, profile_key, has_researcher_profile, clusters, mike_fall_2008, xufeng_fall_2008, mike_spring_2008, xufeng_spring_2008, mike_fall_2009, xufeng_fall_2009, mike_spring_2009, xufeng_spring_2009, mike_fall_2010, xufeng_fall_2010, mike_spring_2010, xufeng_spring_2010, mike_fall_2011, xufeng_fall_2011, mike_spring_2011, xufeng_spring_2011, mike_fall_2012, xufeng_fall_2012, mike_spring_2012, xufeng_spring_2012, mike_fall_2013, xufeng_fall_2013, mike_spring_2013, xufeng_spring_2013, mike_fall_2014, xufeng_fall_2014, mike_spring_2014, xufeng_spring_2014, mike_fall_2015, xufeng_fall_2015, mike_spring_2015, xufeng_spring_2015, mike_fall_2016, xufeng_fall_2016, mike_spring_2016, xufeng_spring_2016, mike_fall_2017, xufeng_fall_2017, mike_spring_2017, xufeng_spring_2017, mike_fall_2018, xufeng_fall_2018, mike_spring_2018, xufeng_spring_2018, mike_fall_2019, xufeng_fall_2019, mike_spring_2019, xufeng_spring_2019, mike_fall_2020, xufeng_fall_2020, mike_spring_2020, xufeng_spring_2020, mike_fall_2021, xufeng_fall_2021, mike_spring_2021, xufeng_spring_2021]
Index: []

In [23]:
# ideally we would not search activities for all users but only in the active users.
# so here we could determine the list of all active users to make the queries for total sim users over time 
# run faster
# 

#sql_query_simtotal = "select distinct user from toolstart;"
#simtotal_users = pd.read_sql_query(sql_query_simtotal, nanohub_metrics_db) #engine_metrics #.drop_duplicates()

In [24]:
#print('simtotal_users length', len(simtotal_users))
#display(simtotal_users)

In [25]:
print('clustered users',clustered_NH_ids.shape)
print('selfstudy users',self_study_NH_ids.shape)
print('self_study_usernames',len(self_study_usernames))
print('self identified researchers',self_identified_NH_ids.shape)
print('all users',allusers_df.shape)

clustered users (79465,)
selfstudy users (193226,)
self_study_usernames 193226
self identified researchers (4037,)
all users (272689, 67)

In [26]:
frames = [clustered_df, self_study_df]
contacts_df = pd.concat(frames)

In [27]:
## need to filter self-study-nh-ids with the researchers

In [28]:
## This researcher determination is based entirely on the results of research authors on nanohub
## i.e., we use the researcher information on db2

In [29]:
sql_query = 'select id, uid, author from jos_citations'
jos_citations = pd.read_sql_query(sql_query, nanohub_db)
display(jos_citations.head(2))
print(jos_citations.shape)

         id   uid                                             author
0  10000001  5568  Weber, Bent; Mahapatra, Suddhasatta; Ryu, Hoon...
1  10000002  5568  Andrawis, Robert; Bermeo, Jose; Charles, James...

(4203, 3)

In [30]:
t1_authors = jos_citations['author'].to_list()
t1_authors2 = [] #[j.split(';') for i,j in enumerate(t1_authors)]

In [31]:
for i,j in enumerate(t1_authors):
    try:
        holder = j.split(';')
        if len(holder) > 1: 
            for k,l in enumerate(holder):
                if l[0] == ' ':
                    holder[k] = l[1:]
        t1_authors2.append(holder)
    except:
        garb = True

In [32]:
t1_authors32 = [item for sublist in t1_authors2 for item in sublist]
t1_authors3 = set(t1_authors32)
print(len(t1_authors3))

6860

In [33]:
## extract all researchers with nh ids
rw_ids = []
need_search = []
for i,j in enumerate(t1_authors3):
    if '{{' in j:
        rw_ids.append(i)
    else:
        need_search.append(i)

In [34]:
## from the rw_ids, extract the nanohub userids
# can obtain usernames from the DB2 table
rw_ids2 = np.array(list(t1_authors3))[rw_ids]
for i,j in enumerate(rw_ids2):
    begin = j.index('{{')
    rw_ids2[i] = j[begin+2:-2]
print(len(rw_ids2))

2079

In [35]:
# need to obtain usernames
sql_query = "select id,name,username from jos_users where id in "+str(tuple(rw_ids2))
rw_researchers = pd.read_sql_query(sql_query,nanohub_db)
display(rw_researchers.head(2))

     id                name username
0  1742   H.-S. Philip Wong  hspwong
1  1767  Osama Munir Nayfeh  onayfeh

In [36]:
## need to obtain the username/ids from those people without nh ids explicitly spec'd in jos_citations
ns2 = np.array(list(t1_authors3))[need_search]
ns2 = ns2[1:]

In [37]:
tuple(ns2)[:5]

('Anna Fontcuberta i Morral',
 'Patrick Fiorenza',
 'Fernando González-Nilo',
 'B. Kaczer',
 'Jean Michel Sellier')

In [38]:
sql_query = "select id,name,username from jos_users where name in "+str(tuple(ns2))
ns2_researchers = pd.read_sql_query(sql_query,nanohub_db)
display(ns2_researchers.head(2))

       id              name     username
0  282167  Aarthi Narayanan  aarthin0102
1  280280       Abani Patra     apatra01

In [39]:
## combine the usernames into one data structure
researcher_usernames = rw_researchers['username'].to_list() + ns2_researchers['username'].to_list()
print('list of researchers who have cited nanohub  researcher_usernames=',len(researcher_usernames))

list of researchers who have cited nanohub  researcher_usernames= 3046

In [40]:
#need to take out the researchers and citing authors from the list of selfstudy users. 
#
print('self_identified_usernames can have overlap with citing or self identified researchers',len(self_identified_usernames))
print('take out overlap of len(researcher_usernames)',len(researcher_usernames))
print('take from len(self_identified_usernames)',len(self_identified_usernames))

print('number of self_identified_usernames users start',len(self_study_usernames))
self_identified_usernames = [x for x in self_identified_usernames if x not in researcher_usernames]
print('number of self_identified_usernames users end',len(self_study_usernames))

print('number of self-study users self_study_usernames with research',len(self_study_usernames))
self_study_usernames = [x for x in self_study_usernames if x not in researcher_usernames]
print('number of self-study users self_study_usernames without research',len(self_study_usernames))

print('number of self-study users self_study_usernames with self identified research',len(self_study_usernames))
self_study_usernames = [x for x in self_study_usernames if x not in self_identified_usernames]
print('number of self-study users self_study_usernames without self identified research',len(self_study_usernames))

self_identified_usernames can have overlap with citing or self identified researchers 4037
take out overlap of len(researcher_usernames) 3046
take from len(self_identified_usernames) 4037
number of self_identified_usernames users start 193226
number of self_identified_usernames users end 193226
number of self-study users self_study_usernames with research 193226
number of self-study users self_study_usernames without research 191201
number of self-study users self_study_usernames with self identified research 191201
number of self-study users self_study_usernames without self identified research 187882

In [41]:
print("separate the self study users by lifetime")
print('self_study_NH_ids length = ',len(self_study_NH_ids))
print("total day_1_users length = ",len(day_1_users))
self_study_day_1_users = [x for x in day_1_users  if x  in self_study_usernames]
print('number of self_study_day_1_users',len(self_study_day_1_users))

print("total day_2_7_users length = ",len(day_2_7_users))
self_study_day_2_7_users = [x for x in day_2_7_users  if x  in self_study_usernames]
print('number of self_study_day_2_7_users',len(self_study_day_2_7_users))

print("total day_8_30_users length = ",len(day_8_30_users))
self_study_day_8_30_users = [x for x in day_8_30_users  if x  in self_study_usernames]
print('number of self_study_day_8_30_users',len(self_study_day_8_30_users))

print("total day_31_90_users length = ",len(day_31_90_users))
self_study_day_31_90_users = [x for x in day_31_90_users  if x  in self_study_usernames]
print('number of self_study_day_31_90_users',len(self_study_day_31_90_users))

print("total day_91_180_users length = ",len(day_91_180_users))
self_study_day_91_180_users = [x for x in day_91_180_users  if x  in self_study_usernames]
print('number of self_study_day_91_180_users',len(self_study_day_91_180_users))

print("total day_181_365_users length = ",len(day_181_365_users))
self_study_day_181_365_users = [x for x in day_181_365_users  if x  in self_study_usernames]
print('number of self_study_day_181_365_users',len(self_study_day_181_365_users))


print("total years_users length = ",len(years_users))
self_study_years_users = [x for x in years_users  if x  in self_study_usernames]
print('number of self_study_years_users',len(self_study_years_users))

separate the self study users by lifetime
self_study_NH_ids length =  193226
total day_1_users length =  73143
number of self_study_day_1_users 46283
total day_2_7_users length =  15596
number of self_study_day_2_7_users 5948
total day_8_30_users length =  20583
number of self_study_day_8_30_users 6462
total day_31_90_users length =  19621
number of self_study_day_31_90_users 6042
total day_91_180_users length =  8592
number of self_study_day_91_180_users 3244
total day_181_365_users length =  7251
number of self_study_day_181_365_users 3310
total years_users length =  18589
number of self_study_years_users 8861

NameError: name 'clustered_NH_username' is not defined

In [48]:
lifetime_cache = False
if lifetime_cache == True:
    # read files
    print("need to read files here")
else:
    #write the computed data into a cache
    ## cache the researchers, self-study, and clustered users
    cache_write = pd.DataFrame()
    cache_write['username'] = day_1_users
    cache_write.to_csv(pathsave+'day_1_users.csv')
    cache_write = []
    
    cache_write = pd.DataFrame()
    cache_write['username'] = day_2_7_users
    cache_write.to_csv(pathsave+'day_2_7_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = day_8_30_users
    cache_write.to_csv(pathsave+'day_8_30_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = day_31_90_users
    cache_write.to_csv(pathsave+'day_31_90_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = day_91_180_users
    cache_write.to_csv(pathsave+'day_91_180_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = day_181_365_users
    cache_write.to_csv(pathsave+'day_180_365_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = years_users
    cache_write.to_csv(pathsave+'years_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_1_users
    cache_write.to_csv(pathsave+'self_study_day_1_users.csv')
    cache_write = []
    
    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_2_7_users
    cache_write.to_csv(pathsave+'self_study_day_2_7_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_8_30_users
    cache_write.to_csv(pathsave+'self_study_day_8_30_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_31_90_users
    cache_write.to_csv(pathsave+'self_study_day_31_90_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_91_180_users
    cache_write.to_csv(pathsave+'self_study_day_91_180_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_181_365_users
    cache_write.to_csv(pathsave+'self_study_day_181_365_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_years_users
    cache_write.to_csv(pathsave+'self_study_years_users.csv')
    cache_write = []
    
#     cache_write = pd.DataFrame()
#     cache_write['username'] = clustered_all_day_1_users
#     cache_write.to_csv(pathsave+'clustered_all_day_1_users.csv')
#     cache_write = []
    
#     cache_write = pd.DataFrame()
#     cache_write['username'] = clustered_all_day_2_7_users
#     cache_write.to_csv(pathsave+'clustered_all_day_2_7_users.csv')
#     cache_write = []

#     cache_write = pd.DataFrame()
#     cache_write['username'] = clustered_all_day_8_30_users
#     cache_write.to_csv(pathsave+'clustered_all_day_8_30_users.csv')
#     cache_write = []

#     cache_write = pd.DataFrame()
#     cache_write['username'] = clustered_all_day_31_90_users
#     cache_write.to_csv(pathsave+'clustered_all_day_31_90_users.csv')
#     cache_write = []

#     cache_write = pd.DataFrame()
#     cache_write['username'] = clustered_all_day_91_180_users
#     cache_write.to_csv(pathsave+'clustered_all_day_91_180_users.csv')
#     cache_write = []

#     cache_write = pd.DataFrame()
#     cache_write['username'] = clustered_all_day_180_365_users
#     cache_write.to_csv(pathsave+'clustered_all_day_180_365_users.csv')
#     cache_write = []

#     cache_write = pd.DataFrame()
#     cache_write['username'] = clustered_all_years_users
#     cache_write.to_csv(pathsave+'clustered_all_years_users.csv')
#     cache_write = []

In [49]:
today = datetime.datetime.today()
print(today)

2022-03-04 16:00:41.506489

In [51]:
print(pathsave)

/home/gekco/nanoHUB/nanoHUB/pipeline/plotting/SiteVisit2022_data/

In [52]:
#print(user_breakdown_df['year_month'].to_list()[-1][:4])

In [53]:
from copy import deepcopy

In [54]:
all_months_list = list()
cache_flag = False
for this_year in range(start_year_base+1,today.year+2):
    if cache_flag == True:
        for this_month in range(1,today.month+1):
            all_months_list.append(datetime.datetime(this_year, this_month, 1))
    else:
        for this_month in range(1,12+1):
            all_months_list.append(datetime.datetime(this_year, this_month, 1))

cache_all_month_list = pd.DataFrame()
cache_all_month_list['Date'] = all_months_list
cache_all_month_list.to_csv(pathsave+'all_months_list.csv')
cache_all_month_list.to_csv(pathsave+ str(start_year_base)+'_all_months_list.csv')
cache_all_month_list = []
print('allmonths partial list',all_months_list[0:36])

allmonths partial list [datetime.datetime(2000, 1, 1, 0, 0), datetime.datetime(2000, 2, 1, 0, 0), datetime.datetime(2000, 3, 1, 0, 0), datetime.datetime(2000, 4, 1, 0, 0), datetime.datetime(2000, 5, 1, 0, 0), datetime.datetime(2000, 6, 1, 0, 0), datetime.datetime(2000, 7, 1, 0, 0), datetime.datetime(2000, 8, 1, 0, 0), datetime.datetime(2000, 9, 1, 0, 0), datetime.datetime(2000, 10, 1, 0, 0), datetime.datetime(2000, 11, 1, 0, 0), datetime.datetime(2000, 12, 1, 0, 0), datetime.datetime(2001, 1, 1, 0, 0), datetime.datetime(2001, 2, 1, 0, 0), datetime.datetime(2001, 3, 1, 0, 0), datetime.datetime(2001, 4, 1, 0, 0), datetime.datetime(2001, 5, 1, 0, 0), datetime.datetime(2001, 6, 1, 0, 0), datetime.datetime(2001, 7, 1, 0, 0), datetime.datetime(2001, 8, 1, 0, 0), datetime.datetime(2001, 9, 1, 0, 0), datetime.datetime(2001, 10, 1, 0, 0), datetime.datetime(2001, 11, 1, 0, 0), datetime.datetime(2001, 12, 1, 0, 0), datetime.datetime(2002, 1, 1, 0, 0), datetime.datetime(2002, 2, 1, 0, 0), datetime.datetime(2002, 3, 1, 0, 0), datetime.datetime(2002, 4, 1, 0, 0), datetime.datetime(2002, 5, 1, 0, 0), datetime.datetime(2002, 6, 1, 0, 0), datetime.datetime(2002, 7, 1, 0, 0), datetime.datetime(2002, 8, 1, 0, 0), datetime.datetime(2002, 9, 1, 0, 0), datetime.datetime(2002, 10, 1, 0, 0), datetime.datetime(2002, 11, 1, 0, 0), datetime.datetime(2002, 12, 1, 0, 0)]

In [55]:
# clustered user usernames
tc_query = 'select id,username from jos_users where id in ' +str(tuple(clustered_NH_ids))
clustered_NH_username = pd.read_sql_query(tc_query,nanohub_db)
display(len(clustered_NH_username))

tc_query = 'select id,username from jos_users where id in ' +str(tuple(mike_clustered_NH_ids))
mike_clustered_NH_username = pd.read_sql_query(tc_query,nanohub_db)
display(len(mike_clustered_NH_username))

tc_query = 'select id,username from jos_users where id in ' +str(tuple(xufeng_clustered_NH_ids))
xufeng_clustered_NH_username = pd.read_sql_query(tc_query,nanohub_db)
display(len(xufeng_clustered_NH_username))

tc_query = 'select id,username from jos_users where id in ' +str(tuple(mike_xufeng_clustered_NH_ids))
mike_xufeng_clustered_NH_username = pd.read_sql_query(tc_query,nanohub_db)
display(len(mike_xufeng_clustered_NH_username))

79465

17004

15270

47191

In [56]:
clustered_all = clustered_NH_username['username'].tolist()
print("separate the cluster users by lifetime")
print('clustered_all length = ',len(clustered_all))
print("total day_1_users length = ",len(day_1_users))
clustered_all_day_1_users = [x for x in day_1_users  if x  in clustered_all]
print('number of clustered_all_day_1_users',len(clustered_all_day_1_users))

print("total day_2_7_users length = ",len(day_2_7_users))
clustered_all_day_2_7_users = [x for x in day_2_7_users  if x  in clustered_all]
print('number of clustered_all_day_2_7_users',len(clustered_all_day_2_7_users))

print("total day_8_30_users length = ",len(day_8_30_users))
clustered_all_day_8_30_users = [x for x in day_8_30_users  if x  in clustered_all]
print('number of clustered_all_day_8_30_users',len(clustered_all_day_8_30_users))

print("total day_31_90_users length = ",len(day_31_90_users))
clustered_all_day_31_90_users = [x for x in day_31_90_users  if x  in clustered_all]
print('number of clustered_all_day_31_90_users',len(clustered_all_day_31_90_users))

print("total day_91_180_users length = ",len(day_91_180_users))
clustered_all_day_91_180_users = [x for x in day_91_180_users  if x  in clustered_all]
print('number of clustered_all_day_91_180_users',len(clustered_all_day_91_180_users))

print("total day_181_365_users length = ",len(day_181_365_users))
clustered_all_day_181_365_users = [x for x in day_181_365_users  if x  in clustered_all]
print('number of clustered_all_day_181_365_users',len(clustered_all_day_181_365_users))


print("total years_users length = ",len(years_users))
clustered_all_years_users = [x for x in years_users  if x  in clustered_all]
print('number of clustered_ally_years_users',len(clustered_all_years_users))

separate the cluster users by lifetime
clustered_all length =  79465
total day_1_users length =  73143
number of clustered_all_day_1_users 25038
total day_2_7_users length =  15596
number of clustered_all_day_2_7_users 9367
total day_8_30_users length =  20583
number of clustered_all_day_8_30_users 13830
total day_31_90_users length =  19621
number of clustered_all_day_31_90_users 13293
total day_91_180_users length =  8592
number of clustered_all_day_91_180_users 5216
total day_181_365_users length =  7251
number of clustered_all_day_181_365_users 3772
total years_users length =  18589
number of clustered_ally_years_users 8930

In [58]:
lifetime_cache = False
if lifetime_cache == True:
    # read files
    print("need to read files here")
else:
    #write the computed data into a cache
    ## cache the researchers, self-study, and clustered users
    cache_write = pd.DataFrame()
    cache_write['username'] = day_1_users
    cache_write.to_csv(pathsave+'day_1_users.csv')
    cache_write = []
    
    cache_write = pd.DataFrame()
    cache_write['username'] = day_2_7_users
    cache_write.to_csv(pathsave+'day_2_7_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = day_8_30_users
    cache_write.to_csv(pathsave+'day_8_30_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = day_31_90_users
    cache_write.to_csv(pathsave+'day_31_90_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = day_91_180_users
    cache_write.to_csv(pathsave+'day_91_180_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = day_181_365_users
    cache_write.to_csv(pathsave+'day_181_365_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = years_users
    cache_write.to_csv(pathsave+'years_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_1_users
    cache_write.to_csv(pathsave+'self_study_day_1_users.csv')
    cache_write = []
    
    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_2_7_users
    cache_write.to_csv(pathsave+'self_study_day_2_7_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_8_30_users
    cache_write.to_csv(pathsave+'self_study_day_8_30_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_31_90_users
    cache_write.to_csv(pathsave+'self_study_day_31_90_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_91_180_users
    cache_write.to_csv(pathsave+'self_study_day_91_180_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_day_181_365_users
    cache_write.to_csv(pathsave+'self_study_day_181_365_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = self_study_years_users
    cache_write.to_csv(pathsave+'self_study_years_users.csv')
    cache_write = []
    
    cache_write = pd.DataFrame()
    cache_write['username'] = clustered_all_day_1_users
    cache_write.to_csv(pathsave+'clustered_all_day_1_users.csv')
    cache_write = []
    
    cache_write = pd.DataFrame()
    cache_write['username'] = clustered_all_day_2_7_users
    cache_write.to_csv(pathsave+'clustered_all_day_2_7_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = clustered_all_day_8_30_users
    cache_write.to_csv(pathsave+'clustered_all_day_8_30_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = clustered_all_day_31_90_users
    cache_write.to_csv(pathsave+'clustered_all_day_31_90_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = clustered_all_day_91_180_users
    cache_write.to_csv(pathsave+'clustered_all_day_91_180_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = clustered_all_day_181_365_users
    cache_write.to_csv(pathsave+'clustered_all_day_181_365_users.csv')
    cache_write = []

    cache_write = pd.DataFrame()
    cache_write['username'] = clustered_all_years_users
    cache_write.to_csv(pathsave+'clustered_all_years_users.csv')
    cache_write = []

In [38]:
## self study user usernames
#ts_query = 'select id,username from jos_users where id in ' + str(tuple(self_study_NH_ids.dropna().to_list())) 
##sf_contact_ids['nanoHUB_user_ID__c']))
#ss_NH_username = pd.read_sql_query(ts_query,nanohub_db)

In [39]:
## cache the researchers, self-study, and clustered users
cache_r_nhid = pd.DataFrame()
#cache_r_nhid['nhid'] = researcher_ids
cache_r_nhid['username'] = researcher_usernames

cache_si_nhid = pd.DataFrame()
#cache_si_nhid['nhid'] = self_identified_NH_ids.to_list()
cache_si_nhid['username'] = self_identified_usernames

cache_ss_nhid = pd.DataFrame()
#cache_ss_nhid['nhid'] = ss_NH_username['id']
cache_ss_nhid['username'] = self_study_usernames

cache_c_nhid = pd.DataFrame()
cache_c_nhid['nhid'] = clustered_NH_username['id']
cache_c_nhid['username'] = clustered_NH_username['username']

cache_cm_nhid = pd.DataFrame()
cache_cm_nhid['nhid'] = mike_clustered_NH_username['id']
cache_cm_nhid['username'] = mike_clustered_NH_username['username']

cache_cx_nhid = pd.DataFrame()
cache_cx_nhid['nhid'] = xufeng_clustered_NH_username['id']
cache_cx_nhid['username'] = xufeng_clustered_NH_username['username']

cache_cmx_nhid = pd.DataFrame()
cache_cmx_nhid['nhid'] = mike_xufeng_clustered_NH_username['id']
cache_cmx_nhid['username'] = mike_xufeng_clustered_NH_username['username']

In [40]:
print(cache_r_nhid.head(2))
print(cache_si_nhid.head(2))
print(cache_ss_nhid.head(2))
print(cache_c_nhid.head(2))
print(cache_cm_nhid.head(2))
print(cache_cx_nhid.head(2))
print(cache_cmx_nhid.head(2))

  username
0  hspwong
1  onayfeh
  username
0   tmoore
1  alexwei
  username
0  hubrepo
1    admin
     nhid    username
0  166284  0.yao.yuan
1  344801  007sribabu
   nhid username
0  1767  onayfeh
1  1909  reimers
   nhid username
0  1848   kevdog
1  1852  himadri
   nhid      username
0  1794        mar889
1  2136  ashtone_rose

In [41]:
cache_r_nhid.to_csv(pathsave+'citingauthor_ids.csv')
cache_si_nhid.to_csv(pathsave+'selfidentifiedauthors_ids.csv')
cache_ss_nhid.to_csv(pathsave+'unclassified_ids.csv')
cache_c_nhid.to_csv(pathsave+'clustered_all_ids.csv')
cache_cm_nhid.to_csv(pathsave+'clustered_m_ids.csv')
cache_cx_nhid.to_csv(pathsave+'clustered_x_ids.csv')
cache_cmx_nhid.to_csv(pathsave+'clustered_mx_ids.csv')

In [59]:
#call the annual number analysis as a function
start_year = start_year_base
#clustered_track       = Annualized_Usage(nanohub_metrics_db,start_year,clustered_NH_username['username'],'clustered_all',pathsave)
#clustered_m_track     = Annualized_Usage(nanohub_metrics_db,start_year,mike_clustered_NH_username['username'],'clustered_m',pathsave)
#clustered_x_track     = Annualized_Usage(nanohub_metrics_db,start_year,xufeng_clustered_NH_username['username'],'clustered_x',pathsave)
#clustered_mx_track    = Annualized_Usage(nanohub_metrics_db,start_year,mike_xufeng_clustered_NH_username['username'],'clustered_mx',pathsave)
#researcher_track      = Annualized_Usage(nanohub_metrics_db,start_year,researcher_usernames,'citingauthor',pathsave)
#self_identified_track = Annualized_Usage(nanohub_metrics_db,start_year,self_identified_usernames,'selfidentifiedauthors',pathsave)
#self_study_track      = Annualized_Usage(nanohub_metrics_db,start_year,self_study_usernames,'unclassified',pathsave)
#simtotal_track        = Annualized_Usage(nanohub_metrics_db,start_year,allusers_usernames,'simtotal',pathsave)
self_study_day_1_users_track        = Annualized_Usage(nanohub_metrics_db,start_year,self_study_day_1_users,'self_study_day_1_users',pathsave)
self_study_day_2_7_users_track      = Annualized_Usage(nanohub_metrics_db,start_year,self_study_day_2_7_users,'self_study_day_2_7_users',pathsave)
self_study_day_8_30_users_track     = Annualized_Usage(nanohub_metrics_db,start_year,self_study_day_8_30_users,'self_study_day_8_30_users',pathsave)
self_study_day_31_90_users_track    = Annualized_Usage(nanohub_metrics_db,start_year,self_study_day_31_90_users,'self_study_day_31_90_users',pathsave)
self_study_day_91_180_users_track   = Annualized_Usage(nanohub_metrics_db,start_year,self_study_day_91_180_users,'self_study_day_91_180_users',pathsave)
self_study_day_181_365_users_track  = Annualized_Usage(nanohub_metrics_db,start_year,self_study_day_181_365_users,'self_study_day_181_365_users',pathsave)
self_study_years_users_track        = Annualized_Usage(nanohub_metrics_db,start_year,self_study_years_users,'self_study_years_users',pathsave)

clustered_all_day_1_users_track        = Annualized_Usage(nanohub_metrics_db,start_year,clustered_all_day_1_users,      'clustered_all_day_1_users',pathsave)
clustered_all_day_2_7_users_track      = Annualized_Usage(nanohub_metrics_db,start_year,clustered_all_day_2_7_users,    'clustered_all_day_2_7_users',pathsave)
clustered_all_day_8_30_users_track     = Annualized_Usage(nanohub_metrics_db,start_year,clustered_all_day_8_30_users,   'clustered_all_day_8_30_users',pathsave)
clustered_all_day_31_90_users_track    = Annualized_Usage(nanohub_metrics_db,start_year,clustered_all_day_31_90_users,  'clustered_all_day_31_90_users',pathsave)
clustered_all_day_91_180_users_track   = Annualized_Usage(nanohub_metrics_db,start_year,clustered_all_day_91_180_users, 'clustered_all_day_91_180_users',pathsave)
clustered_all_day_181_365_users_track  = Annualized_Usage(nanohub_metrics_db,start_year,clustered_all_day_181_365_users,'clustered_all_day_181_365_users',pathsave)
clustered_all_years_users_track        = Annualized_Usage(nanohub_metrics_db,start_year,clustered_all_years_users,      'clustered_all_years_users',pathsave)

2022-03-04 16:29:26.883265
end date: '2000-01-01'
date '2000-01-01' self_study_day_1_users length 0
date '2000-02-01' self_study_day_1_users length 0
date '2000-03-01' self_study_day_1_users length 3
date '2000-04-01' self_study_day_1_users length 3
date '2000-05-01' self_study_day_1_users length 4
date '2000-06-01' self_study_day_1_users length 4
date '2000-07-01' self_study_day_1_users length 4
date '2000-08-01' self_study_day_1_users length 5
date '2000-09-01' self_study_day_1_users length 6
date '2000-10-01' self_study_day_1_users length 8
date '2000-11-01' self_study_day_1_users length 8
date '2000-12-01' self_study_day_1_users length 8
end date: '2000-12-01'
end date: '2001-01-01'
date '2001-01-01' self_study_day_1_users length 8
date '2001-02-01' self_study_day_1_users length 12
date '2001-03-01' self_study_day_1_users length 14
date '2001-04-01' self_study_day_1_users length 14
date '2001-05-01' self_study_day_1_users length 13
date '2001-06-01' self_study_day_1_users length 13
date '2001-07-01' self_study_day_1_users length 14
date '2001-08-01' self_study_day_1_users length 14
date '2001-09-01' self_study_day_1_users length 15
date '2001-10-01' self_study_day_1_users length 18
date '2001-11-01' self_study_day_1_users length 22
date '2001-12-01' self_study_day_1_users length 22
end date: '2001-12-01'
end date: '2002-01-01'
date '2002-01-01' self_study_day_1_users length 21
date '2002-02-01' self_study_day_1_users length 26
date '2002-03-01' self_study_day_1_users length 37
date '2002-04-01' self_study_day_1_users length 39
date '2002-05-01' self_study_day_1_users length 43
date '2002-06-01' self_study_day_1_users length 49
date '2002-07-01' self_study_day_1_users length 62
date '2002-08-01' self_study_day_1_users length 70
date '2002-09-01' self_study_day_1_users length 77
date '2002-10-01' self_study_day_1_users length 86
date '2002-11-01' self_study_day_1_users length 100
date '2002-12-01' self_study_day_1_users length 108
end date: '2002-12-01'
end date: '2003-01-01'
date '2003-01-01' self_study_day_1_users length 121
date '2003-02-01' self_study_day_1_users length 124
date '2003-03-01' self_study_day_1_users length 143
date '2003-04-01' self_study_day_1_users length 149
date '2003-05-01' self_study_day_1_users length 155
date '2003-06-01' self_study_day_1_users length 161
date '2003-07-01' self_study_day_1_users length 158
date '2003-08-01' self_study_day_1_users length 157
date '2003-09-01' self_study_day_1_users length 165
date '2003-10-01' self_study_day_1_users length 163
date '2003-11-01' self_study_day_1_users length 153
date '2003-12-01' self_study_day_1_users length 152
end date: '2003-12-01'
end date: '2004-01-01'
date '2004-01-01' self_study_day_1_users length 144
date '2004-02-01' self_study_day_1_users length 144
date '2004-03-01' self_study_day_1_users length 140
date '2004-04-01' self_study_day_1_users length 186
date '2004-05-01' self_study_day_1_users length 216
date '2004-06-01' self_study_day_1_users length 213
date '2004-07-01' self_study_day_1_users length 226
date '2004-08-01' self_study_day_1_users length 230
date '2004-09-01' self_study_day_1_users length 242
date '2004-10-01' self_study_day_1_users length 251
date '2004-11-01' self_study_day_1_users length 266
date '2004-12-01' self_study_day_1_users length 273
end date: '2004-12-01'
end date: '2005-01-01'
date '2005-01-01' self_study_day_1_users length 293
date '2005-02-01' self_study_day_1_users length 298
date '2005-03-01' self_study_day_1_users length 306
date '2005-04-01' self_study_day_1_users length 279
date '2005-05-01' self_study_day_1_users length 255
date '2005-06-01' self_study_day_1_users length 258
date '2005-07-01' self_study_day_1_users length 272
date '2005-08-01' self_study_day_1_users length 311
date '2005-09-01' self_study_day_1_users length 336
date '2005-10-01' self_study_day_1_users length 370
date '2005-11-01' self_study_day_1_users length 424
date '2005-12-01' self_study_day_1_users length 485
end date: '2005-12-01'
end date: '2006-01-01'
date '2006-01-01' self_study_day_1_users length 521
date '2006-02-01' self_study_day_1_users length 651
date '2006-03-01' self_study_day_1_users length 724
date '2006-04-01' self_study_day_1_users length 802
date '2006-05-01' self_study_day_1_users length 883
date '2006-06-01' self_study_day_1_users length 945
date '2006-07-01' self_study_day_1_users length 1061
date '2006-08-01' self_study_day_1_users length 1123
date '2006-09-01' self_study_day_1_users length 1230
date '2006-10-01' self_study_day_1_users length 1292
date '2006-11-01' self_study_day_1_users length 1397
date '2006-12-01' self_study_day_1_users length 1521
end date: '2006-12-01'
end date: '2007-01-01'
date '2007-01-01' self_study_day_1_users length 1537
date '2007-02-01' self_study_day_1_users length 1603
date '2007-03-01' self_study_day_1_users length 1681
date '2007-04-01' self_study_day_1_users length 1773
date '2007-05-01' self_study_day_1_users length 1818
date '2007-06-01' self_study_day_1_users length 1884
date '2007-07-01' self_study_day_1_users length 1844
date '2007-08-01' self_study_day_1_users length 1863
date '2007-09-01' self_study_day_1_users length 1850
date '2007-10-01' self_study_day_1_users length 1887
date '2007-11-01' self_study_day_1_users length 1849
date '2007-12-01' self_study_day_1_users length 1803
end date: '2007-12-01'
end date: '2008-01-01'
date '2008-01-01' self_study_day_1_users length 1828
date '2008-02-01' self_study_day_1_users length 1720
date '2008-03-01' self_study_day_1_users length 1665
date '2008-04-01' self_study_day_1_users length 1597
date '2008-05-01' self_study_day_1_users length 1567
date '2008-06-01' self_study_day_1_users length 1540
date '2008-07-01' self_study_day_1_users length 1568
date '2008-08-01' self_study_day_1_users length 1557
date '2008-09-01' self_study_day_1_users length 1534
date '2008-10-01' self_study_day_1_users length 1522
date '2008-11-01' self_study_day_1_users length 1565
date '2008-12-01' self_study_day_1_users length 1561
end date: '2008-12-01'
end date: '2009-01-01'
date '2009-01-01' self_study_day_1_users length 1584
date '2009-02-01' self_study_day_1_users length 1596
date '2009-03-01' self_study_day_1_users length 1621
date '2009-04-01' self_study_day_1_users length 1664
date '2009-05-01' self_study_day_1_users length 1682
date '2009-06-01' self_study_day_1_users length 1685
date '2009-07-01' self_study_day_1_users length 1639
date '2009-08-01' self_study_day_1_users length 1604
date '2009-09-01' self_study_day_1_users length 1554
date '2009-10-01' self_study_day_1_users length 1520
date '2009-11-01' self_study_day_1_users length 1448
date '2009-12-01' self_study_day_1_users length 1426
end date: '2009-12-01'
end date: '2010-01-01'
date '2010-01-01' self_study_day_1_users length 1401
date '2010-02-01' self_study_day_1_users length 1394
date '2010-03-01' self_study_day_1_users length 1370
date '2010-04-01' self_study_day_1_users length 1358
date '2010-05-01' self_study_day_1_users length 1402
date '2010-06-01' self_study_day_1_users length 1459
date '2010-07-01' self_study_day_1_users length 1547
date '2010-08-01' self_study_day_1_users length 1606
date '2010-09-01' self_study_day_1_users length 1684
date '2010-10-01' self_study_day_1_users length 1757
date '2010-11-01' self_study_day_1_users length 1845
date '2010-12-01' self_study_day_1_users length 1920
end date: '2010-12-01'
end date: '2011-01-01'
date '2011-01-01' self_study_day_1_users length 1972
date '2011-02-01' self_study_day_1_users length 2041
date '2011-03-01' self_study_day_1_users length 2109
date '2011-04-01' self_study_day_1_users length 2152
date '2011-05-01' self_study_day_1_users length 2152
date '2011-06-01' self_study_day_1_users length 2162
date '2011-07-01' self_study_day_1_users length 2145
date '2011-08-01' self_study_day_1_users length 2159
date '2011-09-01' self_study_day_1_users length 2159
date '2011-10-01' self_study_day_1_users length 2170
date '2011-11-01' self_study_day_1_users length 2169
date '2011-12-01' self_study_day_1_users length 2151
end date: '2011-12-01'
end date: '2012-01-01'
date '2012-01-01' self_study_day_1_users length 2181
date '2012-02-01' self_study_day_1_users length 2177
date '2012-03-01' self_study_day_1_users length 2183
date '2012-04-01' self_study_day_1_users length 2195
date '2012-05-01' self_study_day_1_users length 2233
date '2012-06-01' self_study_day_1_users length 2270
date '2012-07-01' self_study_day_1_users length 2332
date '2012-08-01' self_study_day_1_users length 2362
date '2012-09-01' self_study_day_1_users length 2332
date '2012-10-01' self_study_day_1_users length 2328
date '2012-11-01' self_study_day_1_users length 2379
date '2012-12-01' self_study_day_1_users length 2434
end date: '2012-12-01'
end date: '2013-01-01'
date '2013-01-01' self_study_day_1_users length 2438
date '2013-02-01' self_study_day_1_users length 2481
date '2013-03-01' self_study_day_1_users length 2589
date '2013-04-01' self_study_day_1_users length 2562
date '2013-05-01' self_study_day_1_users length 2623
date '2013-06-01' self_study_day_1_users length 2671
date '2013-07-01' self_study_day_1_users length 2665
date '2013-08-01' self_study_day_1_users length 2711
date '2013-09-01' self_study_day_1_users length 2784
date '2013-10-01' self_study_day_1_users length 2802
date '2013-11-01' self_study_day_1_users length 2822
date '2013-12-01' self_study_day_1_users length 2838
end date: '2013-12-01'
end date: '2014-01-01'
date '2014-01-01' self_study_day_1_users length 2811
date '2014-02-01' self_study_day_1_users length 2833
date '2014-03-01' self_study_day_1_users length 2771
date '2014-04-01' self_study_day_1_users length 2852
date '2014-05-01' self_study_day_1_users length 2866
date '2014-06-01' self_study_day_1_users length 2776
date '2014-07-01' self_study_day_1_users length 2724
date '2014-08-01' self_study_day_1_users length 2623
date '2014-09-01' self_study_day_1_users length 2559
date '2014-10-01' self_study_day_1_users length 2496
date '2014-11-01' self_study_day_1_users length 2461
date '2014-12-01' self_study_day_1_users length 2472
end date: '2014-12-01'
end date: '2015-01-01'
date '2015-01-01' self_study_day_1_users length 2510
date '2015-02-01' self_study_day_1_users length 2499
date '2015-03-01' self_study_day_1_users length 2482
date '2015-04-01' self_study_day_1_users length 2448
date '2015-05-01' self_study_day_1_users length 2403
date '2015-06-01' self_study_day_1_users length 2386
date '2015-07-01' self_study_day_1_users length 2303
date '2015-08-01' self_study_day_1_users length 2345
date '2015-09-01' self_study_day_1_users length 2381
date '2015-10-01' self_study_day_1_users length 2466
date '2015-11-01' self_study_day_1_users length 2459
date '2015-12-01' self_study_day_1_users length 2344
end date: '2015-12-01'
end date: '2016-01-01'
date '2016-01-01' self_study_day_1_users length 2346
date '2016-02-01' self_study_day_1_users length 2300
date '2016-03-01' self_study_day_1_users length 2285
date '2016-04-01' self_study_day_1_users length 2315
date '2016-05-01' self_study_day_1_users length 2365
date '2016-06-01' self_study_day_1_users length 2472
date '2016-07-01' self_study_day_1_users length 2666
date '2016-08-01' self_study_day_1_users length 2677
date '2016-09-01' self_study_day_1_users length 2741
date '2016-10-01' self_study_day_1_users length 2797
date '2016-11-01' self_study_day_1_users length 2871
date '2016-12-01' self_study_day_1_users length 3043
end date: '2016-12-01'
end date: '2017-01-01'
date '2017-01-01' self_study_day_1_users length 3086
date '2017-02-01' self_study_day_1_users length 3207
date '2017-03-01' self_study_day_1_users length 3322
date '2017-04-01' self_study_day_1_users length 3365
date '2017-05-01' self_study_day_1_users length 3358
date '2017-06-01' self_study_day_1_users length 3390
date '2017-07-01' self_study_day_1_users length 3362
date '2017-08-01' self_study_day_1_users length 3436
date '2017-09-01' self_study_day_1_users length 3503
date '2017-10-01' self_study_day_1_users length 3501
date '2017-11-01' self_study_day_1_users length 3496
date '2017-12-01' self_study_day_1_users length 3477
end date: '2017-12-01'
end date: '2018-01-01'
date '2018-01-01' self_study_day_1_users length 3483
date '2018-02-01' self_study_day_1_users length 3501
date '2018-03-01' self_study_day_1_users length 3479
date '2018-04-01' self_study_day_1_users length 3472
date '2018-05-01' self_study_day_1_users length 3516
date '2018-06-01' self_study_day_1_users length 3497
date '2018-07-01' self_study_day_1_users length 3507
date '2018-08-01' self_study_day_1_users length 3541
date '2018-09-01' self_study_day_1_users length 3531
date '2018-10-01' self_study_day_1_users length 3568
date '2018-11-01' self_study_day_1_users length 3575
date '2018-12-01' self_study_day_1_users length 3609
end date: '2018-12-01'
end date: '2019-01-01'
date '2019-01-01' self_study_day_1_users length 3605
date '2019-02-01' self_study_day_1_users length 3631
date '2019-03-01' self_study_day_1_users length 3645
date '2019-04-01' self_study_day_1_users length 3714
date '2019-05-01' self_study_day_1_users length 3706
date '2019-06-01' self_study_day_1_users length 3762
date '2019-07-01' self_study_day_1_users length 3752
date '2019-08-01' self_study_day_1_users length 3724
date '2019-09-01' self_study_day_1_users length 3678
date '2019-10-01' self_study_day_1_users length 3660
date '2019-11-01' self_study_day_1_users length 3709
date '2019-12-01' self_study_day_1_users length 3683
end date: '2019-12-01'
end date: '2020-01-01'
date '2020-01-01' self_study_day_1_users length 3738
date '2020-02-01' self_study_day_1_users length 3642
date '2020-03-01' self_study_day_1_users length 3614
date '2020-04-01' self_study_day_1_users length 3647
date '2020-05-01' self_study_day_1_users length 3813
date '2020-06-01' self_study_day_1_users length 3989
date '2020-07-01' self_study_day_1_users length 4245
date '2020-08-01' self_study_day_1_users length 4322
date '2020-09-01' self_study_day_1_users length 4440
date '2020-10-01' self_study_day_1_users length 4514
date '2020-11-01' self_study_day_1_users length 4636
date '2020-12-01' self_study_day_1_users length 4741
end date: '2020-12-01'
end date: '2021-01-01'
date '2021-01-01' self_study_day_1_users length 4830
date '2021-02-01' self_study_day_1_users length 5011
date '2021-03-01' self_study_day_1_users length 5133
date '2021-04-01' self_study_day_1_users length 5197
date '2021-05-01' self_study_day_1_users length 5176
date '2021-06-01' self_study_day_1_users length 5034
date '2021-07-01' self_study_day_1_users length 4868
date '2021-08-01' self_study_day_1_users length 4858
date '2021-09-01' self_study_day_1_users length 4813
date '2021-10-01' self_study_day_1_users length 4766
date '2021-11-01' self_study_day_1_users length 4682
date '2021-12-01' self_study_day_1_users length 4634
end date: '2021-12-01'
end date: '2022-01-01'
date '2022-01-01' self_study_day_1_users length 4577
date '2022-02-01' self_study_day_1_users length 5111
date '2022-03-01' self_study_day_1_users length 5128
date '2022-04-01' self_study_day_1_users length 4661
date '2022-05-01' self_study_day_1_users length 4202
date '2022-06-01' self_study_day_1_users length 3821
date '2022-07-01' self_study_day_1_users length 3489
date '2022-08-01' self_study_day_1_users length 3138
date '2022-09-01' self_study_day_1_users length 2822
date '2022-10-01' self_study_day_1_users length 2499
date '2022-11-01' self_study_day_1_users length 2108
date '2022-12-01' self_study_day_1_users length 1736
end date: '2022-12-01'
end date: '2023-01-01'
date '2023-01-01' self_study_day_1_users length 1402
date '2023-02-01' self_study_day_1_users length 436
date '2023-03-01' self_study_day_1_users length 0
date '2023-04-01' self_study_day_1_users length 0
date '2023-05-01' self_study_day_1_users length 0
date '2023-06-01' self_study_day_1_users length 0
date '2023-07-01' self_study_day_1_users length 0
date '2023-08-01' self_study_day_1_users length 0
date '2023-09-01' self_study_day_1_users length 0
date '2023-10-01' self_study_day_1_users length 0
date '2023-11-01' self_study_day_1_users length 0
date '2023-12-01' self_study_day_1_users length 0
end date: '2023-12-01'
2022-03-04 17:01:19.446226
end date: '2000-01-01'
date '2000-01-01' self_study_day_2_7_users length 0
date '2000-02-01' self_study_day_2_7_users length 0
date '2000-03-01' self_study_day_2_7_users length 1
date '2000-04-01' self_study_day_2_7_users length 1
date '2000-05-01' self_study_day_2_7_users length 1
date '2000-06-01' self_study_day_2_7_users length 1
date '2000-07-01' self_study_day_2_7_users length 1
date '2000-08-01' self_study_day_2_7_users length 1
date '2000-09-01' self_study_day_2_7_users length 1
date '2000-10-01' self_study_day_2_7_users length 1
date '2000-11-01' self_study_day_2_7_users length 1
date '2000-12-01' self_study_day_2_7_users length 1
end date: '2000-12-01'
end date: '2001-01-01'
date '2001-01-01' self_study_day_2_7_users length 1
date '2001-02-01' self_study_day_2_7_users length 3
date '2001-03-01' self_study_day_2_7_users length 6
date '2001-04-01' self_study_day_2_7_users length 6
date '2001-05-01' self_study_day_2_7_users length 5
date '2001-06-01' self_study_day_2_7_users length 5
date '2001-07-01' self_study_day_2_7_users length 5
date '2001-08-01' self_study_day_2_7_users length 5
date '2001-09-01' self_study_day_2_7_users length 5
date '2001-10-01' self_study_day_2_7_users length 5
date '2001-11-01' self_study_day_2_7_users length 6
date '2001-12-01' self_study_day_2_7_users length 6
end date: '2001-12-01'
end date: '2002-01-01'
date '2002-01-01' self_study_day_2_7_users length 6
date '2002-02-01' self_study_day_2_7_users length 9
date '2002-03-01' self_study_day_2_7_users length 15
date '2002-04-01' self_study_day_2_7_users length 15
date '2002-05-01' self_study_day_2_7_users length 16
date '2002-06-01' self_study_day_2_7_users length 15
date '2002-07-01' self_study_day_2_7_users length 15
date '2002-08-01' self_study_day_2_7_users length 15
date '2002-09-01' self_study_day_2_7_users length 17
date '2002-10-01' self_study_day_2_7_users length 19
date '2002-11-01' self_study_day_2_7_users length 19
date '2002-12-01' self_study_day_2_7_users length 20
end date: '2002-12-01'
end date: '2003-01-01'
date '2003-01-01' self_study_day_2_7_users length 20
date '2003-02-01' self_study_day_2_7_users length 20
date '2003-03-01' self_study_day_2_7_users length 19
date '2003-04-01' self_study_day_2_7_users length 24
date '2003-05-01' self_study_day_2_7_users length 23
date '2003-06-01' self_study_day_2_7_users length 26
date '2003-07-01' self_study_day_2_7_users length 28
date '2003-08-01' self_study_day_2_7_users length 30
date '2003-09-01' self_study_day_2_7_users length 30
date '2003-10-01' self_study_day_2_7_users length 31
date '2003-11-01' self_study_day_2_7_users length 31
date '2003-12-01' self_study_day_2_7_users length 37
end date: '2003-12-01'
end date: '2004-01-01'
date '2004-01-01' self_study_day_2_7_users length 39
date '2004-02-01' self_study_day_2_7_users length 39
date '2004-03-01' self_study_day_2_7_users length 38
date '2004-04-01' self_study_day_2_7_users length 45
date '2004-05-01' self_study_day_2_7_users length 55
date '2004-06-01' self_study_day_2_7_users length 53
date '2004-07-01' self_study_day_2_7_users length 73
date '2004-08-01' self_study_day_2_7_users length 73
date '2004-09-01' self_study_day_2_7_users length 74
date '2004-10-01' self_study_day_2_7_users length 75
date '2004-11-01' self_study_day_2_7_users length 79
date '2004-12-01' self_study_day_2_7_users length 77
end date: '2004-12-01'
end date: '2005-01-01'
date '2005-01-01' self_study_day_2_7_users length 78
date '2005-02-01' self_study_day_2_7_users length 81
date '2005-03-01' self_study_day_2_7_users length 82
date '2005-04-01' self_study_day_2_7_users length 73
date '2005-05-01' self_study_day_2_7_users length 71
date '2005-06-01' self_study_day_2_7_users length 69

KeyboardInterrupt:

In [ ]:
print('clustered_track ',len(clustered_track))
print('clustered_m_track ', len(clustered_m_track))
print('clustered_x_track ',len(clustered_x_track))
print('clustered_mx_track ',len(clustered_mx_track))
print('researcher_track ',len(researcher_track))
print('self_identified_track ', len(self_identified_track))
print('self_study_track ',len(self_study_track))
print('simtotal_track ',len(simtotal_track))
print('all_months_list ',len(all_months_list))