In [1]:
import os
from io import StringIO # if going with no saving csv file
import dask.dataframe as dd
from dask.delayed import delayed
from pathlib import Path
import pandas as pd
import os

In [2]:
from pprint import pprint, pp
from IPython.display import display, Markdown
from icecream import ic
from jupyter_helpers.namespace import NeatNamespace

In [3]:
cache_dir = Path(os.getenv('APP_DIR') + '/.cache')

nanohub_metrics_datadir = Path(cache_dir, 'nanohub_metrics')
nanohub_datadir = Path(cache_dir, 'nanohub')

toolstart_datadir = Path(nanohub_metrics_datadir, 'toolstart')
toolversion_datadir = Path(nanohub_datadir, 'jos_tool_version')

In [4]:
toolstart_ddf = dd.read_parquet(toolstart_datadir)

In [5]:
display(toolstart_ddf.head())

,sessionid,datetime,orgtype,countryresident,countrycitizen,protocol,success,countryip,ip,host,user,tool,pid,domain,filesystem,execunit,walltime,cputime,error
id,,,,,,,,,,,,,,,,,,,
1,0,2002-07-01 05:58:29,0,,,5,1,NL,130.161.187.159,frohlich.tn.tudelft.nl,herre,CNT-IV,1.0,tudelft.nl,none,babylon5.ecn.purdue.edu,139,-1,None
2,0,2002-07-01 08:19:59,0,,,5,1,US,147.226.50.102,nat-147-226-50-102.bsu.edu,donovan,Huckel-IV,340.0,bsu.edu,none,babylon5.ecn.purdue.edu,107,-1,None
3,0,2002-07-01 08:25:48,0,,,5,1,US,147.226.50.102,nat-147-226-50-102.bsu.edu,donovan,Huckel-IV,341.0,bsu.edu,none,babylon5.ecn.purdue.edu,337,-1,None
4,0,2002-07-01 08:39:10,0,,,5,1,US,147.226.50.102,nat-147-226-50-102.bsu.edu,donovan,Huckel-IV,342.0,bsu.edu,none,babylon5.ecn.purdue.edu,206,-1,None
5,0,2002-07-01 08:52:17,0,,,5,1,US,147.226.50.102,nat-147-226-50-102.bsu.edu,donovan,Huckel-IV,343.0,bsu.edu,none,babylon5.ecn.purdue.edu,259,-1,None

In [6]:
display(toolstart_ddf.tail())

,sessionid,datetime,orgtype,countryresident,countrycitizen,protocol,success,countryip,ip,host,user,tool,pid,domain,filesystem,execunit,walltime,cputime,error
id,,,,,,,,,,,,,,,,,,,
11698489,0,2019-03-20 07:22:55,0,,,7,1,TR,194.27.222.126,?,ardinc.edis,atcadlab_r15,None,?,None,exec028,0,-1,None
11698490,0,2019-03-20 07:23:12,0,,,7,1,IT,188.152.188.166,net-188-152-188-166.cust.vodafonedsl.it,luanco1,atcadlab_r15,None,vodafonedsl.it,None,exec027,11,8,None
11698491,0,2019-03-20 07:27:09,0,,,7,1,IN,182.19.48.18,?,vsitaram,polymod_r460,None,?,None,exec027,826,48,None
11698492,0,2019-03-20 07:30:31,0,,,7,1,IN,182.19.48.18,?,vsitaram,polymod_r460,None,?,None,exec027,0,-1,None
11698493,0,2019-03-20 07:30:37,0,,,7,1,IN,182.19.48.18,?,vsitaram,polymod_r460,None,?,None,exec027,0,1,None

In [7]:
toolversions_df = pd.read_parquet(toolversion_datadir)

In [8]:
display(toolversions_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5123 entries, 1 to 5384
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   toolname       5123 non-null   object
 1   instance       5123 non-null   object
 2   title          5123 non-null   object
 3   description    5045 non-null   object
 4   fulltxt        4284 non-null   object
 5   version        5012 non-null   object
 6   revision       4431 non-null   float64
 7   toolaccess     5089 non-null   object
 8   codeaccess     5089 non-null   object
 9   wikiaccess     5089 non-null   object
 10  state          5075 non-null   float64
 11  released_by    2990 non-null   object
 12  released       3613 non-null   datetime64[ns]
 13  unpublished    570 non-null    datetime64[ns]
 14  exportControl  208 non-null    object
 15  license        3398 non-null   object
 16  vnc_geometry   5025 non-null   object
 17  vnc_depth      0 non-null      object
 18  vnc_timeout    102 non-null    float64
 19  vnc_command    5024 non-null   object
 20  mw             5068 non-null   object
 21  toolid         5116 non-null   float64
 22  priority       1110 non-null   float64
 23  params         2211 non-null   object
dtypes: datetime64[ns](2), float64(5), object(17)
memory usage: 1000.6+ KB

None

In [9]:
toolversions_df = toolversions_df.drop_duplicates(subset=['toolname'])

In [10]:
display(toolversions_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1814 entries, 1 to 5384
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   toolname       1814 non-null   object
 1   instance       1814 non-null   object
 2   title          1814 non-null   object
 3   description    1766 non-null   object
 4   fulltxt        1060 non-null   object
 5   version        1761 non-null   object
 6   revision       1136 non-null   float64
 7   toolaccess     1794 non-null   object
 8   codeaccess     1794 non-null   object
 9   wikiaccess     1794 non-null   object
 10  state          1794 non-null   float64
 11  released_by    43 non-null     object
 12  released       362 non-null    datetime64[ns]
 13  unpublished    106 non-null    datetime64[ns]
 14  exportControl  77 non-null     object
 15  license        402 non-null    object
 16  vnc_geometry   1759 non-null   object
 17  vnc_depth      0 non-null      object
 18  vnc_timeout    13 non-null     float64
 19  vnc_command    1759 non-null   object
 20  mw             1775 non-null   object
 21  toolid         1807 non-null   float64
 22  priority       386 non-null    float64
 23  params         1073 non-null   object
dtypes: datetime64[ns](2), float64(5), object(17)
memory usage: 354.3+ KB

None

In [ ]:
toolversions_df['instance'] = toolversions_df['instance'].str.lower()
toolstart_df = toolstart_ddf.compute()
toolstart_ddf['instance'] = toolstart_ddf['tool'].str.lower()


toolversions_df = pd.merge(toolversions_df, toolstart_df, on="instance")

In [ ]:
display(toolversions_df.head())