## Build user table containing hubspot contact informations

In [2]:
import pandas as pd
import os

In [3]:
sql_login_params = {"username": "wang2506_ro", "password": "fnVnwcCS7iT45EsA"}
sf_login_params = {
    "grant_type": "password",
    "client_id": "3MVG95jctIhbyCppj0SNJ75IsZ1y8UPGZtSNF4j8FNVXz.De8Lu4jHm3rjRosAtsHy6qjHx3i4S_QbQzvBePG",
    "client_secret": "D1623C6D3607D4FC8004B92C761DFB6C1F70CCD129C5501E357028DFA00F5764",
    "username":"wang2506@purdue.edu",
    "password":"mathisfun992728tXYwCb5yMm6XtohbTRw8ZdBbi",
}

## Load input data EE Faculty Delivera full names

EE data data: $ cwd+EE Faculty Delivra full names.xlsx

In [7]:
#import data
cwd = os.getcwd()
print(cwd)
temp = pd.read_excel('EE_delivra.xlsx')

C:\Users\henry\Desktop\PhD Research\Nanohub RA\nanohub_salesforce_integ-master\delivera_table_generation

In [26]:
temp.head(2)

,RecipientID,MemberID,engagement,UserName,Domain,EmailAddr_,MailingStatus,SendTry,Full Name
0,19265625052,1558002285,0.0000,mchamanz,andrew.cmu.edu,mchamanz@andrew.cmu.edu,Success,1,maysam chamanzar
1,19265625108,1558002287,0.4167,qingli2,andrew.cmu.edu,qingli2@andrew.cmu.edu,Success,1,qing li

### Split by mailingstatus

In [19]:
# find row indices that have unsuccessful mailing status
badindex = []
goodindex = []
for i,j in enumerate(t_df['mailingstatus']):
    if j != 'Success':
        badindex.append(i)
    else:
        goodindex.append(i)

In [23]:
# extract the entries with failure mailing status and save the result
b_ee_df = temp.iloc[badindex,:]
b_ee_df.to_csv(cwd+'\ee_delivra_failures.csv')

In [24]:
# reset the temporary holding dataframe
temp = temp.iloc[goodindex,:]

In [25]:
display(temp.head(2))

,RecipientID,MemberID,engagement,UserName,Domain,EmailAddr_,MailingStatus,SendTry,Full Name
0,19265625052,1558002285,0.0000,mchamanz,andrew.cmu.edu,mchamanz@andrew.cmu.edu,Success,1,maysam chamanzar
1,19265625108,1558002287,0.4167,qingli2,andrew.cmu.edu,qingli2@andrew.cmu.edu,Success,1,qing li

### Filtering for salesforce import

In [27]:
# filtering for 'engagement','EmailAddr_','MailingStatus','Full Name'
t_list = []
t_df = pd.DataFrame() #['engagement','EmailAddr_','MailingStatus','Full Name']
t_df['Engagement'] = temp.loc[:,'engagement']
t_df['Email'] = temp.loc[:,'EmailAddr_']
t_df['fullname'] = temp.loc[:,'Full Name']

In [30]:
# split full name into first and last name
def first_name(this_name):
    name_list = this_name.split(' ')

    return pd.Series([name_list[0]])

def last_name(this_name):
    name_list = this_name.split(' ')
    
    return pd.Series([name_list[-1]])


t_df['firstname'] = t_df['fullname'].apply(first_name)
t_df['lastname'] = t_df['fullname'].apply(last_name)
t_df['Name'] = t_df['firstname']+' '+t_df['lastname']
t_df['contact_type'] = 'EE2019list'
t_df['lead_source'] = 'Delivra Engagement'

In [31]:
display(t_df.head(2))
display(t_df.tail(2))

,Engagement,Email,fullname,firstname,lastname,Name,contact_type,lead_source
0,0.0000,mchamanz@andrew.cmu.edu,maysam chamanzar,maysam,chamanzar,maysam chamanzar,EE2019list,Delivra engagement
1,0.4167,qingli2@andrew.cmu.edu,qing li,qing,li,qing li,EE2019list,Delivra engagement

,Engagement,Email,fullname,firstname,lastname,Name,contact_type,lead_source
463,0.4167,mark.reed@yale.edu,mark a,mark,a,mark a,EE2019list,Delivra engagement
464,0.8333,zypman@yu.edu,fredy zypman,fredy,zypman,fredy zypman,EE2019list,Delivra engagement

## Import salesforce contacts - filter the data for contacts and leads

In [32]:
# Obtain contacts metadata from Salesforce
from DB2SalesforceAPI import DB2SalesforceAPI

# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

# specify Salesforce object ID and external ID
contact_metadata = db_s.get_obj_metadata('Contact')

Obtained Salesforce access token ...... True

In [36]:
import json

# get all fields
field_list = json.loads(contact_metadata)['fields']

# list of available field API names
available_fields = list()

for this_field in field_list:
    this_name = this_field['name']
    
    if 'Name' == this_name:
        print(True)
    
    if len(this_name) > 3:
        if this_name[-3:] == '__c':
            # this is a custom-made field
            available_fields.append(this_name[:-3])
            
# display
display(available_fields[:5])

True

['Type',
 'nanoHUB_user_ID',
 'nanoHUB_username',
 'Organization_Type',
 'nanoHUB_registration_date']

In [57]:
# salesforce queries for contact data
sf_contact_email_df = db_s.query_data('SELECT Id, Email FROM Contact')

[Success] Bulk job creation successful. Job ID = 7505w00000O5QpGAAV
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:28:24.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:28:24.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:28:24.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:28:24.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:28:24.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:28:24.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:28:24.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:29:31.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:29:31.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:29:31.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000O5QpGAAV","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2020-07-22T19:28:23.000+0000","systemModstamp":"2020-07-22T19:30:05.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":218085,"retries":0,"totalProcessingTime":8337}
[Success] Bulk job completed successfully.

In [61]:
sf_contact_email_df.head(2)

                 Email                  Id
0   nkissebe@gmail.com  0035w000031Vsp1AAC
1  support@nanohub.org  0035w000031Vsp2AAC

In [67]:
# basically, if their email already exists as a contact, then drop them
contact_index = []
sf_id_contact = []
lead_index = []

sf_contacts = sf_contact_email_df['Email'].tolist()
for i,j in enumerate(t_df['Email']):
    if j in sf_contacts:
        contact_index.append(i)
        sf_id_contact.append(sf_contacts.index(j))
    else:
        lead_index.append(i)

In [74]:
# for contacts, update their contacts page
contacts_df = pd.DataFrame()
contacts_df['Engagement__c'] = t_df['Engagement']
contacts_df['LeadSource'] = t_df['lead_source']
contacts_df['Email'] = t_df['Email']

contacts_df = contacts_df.iloc[contact_index,:]
contacts_df = contacts_df.reset_index(drop=True)

ttc = sf_contact_email_df['Id'][sf_id_contact]
ttc = ttc.reset_index(drop=True)
contacts_df['Id'] = ttc

In [75]:
contacts_df.head(2)

,Engagement__c,LeadSource,Email,Id
0,0.4167,Delivra engagement,stephen.goodnick@asu.edu,0035w000034JKc2AAG
1,0.4167,Delivra engagement,t.thornton@asu.edu,0035w000034Joy5AAC

## Match data with Salesforce format [CONTACTS]

In [278]:
# get contacts specific dataframe
contacts_df = df_filter[contacts_indices]
# find columns that have matched fields in Salesforce
matched_columns = set(contacts_df.columns).intersection(set(available_fields))

# display
display(matched_columns)

{'Champion',
 'Contact_Type',
 'Disciplines',
 'Linkedin_Bio',
 'Venue',
 'nanoHUB_user_ID'}

In [279]:
df_sf_contacts = pd.DataFrame()

# names, nanohub id, and email
df_sf_contacts['firstname'] = contacts_df['FirstName']
df_sf_contacts['lastname'] = contacts_df['LastName']
df_sf_contacts['nanoHUB_user_ID__c']            = contacts_df['nanoHUB_user_ID']
df_sf_contacts['Email']                         = contacts_df['Email'].fillna('').apply(lambda x: '' if '@invalid' in x else x)

# hubspot specific qualities
df_sf_contacts['Champion__c'] = contacts_df['Champion']
df_sf_contacts['Contact_Type__c'] = contacts_df['Contact_Type']
df_sf_contacts['Venue__c'] = contacts_df['Venue']
df_sf_contacts['Linkedin_Bio__c'] = contacts_df['Linkedin_Bio']
df_sf_contacts['Disciplines__c'] = contacts_df['Disciplines']


# display
df_sf_contacts.head(2).T

                                       0                  1
firstname                             ST                Jay
lastname                       H Tawfick           R Roloff
nanoHUB_user_ID__c                186599             199490
Email               tawfick@illinois.edu  jayr@illinois.edu
Champion__c                          NaN                NaN
Contact_Type__c                  nanoMFG            nanoMFG
Venue__c                             NaN                NaN
Linkedin_Bio__c                      NaN                NaN
Disciplines__c                       NaN                NaN

In [280]:
external_id = 'Email'
object_id = 'Contact'

# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

# specify Salesforce object ID and external ID
db_s.object_id = object_id 
db_s.external_id = external_id

Obtained Salesforce access token ...... True

In [281]:
db_s.send_data(df_sf_contacts)

[Success] Bulk job creation successful. Job ID = 7505w00000O3dRZAAZ
hello
[Success] CSV upload successful. Job ID = 7505w00000O3dRZAAZ
[Success] Closing job successful. Job ID = 7505w00000O3dRZAAZ

In [282]:
# check status
db_s.check_bulk_status()

{'id': '7505w00000O3dRZAAZ',
 'operation': 'upsert',
 'object': 'Contact',
 'createdById': '0055w00000DM5bOAAT',
 'createdDate': '2020-07-15T18:05:47.000+0000',
 'systemModstamp': '2020-07-15T18:06:02.000+0000',
 'state': 'UploadComplete',
 'externalIdFieldName': 'Email',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'apiVersion': 47.0,
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'columnDelimiter': 'COMMA',
 'numberRecordsProcessed': 0,
 'numberRecordsFailed': 0,
 'retries': 0,
 'totalProcessingTime': 0,
 'apiActiveProcessingTime': 0,
 'apexProcessingTime': 0}

In [283]:
# check status
from pprint import pprint

pprint(db_s.check_bulk_failed_results())

''

## Match data with Salesforce format [LEADS]

In [284]:
# get leads specific dataframe
leads_df = df_filter[leads_indices]
# find columns that have matched fields in Salesforce
matched_columns = set(leads_df.columns).intersection(set(available_fields))

# display
display(matched_columns)

{'Champion',
 'Contact_Type',
 'Disciplines',
 'Linkedin_Bio',
 'Venue',
 'nanoHUB_user_ID'}

In [296]:
df_sf_leads = pd.DataFrame()

# create a new column for object name
df_sf_leads['firstname'] = leads_df['FirstName']
df_sf_leads['lastname'] = leads_df['LastName']
df_sf_leads['Venue__c'] = leads_df['Venue']
df_sf_leads['Email'] = leads_df['Email'].fillna('').apply(lambda x: '' if '@invalid' in x else x)
df_sf_leads['Contact_Type__c'] = leads_df['Contact_Type']
df_sf_leads['Linkedin_Bio__c'] = leads_df['Linkedin_Bio']
df_sf_leads['LeadSource'] = 'Hubspot'

df_sf_leads['Company'] = np.ones(leads_df['FirstName'].shape[0])*np.nan

# Company cannot be empty
df_sf_leads['Company'] = df_sf_leads['Company'].fillna('-')
df_sf_leads['Company'] = df_sf_leads['Company'].apply(lambda x: x if len(x.strip())>0 else '-')


# display
df_sf_leads.head(2).T

                                     7                      8
firstname                     Geoffrey                    Hai
lastname                           Fox                   Pham
Venue__c                           NaN         HS SACNAS 2019
Email            gcfexchange@gmail.com  haipham5050@gmail.com
Contact_Type__c                nanoBIO           URE Interest
Linkedin_Bio__c                    NaN                    NaN
LeadSource                     Hubspot                Hubspot
Company                              -                      -

In [297]:
external_id = 'Email'
object_id = 'Lead'
# create DB2 to Salesforce API object
db_s = DB2SalesforceAPI(sf_login_params)

# specify Salesforce object ID and external ID
db_s.object_id = object_id 
db_s.external_id = external_id

Obtained Salesforce access token ...... True

In [298]:
db_s.send_data(df_sf_leads)

[Success] Bulk job creation successful. Job ID = 7505w00000O3dizAAB
hello
[Success] CSV upload successful. Job ID = 7505w00000O3dizAAB
[Success] Closing job successful. Job ID = 7505w00000O3dizAAB

In [299]:
# check status
db_s.check_bulk_status()

{'id': '7505w00000O3dizAAB',
 'operation': 'upsert',
 'object': 'Lead',
 'createdById': '0055w00000DM5bOAAT',
 'createdDate': '2020-07-15T18:23:07.000+0000',
 'systemModstamp': '2020-07-15T18:23:08.000+0000',
 'state': 'UploadComplete',
 'externalIdFieldName': 'Email',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'apiVersion': 47.0,
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'columnDelimiter': 'COMMA',
 'numberRecordsProcessed': 0,
 'numberRecordsFailed': 0,
 'retries': 0,
 'totalProcessingTime': 0,
 'apiActiveProcessingTime': 0,
 'apexProcessingTime': 0}

In [294]:
# check status
from pprint import pprint

pprint(db_s.check_bulk_failed_results())

''