# DB2-Salesforce connector: updates all of the personalized questions from jos_user_profiles

In [1]:
# Parameters
# API settings
api_url = '/services/data/v43.0/sobjects'
external_id = 'nanoHUB_user_ID__c'
object_id = 'Contact'

# login parameters to be handled by Papermill
from nanoHUB.application import Application

application = Application.get_instance()
nanohub_db = application.new_db_engine('nanohub')

salesforce = application.new_salesforce_engine()
db_s = salesforce

nanoHUB - Serving Students, Researchers & Instructors

2021-08-26 00:52:36,246| INFO    | 0 keys loaded from agent

2021-08-26 00:52:36,246 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_agent_keys:1060]: 0 keys loaded from agent

2021-08-26 00:52:36,250| INFO    | 0 key(s) loaded

2021-08-26 00:52:36,250 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.get_keys:1117]: 0 key(s) loaded

2021-08-26 00:52:36,252| INFO    | Connecting to gateway: db2.nanohub.org:22 as user 'saxenap'

2021-08-26 00:52:36,252 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel.__init__:978]: Connecting to gateway: db2.nanohub.org:22 as user 'saxenap'

2021-08-26 00:52:36,254 - [INFO] nanoHUB.containers.dataaccess [connection.get_connection_for:101]: Started SSH Tunnel with db2.nanohub.org

2021-08-26 00:52:36,567| INFO    | Opening tunnel: 0.0.0.0:54923 <> 127.0.0.1:3306

2021-08-26 00:52:36,567 - [INFO] sshtunnel.SSHTunnelForwarder [sshtunnel._serve_forever_wrapper:1433]: Opening tunnel: 0.0.0.0:54923 <> 127.0.0.1:3306

Obtained Salesforce access token ...... True

In [2]:
import pandas as pd
import datetime

## Get the latest email opt in/out data from DB2

In [3]:
# connect with DB2

In [4]:
# get user motivations to join NH
reasons = pd.read_sql_query("select id, user_id, profile_key, profile_value from jos_user_profiles \
where profile_key in ('reason') order by user_id desc;",nanohub_db) #limit 5000 per night in the future

how_hear = pd.read_sql_query("select id, user_id, profile_key, profile_value from jos_user_profiles \
where profile_key in ('howdidyouhear') order by user_id desc;",nanohub_db)

purpose = pd.read_sql_query("select id, user_id, profile_key, profile_value from jos_user_profiles \
where profile_key in ('purposeofvisit') order by user_id desc;",nanohub_db)

gender = pd.read_sql_query("select id, user_id, profile_key, profile_value from jos_user_profiles \
where profile_key in ('gender') order by user_id desc;",nanohub_db)

native =  pd.read_sql_query("select id, user_id, profile_key, profile_value from jos_user_profiles \
where profile_key in ('nativeTribe') order by user_id desc;",nanohub_db)

hispanic =  pd.read_sql_query("select id, user_id, profile_key, profile_value from jos_user_profiles \
where profile_key in ('hispanic') order by user_id desc;",nanohub_db)

disability =  pd.read_sql_query("select id, user_id, profile_key, profile_value from jos_user_profiles \
where profile_key in ('disability') order by user_id desc;",nanohub_db)

race =  pd.read_sql_query("select id, user_id, profile_key, profile_value from jos_user_profiles \
where profile_key in ('race') order by user_id desc;",nanohub_db)

In [5]:
print(reasons.shape)
print(how_hear.shape)
print(purpose.shape)
print(gender.shape)
print(native.shape)
print(hispanic.shape)
print(disability.shape)
print(race.shape)

(54027, 4)
(69530, 4)
(69550, 4)
(78523, 4)
(373, 4)
(58762, 4)
(64404, 4)
(34203, 4)

In [6]:
display(reasons.head(2))
display(how_hear.head(2))
display(purpose.head(2))
display(gender.head(2))
display(native.head(2))
display(hispanic.head(2))
display(disability.head(2))
display(race.head(2))

        id  user_id profile_key                        profile_value
0  2173221   336248      reason  Using simulation tools for research
1  2173222   336236      reason                   Required for class

        id  user_id    profile_key         profile_value
0  2173268   336335  howdidyouhear    From an instructor
1  2173254   336333  howdidyouhear  From another website

        id  user_id     profile_key     profile_value
0  2173269   336335  purposeofvisit             Other
1  2173255   336333  purposeofvisit  Run a simulation

        id  user_id profile_key profile_value
0  2172669   336196      gender          male
1  2172493   336162      gender        female

       id  user_id  profile_key profile_value
0  532845   144140  nativeTribe         Human
1  532844   140369  nativeTribe     Aniyuwiya

        id  user_id profile_key profile_value
0  2172670   336196    hispanic       refused
1  2171580   335986    hispanic   puertorican

        id  user_id profile_key profile_value
0  2172674   336196  disability            no
1  2170731   335819  disability            no

        id  user_id profile_key profile_value
0  2172398   334740        race         asian
1  2170332   334476        race         asian

In [7]:
#gender, hispanic, disability, race
gender['profile_value'] = gender['profile_value'].apply(lambda x: x.capitalize())
display(gender.head(2))

        id  user_id profile_key profile_value
0  2172669   336196      gender          Male
1  2172493   336162      gender        Female

In [8]:
h_list = hispanic['profile_value'].to_list()

for ind,val in enumerate(h_list):
    if val == 'Puertorico' or val == 'Puertorican':
        h_list[ind] = 'Puerto Rican'
    elif val == 'Mexican':
        h_list[ind] = 'Mexican American or Chicano'
    elif val == 'no':
        h_list[ind] = 'No (not Hispanic or Latino)'
    elif val == 'refused':
        h_list[ind] = 'Do not wish to reveal'

hispanic['profile_value'] = h_list
display(hispanic.head(2))

        id  user_id profile_key          profile_value
0  2172670   336196    hispanic  Do not wish to reveal
1  2171580   335986    hispanic            puertorican

In [9]:
d_list = disability['profile_value'].to_list()

for ind,val in enumerate(d_list):
    if val == 'blind':
        d_list[ind] = 'Blind/Visually Impaired'
    elif val == 'deaf':
        d_list[ind] = 'Deaf/Hard of Hearing'
    elif val == 'physical':
        d_list[ind] = 'Physical/Orthopedic Disability'
    elif val == 'learning':
        d_list[ind] = 'Learning/Cognitive Disability'
    elif val == 'vocal':
        d_list[ind] = 'Vocal/Speech Disability'
    elif val == 'no':
        d_list[ind] = 'No (none)'
    elif val == 'refused':
        d_list[ind] = 'Do not wish to reveal'

disability['profile_value'] = d_list
display(disability.head(2))

        id  user_id profile_key profile_value
0  2172674   336196  disability     No (none)
1  2170731   335819  disability     No (none)

In [10]:
r_list = race['profile_value'].to_list()

for ind,val in enumerate(r_list):
    if val == 'nativeamerican':
        r_list[ind] = 'American Indian or Alaska Native'
    elif val == 'asian':
        r_list[ind] = 'Asian'
    elif val == 'black':
        r_list[ind] = 'Black or African American'
    elif val == 'white':
        r_list[ind] = 'White'
    elif val == 'hispanic':
        r_list[ind] = 'Hispanic or Latino'
    elif val == 'hawaiian':
        r_list[ind] = 'Native Hawaiian or Other Pacific Islander'
    elif val == 'refused':
        r_list[ind] = 'Do not wish to reveal'
    else:
        r_list[ind] = 'Do not wish to reveal'
        
race['profile_value'] = r_list
display(race.head(2))

        id  user_id profile_key profile_value
0  2172398   334740        race         Asian
1  2170332   334476        race         Asian

In [11]:
# joining all of the dataframes together
def join_dfs(df1,df2):
    # extract the value of profile keys
    try:
        pk1 = df1['profile_key'][0]
        pk2 = df2['profile_key'][0]
        
        # perform the join
        df_joined = df1.set_index('user_id').join(df2.set_index('user_id'),rsuffix='1')
        df_joined = df_joined.drop(columns=['id','id1','profile_key','profile_key1'])
        df_joined = df_joined.rename(columns={'profile_value':pk1,'profile_value1':pk2})   
    except:
        pk2 = df2['profile_key'][0]
        
        #perform one sided join
        df1 = df1.reset_index()
        df_joined = df1.set_index('user_id').join(df2.set_index('user_id'),rsuffix='1')
        df_joined = df_joined.drop(columns=['id','profile_key'])
        df_joined = df_joined.rename(columns={'profile_value':pk2})   
    
    return df_joined

# test to ensure it works
temp = join_dfs(reasons,how_hear)
display(temp.tail(2))

                                      reason       howdidyouhear
user_id
336236                    Required for class  From an instructor
336248   Using simulation tools for research  From an instructor

In [12]:
# join all of the dataframes
dfs = [purpose,gender,hispanic,disability,race] #native

for df_instance in dfs:
    temp = join_dfs(temp,df_instance)

display(temp.tail(2))

,reason,howdidyouhear,purposeofvisit,gender,hispanic,disability,race
user_id,,,,,,,
336236,Required for class,From an instructor,Run a simulation,NaN,NaN,NaN,NaN
336248,Using simulation tools for research,From an instructor,Run a simulation,NaN,NaN,NaN,NaN

In [13]:
temp = temp.rename(columns={'reason':'Reason__c','howdidyouhear':'howdidyouhear__c','purposeofvisit':'Purpose__c',\
                           'gender':'hed__Gender__c','nativeTribe':'Native_Tribe__c','hispanic':'Hispanic__c',\
                           'disability':'Disability__c','race':'hed__Race__c'})
display(temp.tail(2))

,Reason__c,howdidyouhear__c,Purpose__c,hed__Gender__c,Hispanic__c,Disability__c,hed__Race__c
user_id,,,,,,,
336236,Required for class,From an instructor,Run a simulation,NaN,NaN,NaN,NaN
336248,Using simulation tools for research,From an instructor,Run a simulation,NaN,NaN,NaN,NaN

In [14]:
temp.loc[37255,:]

,Reason__c,howdidyouhear__c,Purpose__c,hed__Gender__c,Hispanic__c,Disability__c,hed__Race__c
user_id,,,,,,,
37255,Required for class,NaN,NaN,Male,puertorican,Blind/Visually Impaired,NaN
37255,Required for class,NaN,NaN,Male,puertorican,Deaf/Hard of Hearing,NaN
37255,Required for class,NaN,NaN,Male,puertorican,Learning/Cognitive Disability,NaN
37255,Required for class,NaN,NaN,Male,puertorican,Physical/Orthopedic Disability,NaN
37255,Required for class,NaN,NaN,Male,puertorican,Vocal/Speech Disability,NaN
37255,Required for class,NaN,NaN,Male,cuban,Blind/Visually Impaired,NaN
37255,Required for class,NaN,NaN,Male,cuban,Deaf/Hard of Hearing,NaN
37255,Required for class,NaN,NaN,Male,cuban,Learning/Cognitive Disability,NaN
37255,Required for class,NaN,NaN,Male,cuban,Physical/Orthopedic Disability,NaN
37255,Required for class,NaN,NaN,Male,cuban,Vocal/Speech Disability,NaN
37255,Required for class,NaN,NaN,Male,mexican,Blind/Visually Impaired,NaN
37255,Required for class,NaN,NaN,Male,mexican,Deaf/Hard of Hearing,NaN
37255,Required for class,NaN,NaN,Male,mexican,Learning/Cognitive Disability,NaN
37255,Required for class,NaN,NaN,Male,mexican,Physical/Orthopedic Disability,NaN
37255,Required for class,NaN,NaN,Male,mexican,Vocal/Speech Disability,NaN

In [15]:
sf_df = temp.reset_index()
sf_df = sf_df.rename(columns={'user_id':'nanoHUB_user_ID__c'})
display(sf_df.tail(2))

,nanoHUB_user_ID__c,Reason__c,howdidyouhear__c,Purpose__c,hed__Gender__c,Hispanic__c,Disability__c,hed__Race__c
71923,336236,Required for class,From an instructor,Run a simulation,NaN,NaN,NaN,NaN
71924,336248,Using simulation tools for research,From an instructor,Run a simulation,NaN,NaN,NaN,NaN

## Send to SF

In [16]:
db_s.object_id = object_id
db_s.external_id = external_id

# send data to Salesforce
db_s.send_data(sf_df)

[Success] Bulk job creation successful. Job ID = 7505w00000ZJLC6AAP
hello

[Success] CSV upload successful. Job ID = 7505w00000ZJLC6AAP

[Success] Closing job successful. Job ID = 7505w00000ZJLC6AAP

In [17]:
# check status
db_s.check_bulk_status()

{'id': '7505w00000ZJLC6AAP',
 'operation': 'upsert',
 'object': 'Contact',
 'createdById': '0055w00000DM5bOAAT',
 'createdDate': '2021-08-26T04:52:53.000+0000',
 'systemModstamp': '2021-08-26T04:53:02.000+0000',
 'state': 'UploadComplete',
 'externalIdFieldName': 'nanoHUB_user_ID__c',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'apiVersion': 47.0,
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'columnDelimiter': 'COMMA',
 'numberRecordsProcessed': 0,
 'numberRecordsFailed': 0,
 'retries': 0,
 'totalProcessingTime': 0,
 'apiActiveProcessingTime': 0,
 'apexProcessingTime': 0}

In [18]:
# check status
from pprint import pprint

pprint(db_s.check_bulk_failed_results())

''