In [1]:
import os
from pathlib import Path, PurePath
import pandas as pd

In [2]:
from pprint import pprint, pp
from IPython.display import display, Markdown
from icecream import ic

In [3]:
%%capture 

from nanoHUB.application import Application
application = Application.get_instance()
cache_dir = Path(os.getenv('APP_DIR') + '/.cache')

In [5]:
%%capture 

rfm_engine = application.new_db_engine('rfm_data')
metrics_engine = application.new_db_engine('nanohub_metrics')

In [6]:
sql = '''
SELECT 
    MIN(datetime) AS min_datetime, 
    MAX(datetime) AS max_datetime, 
    user 
FROM toolstart 
WHERE user != ''
GROUP BY user
'''

In [7]:
# lifetimes_df = pd.read_sql_query(sql,metrics_engine)
# lifetimes_df['min_datetime'] = pd.to_datetime(lifetimes_df['min_datetime'],errors='coerce')
# lifetimes_df['max_datetime'] = pd.to_datetime(lifetimes_df['max_datetime'],errors='coerce')

In [8]:
# lifetimes_df.to_parquet(PurePath(cache_dir, 'toolstart'), compression='gzip')

In [9]:
lifetimes_df = pd.read_parquet(PurePath(cache_dir, 'toolstart'))

In [10]:
display(lifetimes_df.head())

         min_datetime        max_datetime              user
0 2017-03-08 10:15:23 2017-03-09 05:09:22        0.yao.yuan
1 2016-09-28 20:27:13 2016-10-12 23:50:56          008dilip
2 2013-11-19 00:53:23 2013-11-19 00:58:56              00ff
3 2017-03-20 09:46:36 2017-03-20 09:46:36  00thamizharasi00
4 2020-09-23 18:14:20 2020-12-11 02:58:30      01024461660a

In [11]:
display(lifetimes_df.tail())

              min_datetime        max_datetime       user
154783 2021-07-05 13:19:19 2021-07-05 13:27:28    zzzwmhq
154784 2002-07-23 02:52:49 2002-07-23 03:04:24    z_depth
154785 2006-10-16 20:25:49 2006-10-16 20:27:53    Z_E_U_S
154786 2013-02-11 14:42:41 2013-02-19 01:53:39  z_henry35
154787 2008-07-09 22:51:51 2008-07-23 09:39:34     z_sath

In [12]:
display(lifetimes_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154788 entries, 0 to 154787
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   min_datetime  151078 non-null  datetime64[ns]
 1   max_datetime  154788 non-null  datetime64[ns]
 2   user          154788 non-null  object
dtypes: datetime64[ns](2), object(1)
memory usage: 3.5+ MB

None

In [13]:
lifetimes_df.loc[lifetimes_df.min_datetime == '0000-00-00 00:00:00', 'min_datetime'] = '2000-01-01 00:10:10'

In [14]:
display(lifetimes_df.dtypes)

min_datetime    datetime64[ns]
max_datetime    datetime64[ns]
user                    object
dtype: object

In [15]:
lifetimes_df['user_lifetime'] = (lifetimes_df['max_datetime'] - lifetimes_df['min_datetime']).dt.days

In [16]:
display(lifetimes_df)

,min_datetime,max_datetime,user,user_lifetime
0,2017-03-08 10:15:23,2017-03-09 05:09:22,0.yao.yuan,0.0
1,2016-09-28 20:27:13,2016-10-12 23:50:56,008dilip,14.0
2,2013-11-19 00:53:23,2013-11-19 00:58:56,00ff,0.0
3,2017-03-20 09:46:36,2017-03-20 09:46:36,00thamizharasi00,0.0
4,2020-09-23 18:14:20,2020-12-11 02:58:30,01024461660a,78.0
...,...,...,...,...
154783,2021-07-05 13:19:19,2021-07-05 13:27:28,zzzwmhq,0.0
154784,2002-07-23 02:52:49,2002-07-23 03:04:24,z_depth,0.0
154785,2006-10-16 20:25:49,2006-10-16 20:27:53,Z_E_U_S,0.0
154786,2013-02-11 14:42:41,2013-02-19 01:53:39,z_henry35,7.0
154787,2008-07-09 22:51:51,2008-07-23 09:39:34,z_sath,13.0