In [7]:
import numpy as np
import pandas as pd
import os
from DB2SalesforceAPI import DB2SalesforceAPI

sql_login_params = {"username": "wang2506_ro", "password": "fnVnwcCS7iT45EsA"}
sf_login_params = {
    "grant_type": "password",
    "client_id": "3MVG95jctIhbyCppj0SNJ75IsZ1y8UPGZtSNF4j8FNVXz.De8Lu4jHm3rjRosAtsHy6qjHx3i4S_QbQzvBePG",
    "client_secret": "D1623C6D3607D4FC8004B92C761DFB6C1F70CCD129C5501E357028DFA00F5764",
    "username":"wang2506@purdue.edu",
    "password":"sf2021shitOPmlIiFMLnrudgC6oSX0WV1T", 
}

In [2]:
cwd = os.getcwd()

In [3]:
#input new filename here
filename = 'NCN URE UCEE SURF SURI Contact List.xlsx' #'Citrine Webinar Sent.csv'
f_type = filename.split('.')[-1]

In [4]:
#pandas import
if f_type == 'csv':
    idf = pd.read_csv(cwd+'/Data Files/'+filename,encoding='utf-16',sep='\t')
                      #,encoding="cp1252",error_bad_lines=False)#,usecols=[12])#col_fields)
elif f_type == 'xlsx' or f_type == 'xls':
    xl = pd.ExcelFile(cwd+'/Data Files/'+filename)
    print(xl.sheet_names)# see all sheet names
    sheet_names = xl.parse(xl.sheet_names) #this already performs an import
    
    idf = pd.read_excel(cwd+'/Data Files/'+filename,sheet_name=0,header=0)

print(idf.head(2))

['Contact List']
     First Name Last Name                Email  Alternate email  \
0  Thomas James   Andrews  tjandrew@purdue.edu              NaN
1      Win Than      Aung  wwinthan@purdue.edu              NaN

   Participation year
0                2008
1                2008

In [6]:
#idf = idf.dropna(subset=['Email Address'])
display(idf)

,First Name,Last Name,Email,Alternate email,Participation year
0,Thomas James,Andrews,tjandrew@purdue.edu,NaN,2008
1,Win Than,Aung,wwinthan@purdue.edu,NaN,2008
2,Soumava,Bera,sbera@purdue.edu,NaN,2008
3,Gloria Wahyu,Budiman,gbudiman@purdue.edu,NaN,2008
4,Prachi R.,Goyal,goyalp@purdue.edu,NaN,2008
...,...,...,...,...,...
257,Cindy,Nguyen,clenguyen19@gmail.com,clenguyen19@gmail.com,2020
258,Jon,Nykiel,nykiel.4@osu.edu,jonathannykiel@gmail.com,2020
259,Nicole,Shuman,nshuman@ucdavis.edu,NaN,2020
260,Joseph,Williams,joseph.williams@ufl.edu,joseph.williams9811@gmail.com,2020
261,Mye'on,Williams,mwilliams0578@tuskegee.edu,NaN,2020

In [8]:
# salesforce queries for contact data
db_s = DB2SalesforceAPI(sf_login_params)

# deciding the queries
from copy import deepcopy

Obtained Salesforce access token ...... True

In [10]:
sf_df = db_s.query_data('SELECT firstname, lastname, nanoHUB_user_ID__c, Email, Venue__c FROM Contact')

[Success] Bulk job creation successful. Job ID = 7505w00000Uewo9AAB
{"id":"7505w00000Uewo9AAB","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-03-05T16:08:35.000+0000","systemModstamp":"2021-03-05T16:08:35.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000Uewo9AAB","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-03-05T16:08:35.000+0000","systemModstamp":"2021-03-05T16:08:36.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000Uewo9AAB","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-03-05T16:08:35.000+0000","systemModstamp":"2021-03-05T16:08:36.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000Uewo9AAB","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-03-05T16:08:35.000+0000","systemModstamp":"2021-03-05T16:08:36.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000Uewo9AAB","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-03-05T16:08:35.000+0000","systemModstamp":"2021-03-05T16:08:36.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000Uewo9AAB","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-03-05T16:08:35.000+0000","systemModstamp":"2021-03-05T16:09:23.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":240692,"retries":0,"totalProcessingTime":45242}
[Success] Bulk job completed successfully.

In [12]:
display(sf_df.head(5))

                  Email Venue__c  nanoHUB_user_ID__c
0    nkissebe@gmail.com      NaN               998.0
1   support@nanohub.org      NaN              1683.0
2  gridstat@nanohub.org      NaN              1684.0
3       ncn@nanohub.org      NaN              1685.0
4      apps@nanohub.org      NaN              1686.0

In [ ]:
URE