In [1]:
import datetime
import pandas as pd
from nanoHUB.application import Application
from nanoHUB.configuration import ClusteringConfiguration
from nanoHUB.clustering.infra import get_cluster_numbers_by_semester
from nanoHUB.pandas_helper import remove_display_restrictions

remove_display_restrictions(pd)

application = Application.get_instance()

nanoHUB - Serving Students, Researchers & Instructors

In [2]:
data_df = get_cluster_numbers_by_semester(application, ClusteringConfiguration().bucket_name_processed)
display(data_df)

,year,sem,number of all registered users,number of newly registered users this semester,not_clustered,mike_only,xufeng_only,overlap_mike_xufeng
0,2008,spring,25465,3915,17499,3049,3144,1773
1,2008,fall,29068,3582,25372,1248,1255,1193
2,2009,spring,32824,3750,24071,4773,2149,1831
3,2009,fall,36503,3665,26279,5512,2175,2537
4,2010,spring,41508,4999,30696,5615,2375,2822
5,2010,fall,46468,4938,37357,4854,2005,2252
6,2011,spring,51991,5517,38180,7439,3568,2804
7,2011,fall,57589,5583,47830,4642,2814,2303
8,2012,spring,64224,6628,47728,9099,4144,3253
9,2012,fall,70038,5801,55674,6328,5299,2737
10,2013,spring,78248,8203,62456,7086,5627,3079
11,2013,fall,85577,7305,71558,6783,4103,3133
12,2014,spring,93893,8301,79895,5414,5466,3118
13,2014,fall,101469,7556,91280,3939,3687,2563
14,2015,spring,110497,9016,95899,7426,4118,3054
15,2015,fall,118247,7719,97289,11420,6191,3347
16,2016,spring,126033,7767,114866,4550,3445,3172
17,2016,fall,137083,11030,108923,13761,9481,4918
18,2017,spring,146720,9623,132405,6936,3535,3844
19,2017,fall,158022,11284,128906,18370,6494,4252
20,2018,spring,169048,11015,151369,8893,5002,3784
21,2018,fall,181440,12366,155581,14169,7618,4072
22,2019,spring,193683,12216,161152,22250,5620,4661
23,2019,fall,206536,12778,187041,11658,4494,3343
24,2020,spring,221458,14905,171444,30437,14083,5494
25,2020,fall,236459,14918,198349,25067,8134,4909
26,2021,spring,252214,15727,216539,19281,10984,5410
27,2021,fall,267781,15489,232386,21593,8529,5273