In [1]:
import pandas as pd
from pprint import pprint
from nanoHUB.application import Application
from nanoHUB.configuration import ClusteringConfiguration
from nanoHUB.pipeline.geddes.data import get_default_s3_client
from nanoHUB.dataaccess.lake import S3FileMapper
from nanoHUB.clustering.infra import get_tool_users, get_user_tools

# logger.debug('Testing')
application = Application.get_instance()
nanohub_db = application.new_db_engine('nanohub')

s3_client = get_default_s3_client(application)
raw_mapper = S3FileMapper(s3_client, ClusteringConfiguration().bucket_name_raw)
processed_mapper = S3FileMapper(s3_client, ClusteringConfiguration().bucket_name_processed)

nanoHUB - Serving Students, Researchers & Instructors

In [2]:
user_tools_df = get_tool_users(processed_mapper)
display(user_tools_df)

           toolname                                        names_users
1         1dchainmd  [thomas0915,  khaan,  baratunde,  brayanfdv,  ...
2           1dfdmht  [cheraghchi,  suphatk,  bgmdiffe,  mahna,  gys...
3              1dfs                              [gw014425,  dkearney]
4          1dhetero  [samarthagarwal,  Vasileska,  dkearney,  gekco...
5              1dmd                    [deshpan5,  strachan,  clarksm]
...             ...                                                ...
1174           zeno  [taaseenkhanelah,  nzuckman,  daudus,  clarksm...
1175    zooleyipnb1  [zooley,  clarksm,  jerinannie1996,  rajeshkra...
1176  zooleyjupyter                                           [zooley]
1177    zooleylinux                                           [zooley]
1178   zooleylinux1                                 [zooley,  clarksm]

[1178 rows x 2 columns]

In [3]:
tool_users_df = get_user_tools(processed_mapper)
display(tool_users_df)

              user           names_tools
1       0.yao.yuan   [mosfetsat, mosfet]
2       007sribabu      [deviceelectron]
3         008dilip              [abacus]
4             00ff            [bmcsuite]
5       00mhking00               [padre]
...            ...                   ...
165879     zzzwmhq               [s4sim]
165880     z_depth      [nanomos, moscv]
165881     Z_E_U_S  [cenems, bandstrlab]
165882   z_henry35      [nsoptics, cndo]
165883      z_sath      [fermi, nanomos]

[165881 rows x 2 columns]