In [1]:
# Parameters
import sqlalchemy as sql
from nanoHUB.application import Application
import pandas as pd
import datetime
from nanoHUB.repositories import RegisteredUsers

application = Application.get_instance()
nanohub_db = application.new_db_engine('nanohub')

nanoHUB - Serving Students, Researchers & Instructors

In [2]:
# Parameters
hours_range = 24*365*30 # number of hours to look back

# API settings
api_url = '/services/data/v43.0/sobjects'
external_id = 'nanoHUB_user_ID__c'
object_id = 'Contact'

In [1]:
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
s_words = stopwords.words('english')

display(len(s_words))

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/saxenap/venv/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

179

In [ ]:
df.name.str.extractall(r"\b(\w*)\s*(.*)\s*\b(\w+$)").fillna("").rename({0:"First_Name",1:"Middle_Name",2:"Last_Name"},axis=1)

In [2]:
# Parameters
hours_range = 24*365*30 # number of hours to look back

# API settings
external_id = 'nanoHUB_user_ID__c'
object_id = 'Contact'

# login parameters to be handled by Papermill
sf_login_params = None
sql_login_params = None

In [1]:
from nanoHUB.application import Application

application = Application.get_instance()
salesforce = application.new_salesforce_engine()
db_s = salesforce

nanoHUB - Serving Students, Researchers & Instructors
Obtained Salesforce access token ...... True

In [2]:
query_string = '''
SELECT 
    nanoHUB_user_ID__c, 
    nanoHUB_username__c, 
    name, 
    nanoHUB_registration_date__c 
FROM Contact
WHERE nanoHUB_registration_date__c != NULL
ORDER BY nanoHUB_registration_date__c
DESC
'''

sf_contact_ID_df = db_s.query_data(query_string)

display(sf_contact_ID_df)

[Success] Bulk job creation successful. Job ID = 7505w00000bmbqIAAQ
{"id":"7505w00000bmbqIAAQ","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-12-01T00:11:31.000+0000","systemModstamp":"2021-12-01T00:11:31.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7505w00000bmbqIAAQ","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-12-01T00:11:31.000+0000","systemModstamp":"2021-12-01T00:11:33.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000bmbqIAAQ","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-12-01T00:11:31.000+0000","systemModstamp":"2021-12-01T00:11:33.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7505w00000bmbqIAAQ","operation":"query","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2021-12-01T00:11:31.000+0000","systemModstamp":"2021-12-01T00:11:54.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":265188,"retries":0,"totalProcessingTime":19764}
[Success] Bulk job completed successfully.

,Name,nanoHUB_registration_date__c,nanoHUB_user_ID__c,nanoHUB_username__c
0,Pavan R,2021-11-21,346632.0,pavanrao218
1,Chao Yin,2021-11-21,346648.0,chaoyin1989
2,singiresu teja,2021-11-21,346634.0,teja80963
3,88shi Tak,2021-11-21,346635.0,-185838
4,FURKAN KURUOÄLU,2021-11-21,346686.0,furkan.kuruoglu
...,...,...,...,...
265183,Hasan Akay,1999-02-23,2299.0,akay
265184,Shibly Ahmed,1999-01-19,2864.0,shibly
265185,David Rumsey,1999-01-14,3855.0,rumsey
265186,Daniel Chrastina,1999-01-05,3854.0,phrwr
265187,damle damle,1998-11-06,3226.0,damle