# DB2-Salesforce connector: Basic tool information updates

In [1]:
# Parameters
api_url = '/services/data/v43.0/sobjects'
external_id = 'Tool_name__c'
object_id = 'nanoHUB_tools__c'

from nanoHUB.application import Application

application = Application.get_instance()
nanohub_db = application.new_db_engine('nanohub')
nanohub_metrics_db = application.new_db_engine('nanohub_metrics')

salesforce = application.new_salesforce_engine()
db_s = salesforce

nanoHUB - Serving Students, Researchers & Instructors
Obtained Salesforce access token ...... True

In [2]:
import pandas as pd
import datetime

## Obtain tool information from DB2

In [3]:
# Basic tool information
sql_query = "select toolname, title, published, registered from jos_tool"

# display
print(sql_query)

select toolname, title, published, registered from jos_tool

In [4]:
# connect with DB2
# import sqlalchemy as sql

df = pd.read_sql_query(sql_query, nanohub_db, parse_dates=['registered'])
# display
df.head(2)

   toolname               title  published          registered
0  ellipsom      title-ellipsom          0 2005-03-05 03:02:47
1  hydrolab  Hydrophobicity Lab          1 2006-02-24 03:38:23

In [5]:
df = df.sort_values(by='registered')
display(df.head(5))
display(df.tail(50))
print(df.shape)

     toolname           title  published          registered
348    matlab          Matlab          0 2000-10-02 02:34:37
350    octave          Octave          0 2001-04-04 19:03:01
347    gamess          GAMESS          0 2003-01-15 15:41:22
352      rebo          REBO-1          0 2003-05-08 00:41:33
0    ellipsom  title-ellipsom          0 2005-03-05 03:02:47

,toolname,title,published,registered
1891,mcscelbldr,Molecular Crystal Supercell Builder,0,2022-02-25 20:25:21
1892,jupyter80,Jupyter Notebook,0,2022-02-28 14:04:02
1893,mcscellbuilder,Supercell Builder (Molecular Crystals),0,2022-02-28 19:11:22
1894,st4sgmoscap,Single Gate Moscap,0,2022-03-01 15:34:51
1895,gibbsml,Gibbs ML,0,2022-03-02 14:16:00
1896,pc4tubule,PhysiCell Model for kidney tubule dynamics,0,2022-03-06 21:32:10
1897,teac,Thermoelectric Air Conditioning,0,2022-03-10 21:58:16
1898,mrbayes,MrBayes,0,2022-03-12 00:01:10
1899,e3nntutorial,Euclidean Neural Network Tutorial,0,2022-03-17 19:38:20
1900,pidaypython2022,Pi Day Python Workshop 2022,1,2022-03-18 20:58:16
1901,pc4membrane2d,PhysiCell for cell mechanics on a 2D membrane,1,2022-03-22 23:39:09
345,cnt-iv,CNT-IV,0,NaT
346,dmgr,Design Manager,0,NaT
353,sequal,Sequal,0,NaT
355,staroffice,StarOffice,1,NaT
356,spicesoi,UFSOI/Spice3,0,NaT
358,devtesttool,Dev Test Tool,0,NaT
359,ncntesttool,NCN test tool,0,NaT
360,WTND,WTND Tool Title,0,NaT
361,wtest,My WTest Tool Test,0,NaT
362,Mynewtool,My New Tool,0,NaT
363,nanohub,nanoHUB,0,NaT
364,nanohub-for-kids,nanohub-for-kids,0,NaT
365,sysman,sysman,0,NaT
366,nanohub-support,nanohub-support,0,NaT
367,rkspack,rkspack,0,NaT
368,lib-gangli,Gang Li's Library of Useful Stuff,0,NaT
369,rappture-runtime,rappture-runtime,0,NaT
370,hubzero,hubzero,0,NaT
371,rappture,rappture,0,NaT
372,mw,mw,0,NaT
373,ncn_students,ncn_students,0,NaT
374,pharmengine,pharmengine,0,NaT
375,xhub,xhub,0,NaT
376,breeze-admin,breeze-admin,0,NaT
377,ncn,ncn,0,NaT
378,nanowhim,nanowhim,0,NaT
379,mimi,Mimi,0,NaT
380,rappture-bat,rappture-bat,0,NaT
408,reliabilityhub,,0,NaT
418,nmi,nmi,0,NaT
419,rp2,rp2,0,NaT
1471,maccalibrate,,0,NaT
1472,maccalibrator,Calibrate the NASA MAC Rappture tool,0,NaT
1473,calibratemac,,0,NaT
1474,microfsi,,0,NaT
1475,deformchan,,0,NaT
1476,dakotamac,,0,NaT
1477,nasamaccalib,,0,NaT
1883,nano,,0,NaT

(1902, 4)

In [6]:
# debugging
print(df['toolname'].to_list().index('citrinednn'))
print(df.iloc[df['toolname'].to_list().index('citrinednn'),:])

1578
toolname                                citrinednn
title         Hands-on Deep Learning for Materials
published                                        1
registered                     2020-05-27 14:49:06
Name: 1617, dtype: object

In [7]:
'mldefect' in df['toolname'].to_list()

True

+-------------------+----------+
| user              | cnt      |
+-------------------+----------+
| instanton         | 12192882 |
| gridstat          |  8001390 |
| enassakr          |   363553 |
| luisetepor        |   340823 |
| falkke87          |   282754 |
| jovenpaoloangeles |   264310 |
| hamu8278          |   210741 |
| denphi            |   167766 |
| iago              |   164634 |
| clarksm           |   147987 |
+-------------------+----------+

In [8]:
# Basic tool information
sql_query = "select * from jos_tool_version_alias"

df_jtva = pd.read_sql_query(sql_query, nanohub_db)

# display
df_jtva.head(2)

   tool_version_id   alias
0              977     2ds
1              978  abinit

In [9]:
'mldefect' in df_jtva['alias'].to_list()

False

## Building new SQL queries that roll up instances

In [10]:
# pull all tools in DB2
sql_tools = 'select toolname, instance from nanohub.jos_tool_version;'
tools_df = pd.read_sql_query(sql_tools,nanohub_db)
display(tools_df.head(5))
print(tools_df.shape)

         toolname            instance
0
1         112016a         112016a_dev
2  1dbtetransient  1dbtetransient_dev
3       1dchainmd       1dchainmd_dev
4       1dchainmd       1dchainmd_r13

(5346, 2)

In [11]:
'mldefect' in tools_df['toolname'].to_list()

True

In [12]:
## debugging for Tanya
# jos_resource_stats_clusters
ql = 'select toolname from jos_resource_stats_clusters;'
df_ql = pd.read_sql_query(ql,nanohub_db)
'mldefect' in df_ql['toolname'].to_list()

False

In [13]:
df_ql.head(5)

    toolname
0  1dchainmd
1  1dchainmd
2  1dchainmd
3  1dchainmd
4  1dchainmd

In [14]:
# jos_tool_authors
ql = 'select toolname from jos_tool_authors;'
df_ql = pd.read_sql_query(ql,nanohub_db)
'mldefect' in df_ql['toolname'].to_list()

True

In [15]:
df_ql.head(5)

    toolname
0  1dchainmd
1  1dchainmd
2  1dchainmd
3  1dchainmd
4    1dfdmht

In [16]:
## nanohub_metrics trials
# metrics_tool_version
ql_metrics = 'select toolname from nanohub_metrics.metrics_tool_version;'
mdf = pd.read_sql_query(ql_metrics,nanohub_metrics_db)

'mldefect' in mdf['toolname'].to_list()

False

In [17]:
display(mdf.head(5))
display(mdf.tail(5))
print(mdf.shape)

    toolname
0  1dchainmd
1  1dchainmd
2    1dfdmht
3       1dfs
4   1dhetero

     toolname
1867     xfig
1868     xhub
1869    xterm
1870    xterm
1871    yambo

(1872, 1)

In [18]:
mdf['toolname'].to_list()[730:750]

['mimi',
 'minimol',
 'minimol',
 'minimol',
 'minimol',
 'minimol',
 'minimos',
 'minimos',
 'minimos',
 'mmfl',
 'mmst',
 'mmst',
 'mmst',
 'mmst',
 'mmst',
 'mmsttf',
 'mmsttf',
 'mmsttf',
 'mmsttf',
 'moca']

In [19]:
# create a dict strictly of toolnames and their instances
grouped_tools = tools_df.groupby(['toolname']).groups #this is a dict already; need to change the value pairs
import numpy as np
tn_instances = tools_df['instance'].to_numpy()
for i,j in grouped_tools.items():
    grouped_tools[i] = tuple(tn_instances[j])

In [20]:
print(grouped_tools)

{'': ('',), '112016a': ('112016a_dev',), '1dbtetransient': ('1dbtetransient_dev',), '1dchainmd': ('1dchainmd_dev', '1dchainmd_r13', '1dchainmd_r15'), '1dfdmht': ('1dfdmht_dev', '1dfdmht_r24', '1dfdmht_r26', '1dfdmht_r28'), '1dfs': ('1dfs_dev',), '1dhetero': ('1dhetero_dev', '1dhetero_r10', '1dhetero_r13', '1dhetero_r14', '1dhetero_r298', '1dhetero_r299', '1dhetero_r30', '1dhetero_r301', '1dhetero_r303', '1dhetero_r309', '1dhetero_r531', '1dhetero_r532', '1dhetero_r540', '1dhetero_r600', '1dhetero_r689', '1dhetero_r694', '1dhetero_r733', '1dhetero_r739', '1dhetero_r740', '1dhetero_r742'), '1dmd': ('1dmd_dev',), '1dnegf': ('1dnegf_dev',), '1doscillationla': ('1doscillationla_dev',), '1dphononbte': ('1dphononbte_dev', '1dphononbte_r5', '1dphononbte_r9'), '1sl': ('1sl_dev',), '2daiperc': ('2daiperc_dev',), '2degpot': ('2degpot_dev',), '2dfet': ('2dfet_dev',), '2dfets': ('2dfets_dev', '2dfets_r10', '2dfets_r8'), '2dmatstacks': ('2dmatstacks_dev', '2dmatstacks_r33', '2dmatstacks_r36'), '2dmlmodels': ('2dmlmodels_dev',), '2dreflect': ('2dreflect_dev', '2dreflect_r29', '2dreflect_r44'), '2ds': ('2ds', '2ds_dev'), '2wth': ('2wth_dev',), '3datomsmodel': ('3datomsmodel_dev',), '3dmatopt': ('3dmatopt_dev', '3dmatopt_r27'), '3drftsv': ('3drftsv_dev',), '670raman': ('670raman_dev',), 'Mynewtool': ('Mynewtool_dev',), 'WTND': ('WTND_dev',), 'abacus': ('abacus_dev', 'abacus_r11', 'abacus_r14', 'abacus_r15', 'abacus_r22', 'abacus_r23', 'abacus_r25', 'abacus_r28', 'abacus_r31', 'abacus_r36', 'abacus_r40', 'abacus_r8'), 'abase': ('abase_dev', 'abase_r6', 'abase_r8', 'abase_r9'), 'abdullah': ('abdullah_dev',), 'abinit': ('abinit', 'abinit_dev', 'abinit_r100', 'abinit_r103', 'abinit_r104', 'abinit_r105', 'abinit_r108', 'abinit_r109', 'abinit_r110', 'abinit_r111', 'abinit_r112', 'abinit_r114', 'abinit_r116', 'abinit_r118', 'abinit_r120', 'abinit_r121', 'abinit_r127', 'abinit_r130', 'abinit_r134', 'abinit_r135', 'abinit_r136', 'abinit_r137', 'abinit_r140', 'abinit_r147', 'abinit_r151', 'abinit_r152', 'abinit_r153', 'abinit_r154', 'abinit_r158', 'abinit_r159', 'abinit_r98'), 'abrm': ('abrm_dev',), 'aci': ('aci_dev',), 'acmenpds': ('acmenpds_dev', 'acmenpds_r41', 'acmenpds_r43', 'acmenpds_r44', 'acmenpds_r46', 'acmenpds_r49', 'acmenpds_r51'), 'acsa': ('acsa_dev',), 'acteomdb': ('acteomdb_dev', 'acteomdb_r5'), 'activelearning': ('activelearning_dev', 'activelearning_r4'), 'activemeltheas': ('activemeltheas_dev', 'activemeltheas_r23'), 'acute': ('acute_dev', 'acute_r5', 'acute_r9'), 'adac': ('adac_dev', 'adac_r1016', 'adac_r1027', 'adac_r103', 'adac_r1067', 'adac_r1072', 'adac_r1107', 'adac_r1119', 'adac_r117', 'adac_r296', 'adac_r303', 'adac_r328', 'adac_r481', 'adac_r514', 'adac_r519', 'adac_r524', 'adac_r551', 'adac_r596', 'adac_r600', 'adac_r607', 'adac_r653', 'adac_r682', 'adac_r723', 'adac_r726', 'adac_r737', 'adac_r738', 'adac_r774', 'adac_r794', 'adac_r799', 'adac_r823', 'adac_r906', 'adac_r912', 'adac_r921', 'adac_r951', 'adac_r994'), 'adept': ('adept', 'adept_dev', 'adept_r16', 'adept_r32'), 'adeptnpt': ('adeptnpt_dev', 'adeptnpt_r134', 'adeptnpt_r138', 'adeptnpt_r151', 'adeptnpt_r18', 'adeptnpt_r20', 'adeptnpt_r22', 'adeptnpt_r24', 'adeptnpt_r25', 'adeptnpt_r27', 'adeptnpt_r30', 'adeptnpt_r65', 'adeptnpt_r67', 'adeptnpt_r96', 'adeptnpt_r98'), 'adriene': ('adriene_dev',), 'adrienne': ('adrienne_dev',), 'ads2009': ('ads2009_dev',), 'adsorbit': ('adsorbit_dev',), 'adspr': ('adspr_dev',), 'advmemristor': ('advmemristor_dev',), 'advqdlab': ('advqdlab_dev',), 'advte': ('advte_dev', 'advte_r15'), 'aeneas': ('aeneas_dev',), 'aerersdffdsdfew': ('aerersdffdsdfew_dev',), 'afm': ('afm_dev', 'afm_r12', 'afm_r7'), 'afmfcanalysis': ('afmfcanalysis_dev',), 'aforce': ('aforce_dev',), 'aftestname': ('aftestname_dev',), 'agingmodel': ('agingmodel_dev',), 'agpvsim': ('agpvsim_dev', 'agpvsim_r37', 'agpvsim_r38', 'agpvsim_r41'), 'agropvsim': ('agropvsim_dev',), 'ahpull': ('ahpull_dev', 'ahpull_r25', 'ahpull_r27'), 'aiperc': ('aiperc_dev',), 'alissatesttool': ('alissatesttool_dev',), 'alphakconvnet': ('alphakconvnet_dev',), 'alphaknet': ('alphaknet_dev',), 'amidespec': ('amidespec_dev', 'amidespec_r6', 'amidespec_r7'), 'amobt': ('amobt_dev', 'amobt_r29', 'amobt_r31', 'amobt_r32', 'amobt_r33', 'amobt_r35', 'amobt_r37', 'amobt_r38', 'amobt_r39', 'amobt_r42', 'amobt_r46', 'amobt_r48', 'amobt_r49', 'amobt_r51'), 'anaconda': ('anaconda_dev',), 'anashousbane': ('anashousbane_dev',), 'andie': ('andie_dev', 'andie_r16'), 'angel': ('angel_dev', 'angel_r41', 'angel_r50'), 'angiogencc3d': ('angiogencc3d_dev', 'angiogencc3d_r11', 'angiogencc3d_r12', 'angiogencc3d_r5', 'angiogencc3d_r8'), 'anngenerator': ('anngenerator_dev',), 'anngraph': ('anngraph_dev', 'anngraph_r36'), 'annihilate': ('annihilate_dev', 'annihilate_r24', 'annihilate_r27', 'annihilate_r28'), 'annviz': ('annviz_dev',), 'ansys': ('ansys', 'ansys_dev'), 'antibacterial': ('antibacterial_dev', 'antibacterial_r5', 'antibacterial_r7'), 'antiresist': ('antiresist_dev',), 'antsy': ('antsy_dev', 'antsy_r11', 'antsy_r13', 'antsy_r15', 'antsy_r7', 'antsy_r9'), 'appapi': ('appapi_dev',), 'apu': ('apu_dev',), 'aqme': ('aqme_dev', 'aqme_r11', 'aqme_r14', 'aqme_r6', 'aqme_r8', 'aqme_r9'), 'arbd': ('arbd_dev', 'arbd_r13'), 'archimedes': ('archimedes_dev', 'archimedes_r17', 'archimedes_r22', 'archimedes_r47', 'archimedes_r61', 'archimedes_r68', 'archimedes_r71'), 'arraypmod': ('arraypmod_dev',), 'aru': ('aru_dev',), 'asdasdasdasdasd': ('asdasdasdasdasd_dev',), 'ase': ('ase_dev',), 'asegui': ('asegui_dev',), 'asetool': ('asetool_dev',), 'asilicon': ('asilicon_dev', 'asilicon_r15', 'asilicon_r22', 'asilicon_r24'), 'astarspin': ('astarspin_dev',), 'asts': ('asts_dev', 'asts_r3', 'asts_r8'), 'asynchup': ('asynchup_dev', 'asynchup_r10', 'asynchup_r12', 'asynchup_r7'), 'atcadlab': ('atcadlab_dev', 'atcadlab_r11', 'atcadlab_r13', 'atcadlab_r15', 'atcadlab_r9'), 'atomicstructure': ('atomicstructure_dev',), 'aurora': ('aurora_dev',), 'autonomousrobot': ('autonomousrobot_dev',), 'avalanche': ('avalanche_dev', 'avalanche_r13'), 'avasctum': ('avasctum_dev',), ...}

In [21]:
print(list(grouped_tools.keys())[2])
print(grouped_tools[list(grouped_tools.keys())[2]])

1dbtetransient
('1dbtetransient_dev',)

In [22]:
## Run a separate query for each grouped tool
for key in list(grouped_tools.keys())[1:2]:
    print(key)
    print(grouped_tools[key])
    t_sql_tspec = "select count(user) from nanohub_metrics.toolstart where tool in " +"('1dphononbte_dev', '1dphononbte_r5', '1dphononbte_r9')"+";" #temp sql tool specific
    t_r_df = pd.read_sql_query(t_sql_tspec,nanohub_metrics_db)
    display(t_r_df.head(5))

112016a
('112016a_dev',)

   count(user)
0         1940

In [23]:
t_r_df.shape

(1, 1)

In [24]:
# Lifetime usage count
sql_query = "select v.toolname, count(*) as total, count(distinct t.user) as user_total from nanohub_metrics.toolstart as t \
inner join nanohub.jos_tool_version as v \
on v.instance = t.tool \
where t.user not in ('instanton', 'gridstat')\
group by v.toolname"

toolstart_lifetime_df = pd.read_sql_query(sql_query, nanohub_metrics_db)

# last year usage count
sql_query = "select v.toolname, count(*) as total, count(distinct t.user) as user_total from nanohub_metrics.toolstart as t \
inner join nanohub.jos_tool_version as v \
on v.instance = t.tool \
where t.user not in ('instanton', 'gridstat') and t.datetime >= '%s'\
group by v.toolname" % (datetime.datetime.now()-datetime.timedelta(days=365)).strftime('%Y-%m-%d')

toolstart_last_year_df = pd.read_sql_query(sql_query, nanohub_metrics_db)

# last 3-month usage count
sql_query = "select v.toolname, count(*) as total, count(distinct t.user) as user_total from nanohub_metrics.toolstart as t \
inner join nanohub.jos_tool_version as v \
on v.instance = t.tool \
where t.user not in ('instanton', 'gridstat') and t.datetime >= '%s'\
group by v.toolname" % (datetime.datetime.now()-datetime.timedelta(days=90)).strftime('%Y-%m-%d')

toolstart_last_3_month_df = pd.read_sql_query(sql_query, nanohub_metrics_db)

# last month usage count
sql_query = "select v.toolname, count(*) as total, count(distinct t.user) as user_total from nanohub_metrics.toolstart as t \
inner join nanohub.jos_tool_version as v \
on v.instance = t.tool \
where t.user not in ('instanton', 'gridstat') and t.datetime >= '%s'\
group by v.toolname" % (datetime.datetime.now()-datetime.timedelta(days=30)).strftime('%Y-%m-%d')

toolstart_last_month_df = pd.read_sql_query(sql_query, nanohub_metrics_db)

# last week usage count
sql_query = "select v.toolname, count(*) as total, count(distinct t.user) as user_total from nanohub_metrics.toolstart as t \
inner join nanohub.jos_tool_version as v \
on v.instance = t.tool \
where t.user not in ('instanton', 'gridstat') and t.datetime >= '%s'\
group by v.toolname" % (datetime.datetime.now()-datetime.timedelta(days=7)).strftime('%Y-%m-%d')

toolstart_last_week_df = pd.read_sql_query(sql_query, nanohub_metrics_db)

# last 24 hours usage count
sql_query = "select v.toolname, count(*) as total, count(distinct t.user) as user_total from nanohub_metrics.toolstart as t \
inner join nanohub.jos_tool_version as v \
on v.instance = t.tool \
where t.user not in ('instanton', 'gridstat') and t.datetime >= '%s'\
group by v.toolname" % (datetime.datetime.now()-datetime.timedelta(days=1)).strftime('%Y-%m-%d')

toolstart_last_24_hours_df = pd.read_sql_query(sql_query, nanohub_metrics_db)

In [25]:
# display
toolstart_last_year_df.head(2)

    toolname  total  user_total
0  1dchainmd    235          78
1    1dfdmht    350          90

In [26]:
# insert user and run stats into df
all_df = df.copy()

all_df = pd.merge(all_df, toolstart_lifetime_df.rename(columns={\
                                                                'total':        'Total_runs_over_lifetime',
                                                                'user_total':'Total_users_over_lifetime'}\
                                                      ), how='left', left_on='toolname', right_on='toolname')
all_df = pd.merge(all_df, toolstart_last_year_df.rename(columns={\
                                                                'total':        'Total_runs_last_year',
                                                                'user_total':'Total_users_last_year'}\
                                                      ), how='left', left_on='toolname', right_on='toolname')
all_df = pd.merge(all_df, toolstart_last_3_month_df.rename(columns={\
                                                                'total':        'Total_runs_last_3_month',
                                                                'user_total':'Total_users_last_3_month'}\
                                                      ), how='left', left_on='toolname', right_on='toolname')
all_df = pd.merge(all_df, toolstart_last_month_df.rename(columns={\
                                                                'total':        'Total_runs_last_month',
                                                                'user_total':'Total_users_last_month'}\
                                                      ), how='left', left_on='toolname', right_on='toolname')
all_df = pd.merge(all_df, toolstart_last_week_df.rename(columns={\
                                                                'total':        'Total_runs_last_week',
                                                                'user_total':'Total_users_last_week'}\
                                                      ), how='left', left_on='toolname', right_on='toolname')
all_df = pd.merge(all_df, toolstart_last_24_hours_df.rename(columns={\
                                                                'total':        'Total_runs_last_24_hours',
                                                                'user_total':'Total_users_last_24_hours'}\
                                                      ), how='left', left_on='toolname', right_on='toolname')

# display
all_df.head(5).T

,0,1,2,3,4
toolname,matlab,octave,gamess,rebo,ellipsom
title,Matlab,Octave,GAMESS,REBO-1,title-ellipsom
published,0,0,0,0,0
registered,2000-10-02 02:34:37,2001-04-04 19:03:01,2003-01-15 15:41:22,2003-05-08 00:41:33,2005-03-05 03:02:47
Total_runs_over_lifetime,3470.0,59.0,2415.0,291.0,NaN
Total_users_over_lifetime,162.0,30.0,101.0,42.0,NaN
Total_runs_last_year,NaN,NaN,NaN,NaN,NaN
Total_users_last_year,NaN,NaN,NaN,NaN,NaN
Total_runs_last_3_month,NaN,NaN,NaN,NaN,NaN
Total_users_last_3_month,NaN,NaN,NaN,NaN,NaN
Total_runs_last_month,NaN,NaN,NaN,NaN,NaN
Total_users_last_month,NaN,NaN,NaN,NaN,NaN
Total_runs_last_week,NaN,NaN,NaN,NaN,NaN
Total_users_last_week,NaN,NaN,NaN,NaN,NaN
Total_runs_last_24_hours,NaN,NaN,NaN,NaN,NaN
Total_users_last_24_hours,NaN,NaN,NaN,NaN,NaN

## Match data with Salesforce format

In [27]:
df_sf = pd.DataFrame()

# Make sure NaN and NaT values are taken care of here

df_sf['Name']              = all_df['title']
df_sf['Tool_name__c']  = all_df['toolname']
df_sf['Tool_URL__c']     = all_df['toolname'].apply(lambda x: 'https://nanohub.org/tools/'+x)
df_sf['Published__c']    = all_df['published']

# stats
df_sf['Total_runs_over_lifetime__c']  = all_df['Total_runs_over_lifetime']
df_sf['Total_runs_past_year__c']        = all_df['Total_runs_last_year']
df_sf['Total_runs_past_3_months__c'] = all_df['Total_runs_last_3_month']
df_sf['Total_runs_past_month__c']     = all_df['Total_runs_last_month']
df_sf['Total_runs_past_week__c']       = all_df['Total_runs_last_week']
df_sf['Total_runs_past_24_hours__c'] = all_df['Total_runs_last_24_hours']

df_sf['Total_users_over_lifetime__c']  = all_df['Total_users_over_lifetime']
df_sf['Total_users_past_year__c']        = all_df['Total_users_last_year']
df_sf['Total_users_past_3_months__c'] = all_df['Total_users_last_3_month']
df_sf['Total_users_past_month__c']     = all_df['Total_users_last_month']
df_sf['Total_users_past_week__c']       = all_df['Total_users_last_week']
df_sf['Total_users_past_24_hours__c'] = all_df['Total_users_last_24_hours']

# solidify time-related columns from datetime to string
df_sf['Creation_date__c']  = all_df['registered'].dt.date.fillna('').astype('str')

df_sf.fillna(0, inplace=True)

sf_original_fields = df_sf.columns

# display
df_sf.head(2).T

,0,1
Name,Matlab,Octave
Tool_name__c,matlab,octave
Tool_URL__c,https://nanohub.org/tools/matlab,https://nanohub.org/tools/octave
Published__c,0,0
Total_runs_over_lifetime__c,3470.0,59.0
Total_runs_past_year__c,0.0,0.0
Total_runs_past_3_months__c,0.0,0.0
Total_runs_past_month__c,0.0,0.0
Total_runs_past_week__c,0.0,0.0
Total_runs_past_24_hours__c,0.0,0.0
Total_users_over_lifetime__c,162.0,30.0
Total_users_past_year__c,0.0,0.0
Total_users_past_3_months__c,0.0,0.0
Total_users_past_month__c,0.0,0.0
Total_users_past_week__c,0.0,0.0
Total_users_past_24_hours__c,0.0,0.0
Creation_date__c,2000-10-02,2001-04-04

## To Salesforce Sales Cloud CRM

In [28]:
db_s.object_id = object_id
db_s.external_id = external_id

In [29]:
# send data to Salesforce
db_s.send_data(df_sf)

[Success] Bulk job creation successful. Job ID = 7508W00000dmSkYQAU
hello
[Success] CSV upload successful. Job ID = 7508W00000dmSkYQAU
[Success] Closing job successful. Job ID = 7508W00000dmSkYQAU

In [30]:
# check status
db_s.check_bulk_status()

{'id': '7508W00000dmSkYQAU',
 'operation': 'upsert',
 'object': 'nanoHUB_tools__c',
 'createdById': '0055w00000DM5bOAAT',
 'createdDate': '2022-03-25T10:31:08.000+0000',
 'systemModstamp': '2022-03-25T10:31:10.000+0000',
 'state': 'InProgress',
 'externalIdFieldName': 'Tool_name__c',
 'concurrencyMode': 'Parallel',
 'contentType': 'CSV',
 'apiVersion': 47.0,
 'jobType': 'V2Ingest',
 'lineEnding': 'LF',
 'columnDelimiter': 'COMMA',
 'numberRecordsProcessed': 0,
 'numberRecordsFailed': 0,
 'retries': 0,
 'totalProcessingTime': 0,
 'apiActiveProcessingTime': 0,
 'apexProcessingTime': 0}