In [1]:
# API settings
api_url = '/services/data/v43.0/sobjects'
external_id = 'Name'
object_id = 'ContactToolAssociation__c'

from nanoHUB.application import Application

application = Application.get_instance()
salesforce = application.new_salesforce_engine()
db_s = salesforce

nanoHUB - Serving Students, Researchers & Instructors
Obtained Salesforce access token ...... True

In [2]:
import pandas as pd
import time
import datetime

In [3]:
# query the Salesforce IDs for contacts and citations. when updating junction objects, these IDs must be used

# get Salesforce ID for contacts
sf_username_df = db_s.query_data('SELECT Id, nanoHUB_user_ID__c, nanoHUB_username__c FROM Contact')

# display
sf_username_df.head(3)

[Success] Bulk job creation successful. Job ID = 7508W00000f7Yo4QAE
{"id":"7508W00000f7Yo4QAE","operation":"queryAll","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2022-04-22T15:13:43.000+0000","systemModstamp":"2022-04-22T15:13:43.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7508W00000f7Yo4QAE","operation":"queryAll","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2022-04-22T15:13:43.000+0000","systemModstamp":"2022-04-22T15:13:43.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":25577,"retries":0,"totalProcessingTime":1378}
{"id":"7508W00000f7Yo4QAE","operation":"queryAll","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2022-04-22T15:13:43.000+0000","systemModstamp":"2022-04-22T15:13:57.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":279606,"retries":0,"totalProcessingTime":13862}
[Success] Bulk job completed successfully.

                   Id  nanoHUB_user_ID__c nanoHUB_username__c
0  0035w000031Vsp1AAC               998.0             hubrepo
1  0035w000031Vsp2AAC              1683.0             support
2  0035w000031Vsp3AAC              1684.0            gridstat

In [4]:
display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'] == 'agrawalmahima361'])

                        Id  nanoHUB_user_ID__c nanoHUB_username__c
252288  0035w00003YY1KFAA1            346260.0    agrawalmahima361

In [5]:
display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'] == 'pjs970918'])
display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'] == 'wodyd909'])
display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'] == 'shrutik'])

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

In [19]:
sf_username_df = sf_username_df[~sf_username_df.nanoHUB_username__c.isna()]

display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'].str.contains('pjs970918')])
display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'].str.contains('wodyd909')])
#display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'].str.contains('shrutik')])

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

                   Id  nanoHUB_user_ID__c nanoHUB_username__c
0  0038W00001Yuww4QAB            362374.0            wodyd909

In [7]:
display(sf_username_df.loc[sf_username_df['Id'].str.contains('0038W00001Yuww4')])

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

In [8]:
display(len(sf_username_df))

253954

In [9]:
display(sf_username_df.loc[sf_username_df['nanoHUB_user_ID__c'] == 362374])

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

In [10]:
display(sf_username_df.loc[sf_username_df['nanoHUB_user_ID__c'] == 362299])
display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'].str.contains('bepisinusoidale')])

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

In [11]:
display(sf_username_df.loc[sf_username_df['nanoHUB_user_ID__c'] == 361923])
display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'].str.contains('ericbmdz')])

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

In [12]:
display(sf_username_df.loc[sf_username_df['nanoHUB_user_ID__c'] == 358792])
display(sf_username_df.loc[sf_username_df['nanoHUB_username__c'].str.contains('pbrumm')])

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

Empty DataFrame
Columns: [Id, nanoHUB_user_ID__c, nanoHUB_username__c]
Index: []

In [13]:
display(sf_username_df.tail())

                        Id  nanoHUB_user_ID__c nanoHUB_username__c
254024  0035w00003YYrqTAAT            347735.0         rubenmendia
254025  0035w00003YYrqUAAT            347736.0            chanyoup
254026  0035w00003YYrqVAAT            347738.0          ariaghevli
254027  0035w00003YYrqWAAT            347739.0             -186740
254028  0035w00003YYrqXAAT            347740.0          paulfhaake

In [15]:
query_str = '''
SELECT Id, nanoHUB_user_ID__c, nanoHUB_username__c FROM Contact WHERE nanoHUB_username__c = 'rubenmendia'
'''

In [16]:
# query the Salesforce IDs for contacts and citations. when updating junction objects, these IDs must be used

# get Salesforce ID for contacts
sf_username_df = db_s.query_data(query_str)

# display
sf_username_df.head(3)

[Success] Bulk job creation successful. Job ID = 7508W00000f7YzVQAU
{"id":"7508W00000f7YzVQAU","operation":"queryAll","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2022-04-22T15:17:59.000+0000","systemModstamp":"2022-04-22T15:17:59.000+0000","state":"UploadComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","retries":0,"totalProcessingTime":0}
{"id":"7508W00000f7YzVQAU","operation":"queryAll","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2022-04-22T15:17:59.000+0000","systemModstamp":"2022-04-22T15:18:02.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":1,"retries":0,"totalProcessingTime":303}
[Success] Bulk job completed successfully.

                   Id  nanoHUB_user_ID__c nanoHUB_username__c
0  0035w00003YYrqTAAT            347735.0         rubenmendia

In [17]:
query_str = '''
SELECT Id, nanoHUB_user_ID__c, nanoHUB_username__c FROM Contact WHERE nanoHUB_username__c = 'wodyd909'
'''

In [18]:
# query the Salesforce IDs for contacts and citations. when updating junction objects, these IDs must be used

# get Salesforce ID for contacts
sf_username_df = db_s.query_data(query_str)

# display
sf_username_df.head(3)

[Success] Bulk job creation successful. Job ID = 7508W00000f7YzpQAE
{"id":"7508W00000f7YzpQAE","operation":"queryAll","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2022-04-22T15:18:49.000+0000","systemModstamp":"2022-04-22T15:18:50.000+0000","state":"InProgress","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":0,"retries":0,"totalProcessingTime":0}
{"id":"7508W00000f7YzpQAE","operation":"queryAll","object":"Contact","createdById":"0055w00000DM5bOAAT","createdDate":"2022-04-22T15:18:49.000+0000","systemModstamp":"2022-04-22T15:18:51.000+0000","state":"JobComplete","concurrencyMode":"Parallel","contentType":"CSV","apiVersion":47.0,"jobType":"V2Query","lineEnding":"LF","columnDelimiter":"COMMA","numberRecordsProcessed":1,"retries":0,"totalProcessingTime":185}
[Success] Bulk job completed successfully.

                   Id  nanoHUB_user_ID__c nanoHUB_username__c
0  0038W00001Yuww4QAB            362374.0            wodyd909